@using Resources = ADOPets.Web.Resources.Wording
@model IEnumerable<ADOPets.Web.ViewModels.SharePetInfo.AddContactViewModel>

@{
    ViewBag.Title = Resources.SharePetInfo_Add_AddContact;
}

<div class="modal-dialog modal-lg" id="divAddContactViewModel">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" onclick="fromReload();"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.SharePetInfo_Add_Close</span></button>
            <h4 class="modal-title text-primary" id="myModalLabel">@Resources.SharePetInfo_Add_AddContact</h4>
        </div>
        <div class="modal-body">

            <div class="well" id="dvVetsearch">
                <div class="row">
                    <div class="col-md-2">
                        <h4>@Resources.SharePetInfo_Add_Search</h4>
                    </div>
                    <div class="col-md-4">
                        @Html.TextBox("FirstNameFilter", null, new { placeholder = Resources.SharePetInfo_Add_FirstNamePlaceHolder, @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBox("LastNameFilter", null, new { placeholder = Resources.SharePetInfo_Add_LastNamePlaceHolder, @class = "form-control" })
                    </div>

                </div>
            </div>
            <div class="customscroll" style="height: 400px;">

                <div class="table-responsive" id="displaylist">
                    <div class="customscroll">
                        <table id="tblAddContactList" class="table table-bordered myContact_table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@Resources.SharePetInfo_Add_FirstName</th>
                                    <th>@Resources.SharePetInfo_Add_LastName</th>
                                    <th>@Resources.Account_Login_UserName</th>
                                    <th>@Resources.SharePetInfo_Add_Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img height="50px" width="50px" src="@Url.Action("GetImage", "SharePetInfo", new { fromUserId = item.ContactId })" class="img-thumbnail" alt="" />
                                        </td>
                                        <td>
                                            @item.FirstName</td>
                                        <td>

                                            @item.LastName</td>
                                        <td>
                                            @item.UserName</td>
                                        <td>
                                            @using (Ajax.BeginForm("AddContact", "SharePetInfo", new { id = item.ContactId }, new AjaxOptions { UpdateTargetId = "divAddContactViewModel" }))
                                            {
                                                <button type="submit" class="btn btn-success btn-sm" title="@Resources.SharePetInfo_AddContact_Add" ><i class="fa fa-plus" style="padding-right: 0px;"></i></button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" title="@Resources.CloseButton" onclick="fromReload();" >@Resources.CloseButton</button>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/customs/views/SharePetInfo/_AddContacts.js")"></script>
