@using Resources = ADOPets.Web.Resources.Wording
@model IEnumerable<ADOPets.Web.ViewModels.SharePetInfo.MyContactViewModel>


<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.CloseButton</span></button>
            <h4 class="modal-title text-primary" id="myModalLabel">@Resources.SharePetInfo_MyContact_SelectedContacts</h4>
        </div>

        @using (Html.BeginForm("AddShareContacts", "SharePetInfo", FormMethod.Post, new { @id = "frmselectedContacts" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div class="well" id="vetsearch">
                    <div class="row">
                        <div class="col-md-2">
                            <h4>Search</h4>
                        </div>
                        <div class="col-md-4">
                            <label class="sr-only" for="exampleInputEmail2">@Resources.SharePetInfo_MyContact_FirstName_Placeholder</label>
                            @Html.TextBox("FirstNameFilter", null, new { placeholder = Resources.SharePetInfo_Add_FirstNamePlaceHolder, @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            <label class="sr-only" for="exampleInputPassword2">@Resources.SharePetInfo_MyContact_LastName_Placeholder</label>
                            @Html.TextBox("LastNameFilter", null, new { placeholder = Resources.SharePetInfo_Add_LastNamePlaceHolder, @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="customscroll">
                    <table id="tblSelectedContactList" class="table table-bordered myContact_table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@Resources.SharePetInfo_MyContact_FirstName</th>
                                <th>@Resources.SharePetInfo_MyContact_LastName</th>
                                <th>@Resources.Account_Login_UserName</th>
                                <th>
                                     <span class="btn btn-success btn-sm" >
                                    <input type="checkbox" id="selectall"  name="selectall" title="@Resources.SelectAll"  /></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {   
                                <tr>
                                    <td>
                                        <img height="50px" width="50px"  src="@Url.Action("GetImage", "SharePetInfo", new { fromUserId = item.ContactId })" class="img-thumbnail" alt="" /></td>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName</td>
                                    <td>@item.UserName</td>
                                    <td>
                                        <span class="btn btn-success btn-sm" >
                                        @if (item.IsContactExist)
                                        {
                                            <input type="checkbox"  name="shareInputs" class="checkbox" checked="checked" value="@item.Id" />
                                        }
                                        else
                                        {
                                            <input type="checkbox"  name="shareInputs" class="checkbox" value="@item.Id" />
                                        }
                                            </span>  
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.CloseButton</button>
                <button type="submit" class="btn btn-primary">@Resources.SaveChanges</button>
            </div>
        }
    </div>
</div>



<script src="@Url.Content("~/Scripts/customs/views/SharePetInfo/_SelectedContacts.js")"></script>
