@using Resources = ADOPets.Web.Resources.Wording
@model IEnumerable<ADOPets.Web.ViewModels.SharePetInfo.IndexViewModel>
@using Model
@{
    ViewBag.Title = Resources.SharePetInfo_Index_Title;
}
<div class="messageStyle">
    @{ Html.RenderPartial("_Alerts"); }
</div>

<div id="pageTitle">
    <div class="row">
        <div class="col-md-6">
            <h1>@Resources.SharePetInfo_Index_Title</h1>
        </div>
        <div class="col-md-6">
            <a href="@Url.Action("MyContact", "SharePetInfo")" class="btn btn-success pull-right">@Resources.SharePetInfo_Index_MyContacts</a>
        </div>
    </div>
</div>

<div id="mainContainer">
    @if (Roles.IsUserInRole(UserTypeEnum.Admin.ToString()) || Roles.IsUserInRole(UserTypeEnum.OwnerAdmin.ToString()))
    {
        <div id="hiderightsidebar">
            <img src="@Url.Content("~/Content/images/hide-img.png")" width="22" height="34" alt=""/>
        </div>
        <div id="showrightsidebar">
            <img src="@Url.Content("~/Content/images/show-img.png")" width="22" height="34" alt="" />
        </div>
    }

    @using (Html.BeginForm("ShareInfo", "SharePetInfo", FormMethod.Post, new { @id = "frmShareInfo" }))
    {
        <div id="divIndexPartial">
            @Html.Partial("_Index", Model)
        </div>
    }
</div>

<div class="clearfix"></div>
<div class="modal fade" id="selectContactsModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
<div class="modal fade" id="selectedcontactsModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
<div class="clearfix"></div>

<script src="@Url.Content("~/Scripts/customs/views/SharePetInfo/Index.js")"></script>
