@using Resources = ADOPets.Web.Resources.Wording
@model IEnumerable<ADOPets.Web.ViewModels.SharePetInfo.MyContactViewModel>
@using ADOPets.Web.Common.Extensions
@using Model
@{
    ViewBag.Title = Resources.SharePetInfo_MyContact_Title;
}
<div id="pageTitle">
    <div class="row">
        <div class="col-md-6">
            <h1>@Resources.SharePetInfo_MyContact_Title</h1>
        </div>
        <div class="col-md-6">
            <a href="javascript:void(0)" data-href="@Url.Action("AddContact", "SharePetInfo")" class="btn btn-success pull-right " id="btnAddContact" data-toggle="modal">@Resources.SharePetInfo_MyContact_AddContact</a>
            <a href="@Url.Action("Index", "SharePetInfo")"class="btn btn-primary pull-right" style="margin-right:10px;"><i class="fa fa-angle-left"></i>@Resources.SharePetInfo_MyContact_Back</a>
        </div>
    </div>
</div>
<div id="mainContainer">
    @if (!Roles.IsUserInRole(UserTypeEnum.VeterinarianAdo.ToString()) && !Roles.IsUserInRole(UserTypeEnum.VeterinarianExpert.ToString()))
    {
        <div id="hiderightsidebar">
            <img src="@Url.Content("~/Content/images/hide-img.png")" width="22" height="34" alt=""/>
        </div>
        <div id="showrightsidebar">
            <img src="@Url.Content("~/Content/images/show-img.png")" width="22" height="34" alt="" />
        </div>
    }
    <div id="dvContactList">
        @Html.RenderSuccessMessage("myContactSuccessMessage", TempData["SuccessMessage"])
        <table id="myContact_table" class="table table-bordered myContact_table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th width="10%"></th>
                    <th>@Resources.SharePetInfo_MyContact_FirstName</th>
                    <th>@Resources.SharePetInfo_MyContact_LastName</th>
                    <th>@Resources.Account_Login_UserName</th>
                    <th>@Resources.SharePetInfo_MyContact_Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {                
                    <tr>
                        <td>
                            <img height="50px" width="50px"  src="@Url.Action("GetImage", "SharePetInfo", new { fromUserId = item.ContactId })" class="img-thumbnail" alt="" />
                        </td>
                        <td>
                            @Html.Hidden("FirstName", item.FirstName)
                            @item.FirstName</td>
                        <td>
                            @Html.Hidden("LastName", item.LastName)
                            @item.LastName</td>
                        <td>
                            @Html.Hidden("UserName", item.UserName)
                            @item.UserName</td>
                        <td>
                            <a href="@Url.Action("DeleteContact", "SharePetInfo", new { contactId = item.ContactId })" class="btn btn-warning btn-sm btnDeleteContact"  id="btnDeleteContact" data-toggle="modal" data-tooltip="tooltip" data-placement="left" title="@Resources.Users_Index_RemoveUserTooltip"><i class="fa fa-close"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="addContactModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
<div class="modal fade" id="deleteContactModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
<script src="@Url.Content("~/Scripts/customs/views/SharePetInfo/MyContacts.js")"></script>
