@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.Temperature.AddViewModel
@using ADOPets.Web.Common.Extensions

<div class="modal-dialog">

    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="TemperatureModalLabel">@Resources.Temperature_Add_Title</h4>
        </div>
        
        @Html.Hidden("LeftValueRange", Resources.Temperature_Add_LeftValueRange)

        @using (Ajax.BeginForm("Add", "Temperature", new AjaxOptions
        {
            UpdateTargetId = "TemperatureSection",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "CloseDialogTemperature"
        }, new { @id = "addTemperatureForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="modal-body">

                @Html.HiddenFor(model => model.PetId)
                @Html.HiddenFor(model => model.MeasureUnit)

                @Html.LabelRequiredFor(model => model.MeasureDate, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.MeasureDate, new { @class = "form-control datepicker datepickerPast", placeholder = Resources.Temperature_Add_DatePlaceHolder, @Value = string.Empty })
                @Html.ValidationMessageFor(model => model.MeasureDate)
                <br>

                @Html.LabelRequiredFor(model => model.LeftValue, new { @class = "control-label" })
                <div class="row">
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.LeftValue, new { @class = "form-control", @Value = string.Empty })
                        @Model.ValueUnit
                        @Html.ValidationMessageFor(model => model.LeftValue)
                    </div>
                    <div>
                    </div>

                </div>

                <div class="clearfix"></div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">@Resources.Temperature_Add_SaveChanges</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Temperature_Add_Cancel</button>
            </div>
        }

    </div>
</div>
