@using Model
@using Resources = ADOPets.Web.Resources.Wording
@model IEnumerable<ADOPets.Web.ViewModels.Temperature.IndexViewModel>
@using ADOPets.Web.Common.Helpers

<div id="TemperatureSection" class="vitalMain">
    <div class="show-rightButtons">
        <div id="showHideTemperatureButtons">
            @Ajax.ActionLink(Resources.Temperature_Index_Celsius, "SwithMeasureUnit", "Temperature", new { petId = ViewBag.PetId, unit = HealthMeasureUnitEnum.Celsius },
                    new AjaxOptions { UpdateTargetId = "TemperatureSection", InsertionMode = InsertionMode.Replace }, new { style = "margin-right: 10px;" })
            @Ajax.ActionLink(Resources.Temperature_Index_Fahrenheit, "SwithMeasureUnit", "Temperature", new { petId = ViewBag.PetId, unit = HealthMeasureUnitEnum.Fahrenheit },
                    new AjaxOptions { UpdateTargetId = "TemperatureSection", InsertionMode = InsertionMode.Replace }, new { style = "margin-right: 10px;" })
            <a href="#" id="TemperatureDataCurve" class="btn btn-primary btn-sm" data-toggle="pill"><i class="fa fa-bar-chart-o"></i>@Resources.Temperature_Index_Curve</a>
            @if (UserHelper.CanDeletePet(ViewBag.PetId))
            {
                if (ShareInfoHelper.IsSharedUser(ViewBag.PetId, ViewBag.UserId))
                {
                    if (SMOHelper.CanEditPet(ViewBag.PetId))
                    {
                <a href="@Url.Action("GetDownloadHealthMeasure", "Pet", new { petid = ViewBag.PetId })"  class="btn btn-warning btn-sm pull-right" style="margin-left:10px;"><i class="fa fa-print"></i>@Resources.Pet_MedicalRecord_Print</a>    
                <a href="@Url.Action("Add", "Temperature", new { petId = ViewBag.PetId, unit = ViewBag.MeasureUnit })" id="addTemperature"  class="btn btn-primary btn-sm">
                    <i class="fa fa-plus-circle"></i><span>@Resources.Temperature_Index_Add</span>
                </a>
                    }
                }
            }
        </div>
        <div id="showHideTemperatureButtons-back" style="display: none;">
            @Ajax.ActionLink(Resources.Temperature_Index_Celsius, "SwithMeasureUnit", "Temperature", new { petId = ViewBag.PetId, unit = HealthMeasureUnitEnum.Celsius },
                    new AjaxOptions { UpdateTargetId = "TemperatureSection", OnSuccess = "ShowTemperatureCurve", InsertionMode = InsertionMode.Replace }, new { style = "margin-right: 10px;" })
            @Ajax.ActionLink(Resources.Temperature_Index_Fahrenheit, "SwithMeasureUnit", "Temperature", new { petId = ViewBag.PetId, unit = HealthMeasureUnitEnum.Fahrenheit },
                    new AjaxOptions { UpdateTargetId = "TemperatureSection", OnSuccess = "ShowTemperatureCurve", InsertionMode = InsertionMode.Replace }, new { style = "margin-right: 10px;" })
            <a href='#Temperature' id="ShowTemperatureTable" data-toggle="pill" class="btn btn-primary btn-sm"><i class="fa fa-table"></i>@Resources.Temperature_Index_DataButton</a>
        </div>
    </div>
    <div class="clearfix"></div>

    @{ Html.RenderPartial("~/Views/Temperature/_List.cshtml"); }


    <div id="addTemperatureModal" class="modal fade" tabindex="-1" role="dialog"></div>
    <div id="editTemperatureModal" class="modal fade" tabindex="-1" role="dialog"></div>
    <div id="deleteTemperatureModal" class="modal fade" tabindex="-1" role="dialog"></div>

    <script src="~/Scripts/customs/views/Temperature/Index.js"></script>

</div>
