@using Model
@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.Contact.SummaryViewModel

@{        ViewBag.Title = Resources.Contact_Summary_Title;    }

<div id="pageTitle">
    <div class="row">
        <div class="col-md-6">
            <h1>@Resources.Contact_Summary_Title</h1>
        </div>
        <div class="col-md-6">
            <a href="@Url.Action("Index", "Contact")" class="btn btn-primary pull-right">
                <i class="fa fa-angle-left"></i><span class="hidden-md">@Resources.Contact_Summary_BackButton</span>
            </a>
        </div>
    </div>
</div>

<div id="mainContainer">
    @if (!Roles.IsUserInRole(UserTypeEnum.VeterinarianAdo.ToString()) && !Roles.IsUserInRole(UserTypeEnum.VeterinarianExpert.ToString()) && !Roles.IsUserInRole(UserTypeEnum.VeterinarianLight.ToString()))
    {
        <div id="hiderightsidebar">
            <img src="@Url.Content("~/Content/images/hide-img.png")" width="22" height="34" alt=""/>
        </div>
        <div id="showrightsidebar">
            <img src="@Url.Content("~/Content/images/show-img.png")" width="22" height="34" alt="" />
        </div>
    }
    <div class="well" style="background: #FFF;">
        <div class="column first">
            <div class="detailrow">
                <div>@Resources.Contact_Summary_PetType</div>
                <div class="colonspace">:</div>
                <div>
                    @{ var c = new ADOPets.Web.Controllers.ContactController();
                       var petdetail = c.GetPetDetail(Model.PetId);   }
                    @petdetail[1]
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="detailrow">
                <div>@Resources.Contact_Summary_PetName</div>
                <div class="colonspace">:</div>
                <div>
                    @petdetail[0]
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="detailrow">
                <div>@Resources.Contact_Summary_ContactName</div>
                <div class="colonspace">:</div>
                <div>
                    @if (Model.Relationship == ContactTypeEnum.Owner)
                    {@Model.FirstName }
                    else
                    {<text>@Model.LastName @Model.MiddleName @Model.FirstName</text>}
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="detailrow">
                <div>@Resources.Contact_Summary_Relationship</div>
                <div class="colonspace">:</div>
                <div>
                    @Model.Relationship
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="detailrow">
                <div>@Resources.Contact_Summary_Email</div>
                <div class="colonspace">:</div>
                <div>
                    @Model.Email
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="column animated fadeInLeft">
            <div class="detailrow">
                <div>@Resources.Contact_Summary_Home</div>
                <div class="colonspace">:</div>
                <div>
                    @Model.Home
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="detailrow">
                <div>@Resources.Contact_Summary_Office</div>
                <div class="colonspace">:</div>
                <div>
                    @Model.Office
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="detailrow">
                <div>@Resources.Contact_Summary_Cell</div>
                <div class="colonspace">:</div>
                <div>
                    @Model.Cell
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="detailrow">
                <div>@Resources.Contact_Summary_Fax</div>
                <div class="colonspace">:</div>
                <div>
                    @Model.Fax
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

