@model ADOPets.Web.ViewModels.SMO.InvestigationViewModel
@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers
@using Model
@using Resources = ADOPets.Web.Resources.Wording;

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.CloseButton</span></button>
                        <h4 class="modal-title" id="myModalLabel">@Resources.Smo_Add_EditTest</h4>
                    </div>
                        <div class="modal-body">
                            <div class="form-group">
                                @Html.HiddenFor(model=>model.ID)
                                    @Html.LabelRequiredFor(model => model.TestDescription, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8" id="divEditTestName">
                                        @Html.TextBoxFor(modelItem => modelItem.TestDescription, new {@id="EditTestDescription", @class = "form-control", @placeholder = @Resources.Smo_Add_TestNamePlaceHolder, @data_bv_notempty = "true" })
                                        @Html.ValidationMessageFor(modelItem => modelItem.TestDescription)
                                    </div>
                                </div>
                            <div class="form-group">
                                    @Html.LabelRequiredFor(model => model.TestDate, new {@class = "col-md-4 control-label" })
                                    <div class="col-md-8" id="divEditTestDate">
                                        <div class="input-group date">                                            
                                            @Html.TextBoxFor(model => model.TestDate,"{0:d}", new {@id="EditTestDate",  @class = "form-control datepicker", placeholder = Resources.Smo_Add_TestDatePlaceHolder, @data_bv_time = "true", @style = "z-index:1000 !important;" })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            
                                        </div>
                                        @Html.ValidationMessageFor(modelItem => modelItem.TestDate)
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button id="testedclose-bt" type="button" class="btn btn-default" data-dismiss="modal">@Resources.Smo_Add_Close</button>
                            <button id="testedsubmit-bt" type="button" class="btn btn-primary">@Resources.Smo_Add_Submit</button>
                        </div>
                </div>
            </div>