@model  ADOPets.Web.ViewModels.SMO.InvestigationViewModel
@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers
@using Model
@using Resources = ADOPets.Web.Resources.Wording;

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.CloseButton</span></button>
            <h4 class="modal-title" id="myModalLabel">@Resources.Smo_Add_DeleteConfirm</h4>
        </div>
        <div class="modal-body">
            <div class="columnfull" style="width: 80%;">
                <div class="detailrow">
                    <div>@Resources.Smo_Add_TestName</div>
                    <div class="colonspace">:</div>
                    <div>@Model.TestDescription</div>
                    <div class="clearfix"></div>
                </div>
                <div class="detailrow">
                    <div>@Resources.Smo_Add_TestDate</div>
                    <div class="colonspace">:</div>
                    <div>@(Model.TestDate == null ? "" : @Model.TestDate.Value.ToShortDateString())</div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="testdelsubmit-bt" onclick="callDeleteTest('@(Model.ID)');" type="button" class="btn btn-warning" >@Resources.Smo_Add_Delete</button>
            <button id="testdelclose-bt" type="button" class="btn btn-primary" data-dismiss="modal">@Resources.Smo_Add_CancelButton</button>
        </div>
    </div>
</div>
