@model  ADOPets.Web.ViewModels.SMO.ExpertRelationViewModel
@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers
@using Model
@using Resources = ADOPets.Web.Resources.Wording;

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.Smo_Edit_Close</span></button>
        <h4 class="modal-title">@Resources.Smo_Edit_ConfirmReportMessage </h4>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnSendReport" class="btn btn-warning" >@Resources.Smo_Edit_YesButton</button>
        <button type="button" id="btnCloseSendReport" class="btn btn-primary"  data-dismiss="modal">@Resources.Smo_Edit_NoButton</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

<script src="@Url.Content("~/Scripts/customs/views/SMO/SubmitReport.js")"></script>