@model ADOPets.Web.ViewModels.SMO.AddViewModel
@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers
@using Model
@using Resources = ADOPets.Web.Resources.Wording;

@{
    ViewBag.Title = Resources.SMO_Add_HeaderTitle;
    int userId = ViewBag.UserId;
}

<div class="clearfix"></div>
<div id="content">
    <div id="pageTitle">
        <div class="row">
            <div class="col-md-8">
                <h1>@Resources.SMO_Add_HeaderTitle</h1>
            </div>
            <div class="col-md-4"><a href="@Url.Action("Index", "SMO")" class="btn btn-primary pull-right"><i class="fa fa-angle-left"></i>@Resources.Smo_Edit_BackButton</a> </div>
        </div>
    </div>
    <div id="mainContainer">
        <div id="hiderightsidebar">
            <img src="@Url.Content("~/Content/images/hide-img.png")" width="22" height="34" alt=""/>
        </div>
        <div id="showrightsidebar">
            <img src="@Url.Content("~/Content/images/show-img.png")" width="22" height="34" alt=""/>
        </div>
        <div id="cover4econsult" style="background:'@Url.Content("~/Content/images/smo-cover.jpg")' center left repeat;">
            <div id="Step1" class="consultSteptab radius3 active">
                <a id="callstep1" href="#" class="zoomin">@Resources.Smo_Edit_lblStep1<br>
                    <span>@Resources.Smo_Add_SetupInformation</span><i class="fa fa-arrow-right"></i></a>
            </div>
            @if (TempData["HasSMO_" + userId].ToString().ToLower() == "false")
            {
                <div id="Step2" class="consultSteptab radius3">
                    <a id="callstep2" href="#" class="zoomin">@Resources.Smo_Edit_lblStep2<br>
                        <span>@Resources.Smo_Add_BillingInformation</span><i class="fa fa-arrow-right"></i></a>
                </div>
                <div id="Step3" class="consultSteptab radius3">
                    <a id="callstep3" href="#" class="zoomin">@Resources.Smo_Edit_lblStep3<br>
                        <span>@Resources.Smo_Add_Confirmation</span></a>
                </div>
            }
            <div class="clearfix"></div>
        </div>
        <h2 class="text-primary text-center">@Resources.Smo_Add_ServiceCharge</h2>
        <hr>

        <div id="divStep">
            @Html.Partial("_Setup", Model.objSetup)
        </div>
       
    </div>
    <div class="clearfix"></div>
</div>
<!--content end here-->
<div class="clearfix"></div>
<script src="@Url.Content("~/Scripts/external/jquery.form.min.js")"></script>
<script src="@Url.Content("~/Scripts/customs/views/SMO/Add.js")"></script>


