@using Resources = ADOPets.Web.Resources.Wording;
@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers
@using Model
@model ADOPets.Web.ViewModels.SMO.DetailsViewModel
@{
    ViewBag.Title = Resources.Smo_Edit_Title;
    int userId = ViewBag.UserId;
    bool flagResponse = false;
    foreach (var item in Model.SMOExpertsList)
    {
        if (Roles.IsUserInRole(UserTypeEnum.VeterinarianExpert.ToString()) && item.VetExpertID == userId)
        {
            if (item.IsFinal)
            {
                flagResponse = true;
            }
        }
        //item.ExpertResponse != null)
    }
}

@Html.HiddenFor(model => model.SMOREquest.ID)
@Html.Hidden("IndexURL", Url.Action("Index", "SMO"))
@Html.Hidden("EditVDURL", Url.Action("Edit_VD", "SMO"))

<div class="clearfix"></div>

<div id="pageTitle">
    <div class="row">
        <div class="col-md-8">
            <h1>@Resources.Smo_Edit_SMOID - @(Html.DisplayFor(a => a.SMOId))<span class="label label-primary">@Model.SMOREquest.SMORequestStatusId</span></h1>
        </div>
        <div class="col-md-4"><a href="@Url.Action("Index", "SMO")" class="btn btn-primary pull-right"><i class="fa fa-angle-left"></i>@Resources.Smo_Edit_BackButton</a> </div>
    </div>
</div>
<div id="mainContainer">
    @*<div id="hiderightsidebar">
            <img src="@Url.Content("~/Content/images/hide-img.png")" width="22" height="34" alt=""/>
        </div>
        <div id="showrightsidebar">
            <img src="@Url.Content("~/Content/images/show-img.png")" width="22" height="34" alt=""/>
        </div>*@

    @if (Roles.IsUserInRole(UserTypeEnum.Admin.ToString()) || Roles.IsUserInRole(UserTypeEnum.VeterinarianAdo.ToString()) || Roles.IsUserInRole(UserTypeEnum.VeterinarianLight.ToString()))
    {
        <div id="cover4econsult" style="background:@Url.Content("~/images/smo-cover.jpg") center left repeat; ">
            @if (Model.SMOREquest.IsSMOPaymentDone)
            {
                <div class="consultSteptab radius3 active">
                    <a href="@Url.Action("Edit", "SMO", new { id = Model.SMOREquest.ID })" class="zoomin">@Resources.Smo_Edit_lblStep1<br>
                        <span>@Resources.Smo_Edit_SMODetails</span><i class="fa fa-arrow-right"></i></a>
                </div>

                <div class="consultSteptab radius3 ">
                    <a href="@Url.Action("AssignedExperts", "SMO", new { id = Model.SMOREquest.ID })" class="zoomin">@Resources.Smo_Edit_lblStep2<br>
                        <span>@if (@Model.SMOREquest.SMORequestStatusId != SMORequestStatusEnum.Complete)
                              { 
                            @Resources.Smo_Edit_Experts
                              }
                              else
                              {
                            @Resources.Smo_Edit_ExpertsDetails
                              }</span><i class="fa fa-arrow-right"></i></a>

                </div>
                <div class="consultSteptab radius3">
                    @if (@Model.SMOREquest.SMORequestStatusId != SMORequestStatusEnum.Complete)
                    { 
                        <a href="@Url.Action("SubmitReport", "SMO", new { id = @Model.SMOREquest.ID })" class="zoomin">@Resources.Smo_Edit_lblStep3<br>
                            <span>@Resources.Smo_Edit_SubmitReport</span></a> 
                    }
                    else
                    {
                        <a href="@Url.Action("ViewReport", "SMO", new { id = @Model.SMOREquest.ID })" class="zoomin">@Resources.Smo_Edit_lblStep3<br>
                            <span>@Resources.Smo_Edit_ViewReport</span></a>
                    }
                </div>
            }
            else
            {
                <div class="consultSteptab radius3 active">
                    <a href="javascript:void(0)" class="zoomin">@Resources.Smo_Edit_lblStep1<br>
                        <span>@Resources.Smo_Edit_SMODetails</span><i class="fa fa-arrow-right"></i></a>
                </div>
                <div class="consultSteptab radius3 ">
                    <a href="javascript:void(0)" class="zoomin">@Resources.Smo_Edit_lblStep2<br>
                        <span>@if (@Model.SMOREquest.SMORequestStatusId != SMORequestStatusEnum.Complete)
                              { 
                            @Resources.Smo_Edit_Experts
                              }
                              else
                              {
                            @Resources.Smo_Edit_ExpertsDetails
                              }
                        </span>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="consultSteptab radius3">
                    @if (@Model.SMOREquest.SMORequestStatusId != SMORequestStatusEnum.Complete)
                    { 
                        <a href="javascript:void(0)" class="zoomin">@Resources.Smo_Edit_lblStep3<br>
                            <span>@Resources.Smo_Edit_SubmitReport</span></a> 
                    }
                </div>
            }
            <div class="clearfix"></div>
        </div>
    }
    else
    {
        <div id="cover4econsult" style="background:@Url.Content("~/images/smo-cover.jpg") center left repeat; padding:2% 20%;">
            <div class="consultSteptab radius3 active" style="width: 40%;">
                <a href="@Url.Action("Edit", "SMO", new { id = Model.SMOREquest.ID })" class="zoomin">@Resources.Smo_Edit_lblStep1<br>
                    <span>@Resources.Smo_Edit_SMODetails</span><i class="fa fa-arrow-right"></i></a>
            </div>
            <div class="consultSteptab radius3 " style="width: 40%;">
                @if (Model.SMOREquest.IsSMOPaymentDone)
                {
                    if (flagResponse)
                    {
                    <a href="@Url.Action("ShowVetExpertResponse", "SMO", new { id = Model.SMOREquest.ID })" class="zoomin">@Resources.Smo_Edit_lblStep2<br>
                        <span>@Resources.Smo_Edit_ViewResponse
                        </span><i class="fa fa-arrow-right"></i></a> 
                    }
                    else
                    {
                    <a href="@Url.Action("VetExpertResponse", "SMO", new { id = Model.SMOREquest.ID })" class="zoomin">@Resources.Smo_Edit_lblStep2<br>
                        <span>@Resources.Smo_Edit_GiveResponse
                        </span><i class="fa fa-arrow-right"></i></a> 
                    }
                }
                else
                {
                    if (flagResponse)
                    {
                    <a href="@Url.Action("ShowVetExpertResponse", "SMO", new { id = Model.SMOREquest.ID })" class="zoomin">@Resources.Smo_Edit_lblStep2<br>
                        <span>@Resources.Smo_Edit_ViewResponse
                        </span><i class="fa fa-arrow-right"></i></a> 
                    }
                    else
                    {
                    <a href="javascript:void(0)" class="zoomin">@Resources.Smo_Edit_lblStep2<br>
                        <span>@Resources.Smo_Edit_GiveResponse
                        </span><i class="fa fa-arrow-right"></i></a> 
                    }
                }
            </div>
            <div class="clearfix"></div>
        </div>
    }

    <div id="econsultConfirm">
        <div class="columnfull">

            <div class="detailrow">
                <div>@Resources.Smo_Edit_Title</div>
                <div class="colonspace">:</div>
                <div>@Model.SMOREquest.Title</div>
                <div class="clearfix"></div>
            </div>

            <div class="detailrow">
                <div>@Resources.Smo_Edit_PetName</div>
                <div class="colonspace">:</div>
                <div><a href="@Url.Action("Edit", "Pet", new { id = Model.SMOREquest.PetId })">@(Model.SMOREquest.Pet == null ? "" : @Model.SMOREquest.Pet.Name)</a></div>
                <div class="clearfix"></div>
            </div>

            <div class="detailrow">
                <div>@Resources.Smo_Edit_SecondOpinionRequestfrom</div>
                <div class="colonspace">:</div>

                <div>@Model.OwnerName<a href="@Url.Action("NewMessage", "Message", new { toUserId = @Model.SMOREquest.UserId, requestFrom = "Smo_" + @Model.SMOREquest.ID })" style="text-decoration:none !important;" class="NewMsgModel"> <i class="fa fa-envelope"></i></a></div>
                <div class="clearfix"></div>
            </div>

            <div class="detailrow">
                <div>@Resources.Smo_Edit_Status</div>
                <div class="colonspace">:</div>
                <div>@Model.SMOREquest.SMORequestStatusId</div>
                <div class="clearfix"></div>
            </div>

        </div>
        <h5 class="bg-info text-primary" style="padding: 10px 15px; font-weight: 600; text-align: center">@Resources.Smo_Edit_Condition</h5>
        <div class="columnfull">
            <div class="detailrow">
                <div>@Resources.Smo_Edit_Diagnosis</div>
                <div class="colonspace">:</div>
                <div>@Model.SMOREquest.Diagnosis.Value</div>
                <div class="clearfix"></div>
            </div>
            <div class="detailrow">
                <div>@Resources.Smo_Edit_Comments</div>
                <div class="colonspace">:</div>
                <div>@Model.SMOREquest.Comments.Value</div>
                <div class="clearfix"></div>
            </div>
            <div class="detailrow">
                <div>@Resources.Smo_Edit_DateofOnset</div>
                <div class="colonspace">:</div>
                <div>@(Model.SMOREquest.DateOfOnSet == null ? "" : @Model.SMOREquest.DateOfOnSet.Value.ToString("MM/dd/yyyy"))</div>
                <div class="clearfix"></div>
            </div>
        </div>

        <h5 class="bg-info text-primary" style="padding: 10px 15px; font-weight: 600; text-align: center">@Resources.Smo_Edit_Test</h5>
        <div class="columnfull">
            <div class="detailrow">
                <div>@Resources.Smo_Edit_TestName<span class="caret"></span></div>
                <div class="colonspace">:</div>
                <div style="font-weight: 700;">@Resources.Smo_Edit_TestDate<span class="caret"></span></div>
                <div class="clearfix"></div>
            </div>
            @foreach (var a in Model.Investigations)
            {
                <div class="detailrow">
                    <div style="font-weight: 400;">@a.TestDescription</div>
                    <div class="colonspace">:</div>
                    <div>@(a.TestDate == null ? "" : @a.TestDate.Value.ToString("MM/dd/yyyy"))</div>
                    <div class="clearfix"></div>
                </div>
            }
        </div>


        <h5 class="bg-info text-primary" style="padding: 10px 15px; font-weight: 600; text-align: center">@Resources.Smo_Edit_Symptoms</h5>
        <div class="columnfull">
            <div class="detailrow">
                <div>@Resources.Smo_Edit_SymptomsMessage</div>
                <div class="colonspace">:</div>
                <div>
                    @Resources.Smo_Edit_Symptom1PlaceHolder- @Model.SMOREquest.Symptoms1.Value<br>
                    @Resources.Smo_Edit_Symptom2PlaceHolder- @Model.SMOREquest.Symptoms2.Value<br>
                    @Resources.Smo_Edit_Symptom3PlaceHolder- @Model.SMOREquest.Symptoms3.Value
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <h5 class="bg-info text-primary" style="padding: 10px 15px; font-weight: 600; text-align: center;">@Resources.Smo_Edit_FirstOpinion</h5>
        <div class="columnfull">

            <div class="detailrow">
                <div>@Resources.Smo_Edit_DetailsOfFirstMO</div>
                <div class="colonspace">:</div>
                <div>
                    @Html.TextAreaFor(modelItem => @Model.SMOREquest.FirstOpinion.Value, new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="detailrow">
                <div>@Resources.Smo_Edit_StateYourQuestion </div>
                <div class="colonspace">:</div>
                <div>
                    @Html.TextAreaFor(modelItem => @Model.SMOREquest.Question.Value, new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-6 col-md-6">
                @if (Model.SMOREquest.IsSMOPaymentDone)
                {                     
                    <a href="@Url.Action("VetExpertAdo", "SMO", new { id = Model.SMOREquest.ID })" class="btn btn-success btn-lg">@Resources.Smo_Edit_BtnNextStep <i class="fa fa-arrow-right"></i></a>          
                }
                else
                {
                    <a href="javascript:void(0)" class="btn btn-success btn-lg disabled">@Resources.Smo_Edit_BtnNextStep <i class="fa fa-arrow-right"></i></a>
                }

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>


<div class="clearfix"></div>

<div id="EditprofileModel" class="modal fade" tabindex="-1" role="dialog"></div>
<div id="addModalNewMessage" class="modal fade" tabindex="-1" role="dialog"></div>

<script src="@Url.Content("~/Scripts/customs/views/SMO/EditVD.js")"></script>
