@model IEnumerable<ADOPets.Web.ViewModels.SMO.ExpertRelationViewModel>
@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers
@using Model
@using Resources = ADOPets.Web.Resources.Wording;

@{
    ViewBag.Title = Resources.Smo_Index_PageTitle;
}


<div id="pageTitle">
    <div class="row">
        <div class="col-md-6">
            <h1>@Resources.Smo_Index_SMORequests</h1>
        </div>
        <div class="col-md-3">
            <span class="usericon">
                @Html.EnumDropDownList(typeof(SMORequestStatusEnum), "VEStatusFilter", ViewBag.SMORequestStatus as SMORequestStatusEnum?, Resources.Smo_Index_SearchByStatusPlaceHolder, new { @class = "form-control" })
            </span>
        </div>
        <div class="col-md-3">
            <span class="usericon">
                @Html.TextBox("SMOIdFilter", string.Empty, new { placeholder = Resources.Smo_Index_SearchBySMIdPlaceHolder, @class = "form-control usericon" })

            </span>
        </div>

    </div>
</div>

<div id="mainContainer">
    @*<div id="hiderightsidebar">
        <img src="../Content/images/hide-img.png" width="22" height="34" alt="" />
    </div>
    <div id="showrightsidebar">
        <img src="../Content/images/show-img.png" width="22" height="34" alt="" />
    </div>*@

    <div id="dvHdnTotalRecords" style="display: none;">
        @Model.Count().ToString()
    </div>

    <div id="table_id_wrapper" class="dataTables_wrapper form-inline no-footer">
        <table id="table_id" class="table table-bordered dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="table_id_info" style="width: 100%;">
            <thead>
                <tr role="row">
                    <th width="10%" class="sorting_asc" tabindex="0" aria-controls="table_id" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Pet Name: activate to sort column ascending" style="width: 41px;">@Resources.Smo_Index_PetName</th>
                    <th width="16%" class="sorting" tabindex="0" aria-controls="table_id" rowspan="1" colspan="1" aria-label="SMO ID: activate to sort column ascending" style="width: 83px;">@Resources.Smo_Index_SMOID</th>
                    <th width="15%" class="sorting" tabindex="0" aria-controls="table_id" rowspan="1" colspan="1" aria-label="Owner Name: activate to sort column ascending" style="width: 76px;">@Resources.Smo_Index_OwnerName</th>
                    <th width="26%" class="sorting" tabindex="0" aria-controls="table_id" rowspan="1" colspan="1" aria-label="Title: activate to sort column ascending" style="width: 151px;">@Resources.Smo_Index_Title</th>
                    <th width="10%" class="sorting" tabindex="0" aria-controls="table_id" rowspan="1" colspan="1" aria-label="Request Date: activate to sort column ascending" style="width: 53px;">@Resources.Smo_Index_RequestDate</th>
                    <th width="8%" class="sorting" tabindex="0" aria-controls="table_id" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 56px;">@Resources.Smo_Index_Status</th>
                    <th width="20%" class="sorting" tabindex="0" aria-controls="table_id" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 47px;">@Resources.Smo_Index_Action</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            { 
      
                <tr role="row" class="odd">
                    <td class="sorting_1"><a href="@Url.Action("EditPet", "SMO", new { PetId = @item.PetId, SmoId = @item.Id })">@Html.DisplayFor(modelItem => item.PetName)</a></td>
                    <td>@Html.DisplayFor(modelItem => item.SMOId)</td>
                    <td>@Html.DisplayFor(modelItem => item.OwnerName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.RequestDate)</td>
                    <td><span id="spnRequestStatus" class="label label-primary myreqstatusspan" data-myitemid="@(item.RequestStatus)" data-item-type="request_status">
                        @Html.DisplayFor(modelItem => item.RequestStatus)
                    </span></td>
                    <td style="width: 240px !important;">
                        <a href="@Url.Action("Edit", "SMO", new { id = item.Id })" class="btn btn-primary btn-sm" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Details"><i class="fa fa-eye"></i></a>
                        @if (item.RequestStatus == @ADOPets.Web.Resources.Enums.SMOOwnerRequestStatusEnum_Complete.ToString())
                        {
                            <a href="@Url.Action("ShowSMOVetReport", "SMO", new { id = @item.Id, PetId = @item.PetId })" data-href="@Url.Action("ShowSMOVetReport", "SMO", new { id = item.Id })" class="btn btn-success btn-sm" data-tooltip="tooltip" data-placement="top" title="" data-original-title="@Resources.Smo_Edit_Report"><i class="fa fa-download"></i></a>
                        }
                    </td>
                </tr>
  
            }

        </table>


    </div>

    <div class="clearfix"></div>
    <div id="showModalReport" class="modal fade" tabindex="-1" role="dialog"></div>
</div>

<script> function GetTranstaltionSMOStatus() {
     var result = {
         "Open": '@ADOPets.Web.Resources.Enums.SMOOwnerRequestStatusEnum_Open',
         "InProgress": '@ADOPets.Web.Resources.Enums.SMOOwnerRequestStatusEnum_InProgress',
         "Complete": '@ADOPets.Web.Resources.Enums.SMOOwnerRequestStatusEnum_Complete',
         "PaymentPending": '@ADOPets.Web.Resources.Enums.SMOOwnerRequestStatusEnum_PaymentPending',
         "Assigned": '@ADOPets.Web.Resources.Enums.SMORequestStatusEnum_Assigned',
         "Validated": '@ADOPets.Web.Resources.Enums.SMORequestStatusEnum_Validated',
         "TestDateRequired": '@Resources.Smo_Add_TestDateRequired',
         "TestNameRequired": '@Resources.Smo_Add_TestNameRequired'
     };
     return result;
 }</script>

<script src="@Url.Content("~/Scripts/external/bootstrap-confirmation.js")"></script>
<script src="@Url.Content("~/Scripts/external/pagination.js")"></script>
<script src="@Url.Content("~/Scripts/customs/views/SMO/Index_VE.js")"></script>
<script>
    var resourceMessage = '@Html.Raw(Resources.Smo_Index_PagedListPagerPageItemSliceAndTotalFormat)';
    var pager = new Pager();

</script>
