@using Resources = ADOPets.Web.Resources.Wording;
@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers
@using Model
@model ADOPets.Web.ViewModels.SMO.DetailsViewModel
@{
    ViewBag.Title = Resources.Smo_Edit_Title;
    int userId = ViewBag.UserId;
}

<link href="@Url.Content("~/Content/css/flaticon.css")" rel="stylesheet">

@Html.HiddenFor(model => model.SMOREquest.ID)
@Html.HiddenFor(model => model.SMOREquest.PetId)

@Html.Hidden("SaveSMOURL", Url.Action("SaveSMODetails", "SMO"))

@Html.Hidden("EditVDURL", Url.Action("Edit_VD", "SMO"))
@Html.Hidden("IndexURL", Url.Action("Index", "SMO"))
@Html.Hidden("PreviewURL", Url.Action("saveTempData", "SMO"))
@Html.Hidden("ConfirmSendReportURL", Url.Action("ConfirmSendReport", "SMO"))
@Html.Hidden("hdnInvalidImagetype", @Resources.Gallery_Add_ImageValidation)
<div class="clearfix"></div>

<div id="pageTitle">
    <div class="row">
        <div class="col-md-8">
            <h1>@Resources.Smo_Edit_SMOID - @(Html.DisplayFor(a => a.SMOId))<span class="label label-primary">@Model.SMOREquest.SMORequestStatusId</span></h1>
        </div>
        <div class="col-md-4"><a href="@Url.Action("Index", "SMO")" class="btn btn-primary pull-right"><i class="fa fa-angle-left"></i>@Resources.Smo_Edit_BackButton</a> </div>
    </div>
</div>
<div id="mainContainer">
    <div id="cover4econsult" style="background:@Url.Content("~/images/smo-cover.jpg") center left repeat; ">
        <div class="consultSteptab radius3">
            <a href="@Url.Action("Edit", "SMO", new { id = Model.SMOREquest.ID })" class="zoomin">@Resources.Smo_Edit_lblStep1<br>
                <span>@Resources.Smo_Edit_SMODetails</span><i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="consultSteptab radius3">
            <a href="@Url.Action("AssignedExperts", "SMO", new { id = Model.SMOREquest.ID })" class="zoomin">@Resources.Smo_Edit_lblStep2<br>
                <span>@if (@Model.SMOREquest.SMORequestStatusId != SMORequestStatusEnum.Complete)
                      { 
                    @Resources.Smo_Edit_Experts
                      }
                      else
                      {
                    @Resources.Smo_Edit_ExpertsDetails
                      }
                </span><i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="consultSteptab radius3 active">
            @if (@Model.SMOREquest.SMORequestStatusId != SMORequestStatusEnum.Complete)
            { 
                <a href="@Url.Action("SubmitReport", "SMO", new { id = @Model.SMOREquest.ID })" class="zoomin">@Resources.Smo_Edit_lblStep3<br>
                    <span>@Resources.Smo_Edit_SubmitReport</span></a> 
            }
            else
            {
                <a href="@Url.Action("ViewReport", "SMO", new { id = @Model.SMOREquest.ID })" class="zoomin">@Resources.Smo_Edit_lblStep3<br>
                    <span>@Resources.Smo_Edit_ViewReport</span></a>
            }
        </div>
        <div class="clearfix"></div>
    </div>
    <div>
        <div class="form-group">
            <label for="exampleInputEmail1">@Resources.Smo_Edit_lblReasonforRequest:</label>
            @Html.TextAreaFor(modelItem => Model.SMOREquest.RequestReason, new { @class = "form-control", @rows = "3", @placeholder = Resources.Smo_Edit_ReasonPlaceHolder })
            @Html.ValidationMessageFor(modelItem => modelItem.SMOREquest.RequestReason)
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">@Resources.Smo_Edit_lblMedicalHistory:</label>
            @Html.TextAreaFor(modelItem => Model.SMOREquest.MedicalHistoryComment, new { @class = "form-control", @rows = "3", @placeholder = Resources.Smo_Edit_MedicalHistoryPlaceHolder })
            @Html.ValidationMessageFor(modelItem => modelItem.SMOREquest.MedicalHistoryComment)
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">@Resources.Smo_Edit_Conclusion</label>
            @Html.TextAreaFor(modelItem => Model.SMOREquest.VetComment.Value, new { @class = "form-control", @rows = "3", @placeholder = Resources.Smo_Edit_ConclusionTextPlaceHolder })
            @Html.ValidationMessageFor(modelItem => modelItem.SMOREquest.VetComment)
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">@Resources.Smo_Edit_lblAdditionalInformation:</label>
            @Html.TextAreaFor(modelItem => Model.SMOREquest.AdditionalInformation, new { @class = "form-control", @rows = "3", @placeholder = Resources.Smo_Edit_InformationPlaceHolder })
            @Html.ValidationMessageFor(modelItem => modelItem.SMOREquest.AdditionalInformation)
        </div>
        <div class="row attachment2">
            <div class="col-md-1">
                <a href="#" class="btn btn-success attachBtn" id="btnFileUpload"><span class="fa fa-paperclip"></span>
                    <input type="file" id="customattch"></a>
            </div>
            <div class="col-md-11">
                @if (Model.lstAttachment != null)
                {
                    foreach (var item in Model.lstAttachment)
                    {                        
                    <div class="btn-group" data-fileid="@item.Id">
                        <a href="@Url.Action("GetFile", "SMO", new { fileName = item.DocumentPath })" id="@("viewDocument" + ViewBag.DocumentType)"  
            class="btn btn-default" target="_blank">@Html.CreateDivFromFileExtension(item.DocumentPath) @item.DocumentName</a>
                        <button type="button" class="btn btn-default" onclick="removeFile('@item.Id','@item.SMOId')" ><span class="fa fa-times"></span></button>
                    </div>
                    }

                }
                <div class="" id="dvAlbumPhotoList">
                </div>
                <div id="dvGalleryUploadError" class="error">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="form-group">
        <div class="col-md-6">
            <a id="previewSmo" href="@Url.Action("PreviewSMO", "SMO", new { id = Model.SMOREquest.ID })",  data-href="@Url.Action("PreviewSMO", "SMO", new { id = Model.SMOREquest.ID })" class="btn btn-warning btn-lg pull-right" style="margin-left:10px;"><i class="fa fa-eye"></i>@Resources.Smo_Edit_PreviewButton</a>
            <a href="@Url.Action("AssignedExperts", "SMO", new { id = Model.SMOREquest.ID })" class="btn btn-primary btn-lg pull-right"><i class="fa fa-arrow-left"></i>@Resources.Smo_Edit_BackButton</a>
        </div>
        <div class="col-md-6">
            <button type="button" id="btnSaveSecondOpinion" class="btn btn-success btn-lg">@Resources.SMO_Edit_SaveSMO </button>
            <input type="hidden" id="hdnPetInfoStatus" name="hdnPetInfoStatus" />
            @if (TempData["ExpertResponseCount_" + userId] != null && int.Parse(Convert.ToString(TempData["ExpertResponseCount_" + userId])) > 0)
            {
                <button type="button" id="btnSubmitSecondOpinion" class="btn btn-success btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg">@Resources.Smo_Edit_BtnSubmitSecondOpinion</button>
            }
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div id="ConfrimModel" class="modal fade" tabindex="-1" role="dialog"></div>
<div id="addModalAlbumGallery" class="modal fade" tabindex="-1" role="dialog"></div>
<div id="alertModalPetInfoStatus" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.Smo_Edit_Close</span></button>
                <h4 class="modal-title">@Resources.SMO_Edit_PetInfoStatusMessage </h4>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseSendReport" class="btn btn-primary" data-dismiss="modal">@Resources.Pet_Index_StatusConfirmationOkLabel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->

</div>

<script type="text/javascript" src="~/Scripts/external/ajaxupload.js"></script>
<script src="@Url.Content("~/Scripts/customs/views/SMO/SubmitReport.js")"></script>

<style>
    .dvprocessing {
        display: none;
        position: absolute;
        background: #fff;
    }

    #img-load {
        position: absolute;
    }
</style>
