@using Resources = ADOPets.Web.Resources.Wording
@model IEnumerable<ADOPets.Web.ViewModels.NewsFeed.NewsFeedNotificationsViewModel>

<div class="row">
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {

        <a href="@Url.Action("ShowGallery", "NewsFeed", new { galleryId = item.Id, type = item.TypeOfNotification, albumId = item.AlbumId })">
            <div class="col-md-3">
                <img  src="@Url.Action("GetImage", "NewsFeed", new { fromUserId = item.UserId })" />
            </div>
            <div class="col-md-9 ellipsisText">
                @item.Message
                <br />
                <span>@item.HoursAgo</span>
            </div>
        </a>
        <div class="sidebx-sep1"></div>
        }
        <div class="col-md-9 ellipsisText" align="center">
            @Html.ActionLink(Resources.NewsFeed_SeeAll, "NewsFeedList", "NewsFeed")
        </div>
    }
    else
    {
        @Resources.Gallery_NewsFeedNotification_NoRecords
    }

</div>
<br />
