@using Resources = ADOPets.Web.Resources.Wording

@{
    ViewBag.Title = Resources.Link_PetSittersLink_Title;
}

<div id="pageTitle">
    <div class="row">
        <div class="col-md-12">
            <h1>@Resources.Link_PetSittersLink_Title</h1>
        </div>
    </div>
</div>
<div id="mainContainer">
    <div id="hiderightsidebar">
        <img src="@Url.Content("~/Content/images/hide-img.png")" width="22" height="34" alt=""/>
    </div>
    <div id="showrightsidebar">
        <img src="@Url.Content("~/Content/images/show-img.png")" width="22" height="34" alt="" />
    </div>

    <div id="linksHead">
        @Resources.Link_PetSittersLink_PetSittersInfo
    </div>

    <div id="linksLogo">
        <a href="http://mms.petsitters.org/members/directory/search_napps.php" data-toggle="modal" data-target="#confirmModal" rel="nofollow" target="_blank">
            <img src="@Url.Content("~/Content/images/petsitters.jpg")" class="img-thumbnail" alt="mms.petsitters.org/" /></a>

        <a href="http://www.petsit.com/locate/" data-toggle="modal" data-target="#confirmModal" rel="nofollow" target="_blank">
            <img src="@Url.Content("~/Content/images/petsit.jpg")" class="img-thumbnail" alt="//www.petsit.com" /></a>

        <a href="http://www.petsittersnetwork.com" data-toggle="modal" data-target="#confirmModal" rel="nofollow" target="_blank">
            <img src="@Url.Content("~/Content/images/petsittersnetwork.jpg")" class="img-thumbnail" alt="www.petsittersnetwork.com " /></a>

        <a href="http://www.care.com/pet-sitters" data-toggle="modal" data-target="#confirmModal" rel="nofollow" target="_blank">
            <img src="@Url.Content("~/Content/images/care.jpg")" class="img-thumbnail" alt="www.care.com" /></a>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.CloseButton</span></button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Link_PetSittersLink_Confirmation</h4>
                </div>
                <div class="modal-body">
                    @Resources.Link_PetSittersLink_ConfirmationInfo
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Link_PetSittersLink_Close</button>
                    <button type="button" class="btn btn-primary" id="agreeBtn">@Resources.Link_PetSittersLink_Agree</button>
                </div>
            </div>
        </div>
    </div>
</div>
