@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.Condition.DeleteViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@Resources.Condition_Delete_Message</h4>
        </div>
        @using (Ajax.BeginForm("Delete", "Condition", new AjaxOptions
        {
            UpdateTargetId = "conditionList",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "CloseDialogCondition"
        }, new { @class = "form-horizontal defaultForm", @role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.PetId)
            @Html.HiddenFor(m => m.Id)
            
            <div class="modal-body">
                <div class="columnfull" style="width: 80%;">
                    <div class="detailrow">
                        <div>@Resources.Condition_Delete_PathologyName</div>
                        <div class="colonspace">:</div>
                        <div>@Model.PathologyName</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                        <div>@Resources.Condition_Delete_VisitDate</div>
                        <div class="colonspace">:</div>
                        <div>@Model.VisitDate.ToShortDateString()</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Resources.Condition_Delete_EndDate</div>
                        <div class="colonspace">:</div>
                        <div>
                            @if (Model.EndDate.HasValue)
                            {
                                @Model.EndDate.Value.ToShortDateString()
                            }
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Resources.Condition_Delete_Comment</div>
                        <div class="colonspace">:</div>
                        <div>@Html.Raw("<pre>" + Model.Comment + "</pre>")</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning">@Resources.Condition_Delete_SaveChanges</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">@Resources.Condition_Delete_Cancel</button>
            </div>
        }

    </div>
</div>
