@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.VideoGallery.EditViewModel
@using ADOPets.Web.Common.Extensions


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.CloseButton</span></button>
            <h4 class="modal-title" id="myModalLabel">@Resources.Gallery_Edit_VideoTitle</h4>
        </div>
        @using (Html.BeginForm("EditVideo", "VideoGallery", new { petId = Model.PetId }, FormMethod.Post, new { @id = "editVideoGalleryForm", @class = "form-horizontal defaultForm", @role = "form" }))
        {         
            @Html.AntiForgeryToken()
            <div class="modal-body">
                @Html.HiddenFor(model => model.PetId)
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelRequiredFor(model => model.Title, new { @class = "col-sm-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = Resources.Gallery_Edit_TitlePlaceHolder })
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.VideoURL, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        <img id="imgGalleryPhoto" src="@Url.Action("GetVideoImage", "VideoGallery", new { galleryId = Model.Id })" class="img-thumbnail" style="width: 140px; height: 140px;" alt="" />
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCloseModel">@Resources.Gallery_Edit_CloseButton</button>
                <button type="submit" class="btn btn-primary">@Resources.Gallery_Edit_SubmitButton</button>
            </div>
        }
    </div>
</div>


<script src="@Url.Content("~/Scripts/external/jquery.form.min.js")"></script>
<script src="@Url.Content("~/Scripts/customs/views/VideoGallery/Edit.js")"></script>

