@using Model
@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.HealthMeasureTracker.HealthMeasureTrackerViewModel

@Html.Hidden("currentHealthMeasureTracker", Model.Current)


<div id="mrsubcatnavlevel2">
    <ul class="nav nav-tabs  nav-pills tracker">
        <li><a href='#@HealthMeasureGroupEnum.Vitals' data-toggle="pill">@Resources.HealthMeasureTracker_Index_Vitals
            <div class="talk-up"></div></a></li>
        <li><a href='#@HealthMeasureGroupEnum.CBG' data-toggle="pill">@Resources.HealthMeasureTracker_Index_CBG</a></li>
        <li><a href='#@HealthMeasureGroupEnum.Hemoglobin' data-toggle="pill">@Resources.HealthMeasureTracker_Index_Hemoglobin</a></li>
        <li><a href='#@HealthMeasureGroupEnum.Hemogram' data-toggle="pill">@Resources.HealthMeasureTracker_Index_Hemogram</a></li>
        <li><a href='#@HealthMeasureGroupEnum.SerumElectrolytes' data-toggle="pill">@Resources.HealthMeasureTracker_Index_SerumElectrolytes</a></li>
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane active" id='@HealthMeasureGroupEnum.Vitals'>
        @{ Html.RenderPartial("~/Views/Vitals/_Index.cshtml", Model.Vitals); }
    </div>
    <div class="tab-pane" id='@HealthMeasureGroupEnum.CBG'>
        @{ Html.RenderPartial("~/Views/CBG/_Index.cshtml", Model.Cbg); }
    </div>
    <div class="tab-pane" id='@HealthMeasureGroupEnum.Hemoglobin'>
        @{ Html.RenderPartial("~/Views/Hemoglobin/_Index.cshtml", Model.Hmglbin); }
    </div>
    <div class="tab-pane" id='@HealthMeasureGroupEnum.Hemogram'>
        @{ Html.RenderPartial("~/Views/Hemogram/_Index.cshtml", Model.Hmgram); }
    </div>
    <div class="tab-pane" id='@HealthMeasureGroupEnum.SerumElectrolytes'>
        @{ Html.RenderPartial("~/Views/SerumElectrolyte/_Index.cshtml", Model.SerumElectro); }
    </div>

</div>

<script src="~/Scripts/customs/views/HealthMeasureTracker/Index.js"></script>
