@using Resources = ADOPets.Web.Resources.Wording
@using ADOPets.Web.Common.Helpers;
@model IEnumerable<ADOPets.Web.ViewModels.GalleryComment.CommentsViewModel>

@foreach (var item in Model)
{
    <div class="commentsrow">
        <div class="profilepicthumb">
            <img src="@Url.Action("GetImage", "SharePetInfo", new { fromUserId = item.UserId })" class="img-thumbnail" style="width:80px;height:80px;" alt="">
        </div>
        <div class="commentsContent">
            <h4>@item.FirstName @item.LastName</h4>
            @item.Comment
            <div class="commentsNav">
                @if (ViewBag.UserId != item.UserId)
                {
                    <a href="javascript:void(0);" class="replyshow">@Resources.Comment_Reply</a> <text>|</text> @item.CreationDate.ToString("dd MMM yyyy hh:mm tt")
                    <div class="replyComment fadeIn animated">
                        <textarea id="varReplyComment_@item.CommentId" class="form-control" rows="3" placeholder="@Resources.Gallery_Comment_Placeholder_Edit_Reply"></textarea><br>
                        <button type="reset" class="btn btn-default btn-sm cancelComment">@Resources.Comment_Cancel</button>
                        <button type="button" onclick="ReplyComments('@item.CommentId','@item.GalleryType');" class="btn btn-success btn-sm">@Resources.Comment_Reply</button>
                    </div>
                }
                else
                {
                    <a href="@Url.Action("DeleteComment", "GalleryComment", new { commentId = item.CommentId, type = item.GalleryType })" class="deleteComment">@Resources.Comment_Delete</a> 
                    <text>|</text> <a href="javascript:void(0);" class="editshow">@Resources.Comment_Edit</a> <text>|</text> @item.CreationDate.ToString("dd MMM yyyy hh:mm tt")
                    <div class="editComment fadeIn animated">
                        <textarea id="varEditComment_@item.CommentId" class="form-control" rows="3" placeholder="@Resources.Gallery_Comment_Placeholder_Edit_Reply">@item.Comment</textarea><br>
                        <button type="button" onclick="CancelEditComment('@item.CommentId','@item.Comment','@item.GalleryType');"  class="btn btn-default btn-sm cancelComment">@Resources.Comment_Cancel</button>
                        <button type="button"  onclick="EditComments('@item.CommentId','@item.GalleryType');" class="btn btn-success btn-sm">@Resources.Comment_Save</button>
                    </div>
                }

                <div class="clearfix"></div>
            </div>
            @foreach (var item2 in item.GalleryCommentReplies)
            {
                <div class="commentsrow">
                    <div class="profilepicthumb">
                        <img src="@Url.Action("GetImage", "SharePetInfo", new { fromUserId = item2.UserId })" class="img-thumbnail" style="width:80px;height:80px;"  alt="">
                    </div>
                    <div class="commentsContent">
                        <h4>@item2.User.FirstName.Value @item2.User.LastName.Value</h4>
                        @item2.Comment
                        <div class="commentsNav">
                            @if (ViewBag.UserId == item2.UserId)
                            {
                                <a href="@Url.Action("DeleteReply", "GalleryComment", new { replyId = @item2.Id, type = item.GalleryType, galleryId = item.GalleryId })" class="deleteReply">@Resources.Comment_Delete</a><text> | </text>
                                <a href="javascript:void(0);" class="editshow">@Resources.Comment_Edit</a> <text> | </text>
                            } @TimeZoneHelper.ConvertDateTimeByUserTimeZoneId(Convert.ToDateTime(item2.CreationDate)).ToString("dd MMM yyyy hh:mm tt")
                            <div class="editComment fadeIn animated">
                                <textarea id="varEditReply_@item2.Id" class="form-control" rows="3" placeholder="@Resources.Gallery_Comment_Placeholder_Edit_Reply">@item2.Comment</textarea><br>
                                <button type="button" onclick="CancelEditReply('@item2.Id','@item2.Comment','@item.GalleryType','@item.GalleryId');"  class="btn btn-default btn-sm cancelComment">@Resources.Comment_Cancel</button>
                                <button type="button"  onclick="EditReply('@item2.Id','@item.GalleryType','@item.GalleryId');" class="btn btn-success btn-sm">@Resources.Comment_Save</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="clearfix"></div>
            }
        </div>
        <div class="clearfix"></div>
        <hr>
    </div>
}

<a class="btn btn-default" id="seeMoreRecords" style="display: block;"><i class="glyphicon glyphicon-refresh"></i>@Resources.Message_Notification_SeeMore</a>
<div id="backTotop"><a href="#top-text" data-tooltip="tooltip" data-placement="top" title="@Resources.Message_Notification_BackToTop"><span class="fa fa-chevron-up"></span></a></div>

<script>
    $(".replyshow").click(function (e) {
        $(this).next(".replyComment").toggle();
        $(this).parent().toggleClass('commentsNavheight')
    });

    $(".editshow").click(function (e) {
        $(this).next(".editComment").toggle();
        $(this).parent().toggleClass('commentsNavheight')
    });

    $(".cancelComment").click(function (e) {
        $(".replyComment, .editComment").hide();
        $(".commentsNav").removeClass('commentsNavheight');
    });

</script>
<script src="@Url.Content("~/Scripts/customs/views/GalleryComment/LoadComments.js")"></script>
<script src="@Url.Content("~/Scripts/customs/views/GalleryComment/GalleryComments.js")"></script>

