@using ADOPets.Web.Common.Authentication
@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers
@using Model
@using Resources = ADOPets.Web.Resources.Wording

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    @Html.MetaAcceptLanguage()
    @Html.GetDomainName()
    @Html.GetCurrencyName()
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.gif")" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/headerJS")
    @Styles.Render("~/Content/css/styles")

    <link href="@Url.Content("~/Content/css/ADOPets.css")" rel="stylesheet" />

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @Html.Hidden("ApplicationPath", HttpContextHelper.GetApplicationPath())

    <script>
        function GetTranstaltionForTour() {
      var result = {
          "NotificationTitle": '@Resources.TakeATour_Index_NotificationTitle',
          "NotificationMessage": '@Resources.TakeATour_Index_NotificationMessage',
          "StartTourTitle": '@Resources.TakeATour_Index_StartTourTitle',
          "StartTourMessage": '@Resources.TakeATour_Index_StartTourMessage',
          "HowToTitle": '@Resources.TakeATour_Index_HowToTitle',
          "HowToMessage": '@Resources.TakeATour_Index_HowToMessage',
          "DownloadTitle": '@Resources.TakeATour_Index_DownloadTitle',
          "DownloadMessage": '@Resources.TakeATour_Index_DownloadMessage',
          "LeftMenuTitle": '@Resources.TakeATour_Index_LeftMenu',
          "LeftMenuMessage": '@Resources.TakeATour_Index_LeftMenuMessage',
          "NewsFeedTitle": '@Resources.TakeATour_Index_NewsFeedTitle',
          "NewsFeedMessage": '@Resources.TakeATour_Index_NewsFeedMessage',
          "ToggleRightPanelTitle": '@Resources.TakeATour_Index_ToggleRightPanelTitle',
          "ToggleRightPanelMessage": '@Resources.TakeATour_Index_ToggleRightPanelMessage',
          "RightMenuTitle": '@Resources.TakeATour_Index_RightMenuTitle',
          "RightMenuMessage": '@Resources.TakeATour_Index_RightMenuMessage',
          "YourReminderTitle": '@Resources.TakeATour_Index_YourReminderTitle',
          "YourReminderMessage": '@Resources.TakeATour_Index_YourReminderMessage',
          "YourMessagesTitle": '@Resources.TakeATour_Index_YourMessagesTitle',
          "YourMessagesMessage": '@Resources.TakeATour_Index_YourMessagesMessage',
          "ViewDetailsTitle": '@Resources.TakeATour_Index_ViewDetailsTitle',
          "ViewDetailsMessage": '@Resources.TakeATour_Index_ViewDetailsMessage',
          "AddNewPetTitle": '@Resources.TakeATour_Index_AddNewPetTitle',
          "AddNewPetMessage": '@Resources.TakeATour_Index_AddNewPetMessage',
          "IDTabMessage": '@Resources.TakeATour_Index_IDTabMessage',
          "EditImageMessage": '@Resources.TakeATour_Index_EditImageMessage',
          "EditImageTitle": '@Resources.TakeATour_Index_EditImageTitle',
          "EditPetMessage": '@Resources.TakeATour_Index_EditPetMessage',
          "InsuranceMessage": '@Resources.TakeATour_Index_InsuranceMessage',
          "InsuranceTitle": '@Resources.TakeATour_Index_InsuranceTitle',
          "AdoptionTitle": '@Resources.TakeATour_Id_AdoptionTitle',
          "AdoptionMessage": '@Resources.TakeATour_Id_AdoptionMessage',
          "IdCardTabTitle": '@Resources.TakeATour_Id_IdCardTabTitle',
          "IdCardTabMessage": '@Resources.TakeATour_Id_IdCardTabMessage',
          "ManagePetTitle": '@Resources.TakeATour_Id_ManagePetTitle',
          "ManagePetMessage": '@Resources.TakeATour_Id_ManagePetMessage',
          "MRTabTitle": '@Resources.TakeATour_Index_MRTabTitle',
          "MRTabMessage": '@Resources.TakeATour_Index_MRTabMessage',
          "HealthHistoryTitle": '@Resources.TakeATour_Index_HealthHistoryTitle',
          "HealthHistoryMessage": '@Resources.TakeATour_Index_HealthHistoryMessage',
          "TrackerTitle": '@Resources.TakeATour_Index_TrackerTitle',
          "TrackerMessage": '@Resources.TakeATour_Index_TrackerMessage',
          "DocumentsTitle": '@Resources.TakeATour_Index_DocumentsTitle',
          "DocumentsMessage": '@Resources.TakeATour_Index_DocumentsMessage',
          "HomeTitle": '@Resources.TakeATour_Index_HomeTitle',
          "HomeMessage": '@Resources.TakeATour_Index_HomeMessage',
          "MyAccountTitle": '@Resources.TakeATour_Index_MyAccountTitle',
          "MyAccountMessage": '@Resources.TakeATour_Index_MyAccountMessage',
          "sPrevious": '@Resources.Shared_Layout_sPrevious',
          "sNext": '@Resources.Shared_Layout_sNext',
          "sResume": '@Resources.Shared_Layout_sResume',
          "sPause": '@Resources.Shared_Layout_sPause',
          "sEndTour": '@Resources.Shared_Layout_sEndTour'
      };
      return result;
  }</script>
</head>
<body>
    <div id="loader_container"></div>
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <div id="notification-container" class="fadeIn animated">
            @{ Html.RenderAction("MessageCount", "Message"); }
        </div>
        <div id="wrapper">
            <div id="top-text">@Resources.Shared_Layout_HeaderMessageFirst
                @if (DomainHelper.GetDomain() == DomainTypeEnum.French)
                { 
                    @Resources.Shared_Layout_HeaderMessageContactNumber
                }
                else if (DomainHelper.GetDomain() == DomainTypeEnum.India)
                {
                    @Resources.Shared_Layout_HeaderMessageContactNumberIN
                }
                else
                {
                    @Resources.Shared_Layout_HeaderMessageContactNumberUS
                }
            </div>
            <div id="leftSidebar" class="fadeleft1">
                <ul class="leftMenuicon pull-left fadeleft">
                    <li id="notibell"><a href="javascript:void(0)"><i class="fa fa-bell animated swing continuously" data-toggle="tooltip" data-placement="right" title="@Resources.TakeATour_Index_NotificationTitle"></i></a>
                        <span class="animated bounce continuously" id="spnMessageCount"></span></li>
                    <li id="homesite"><a href="@Url.Action("Index", "Pet")"><i class="fa fa-home"  data-toggle="tooltip" data-placement="right" title="@Resources.TakeATour_Index_HomeTitle"></i></a></li>
                    <li id="faqTour"><a href="javascript:void(0)" id="startTour"><i class="flaticon-direction8" data-toggle="tooltip" data-placement="right" title="@Resources.TakeATour_Index_StartTourTitle"></i></a></li>
                    <li id="howTo"><a href="#"><i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="@Resources.TakeATour_Index_HowToTitle"></i></a></li>

                    @if (DomainHelper.GetDomain() == DomainTypeEnum.US)
                    {    
                        <li id="downloadPhr"><a href="@Url.Action("UserGuide", "Account")"><i class="fa fa-download" data-toggle="tooltip" data-placement="right" title="@Resources.TakeATour_Index_DownloadTitle"></i></a></li>
                    }
                    else
                    {
                        <li id="downloadPhr"><a href="#"><i class="fa fa-download" data-toggle="tooltip" data-placement="right" title="@Resources.TakeATour_Index_DownloadTitle"></i></a></li>
                    }
                </ul>
                <div class="pull-left fadeleft" id="logo">
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {    <a href="@Url.Action("Index", "Pet")">
                        <img src="@DomainHelper.GetLogoPath()" class="img-responsive">
                    </a>   
                        <!--countdown and date box start here-->
                        <div id="clockbox" class="sidebx">
                            @TimeZoneHelper.GetCurrentUserLocalTime().ToString("f")
                        </div>
                    }
                    <!--countdown and date box end here-->
                </div>
                <div class="clearfix"></div>
                <div class="space1"></div>
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <!--##########Left Menu Start here##########-->
                    <ul class="leftMenuicon pull-left fadeleft menuActive">
                        <li><a href="@Url.Action("Index", "Pet", new { })" data-select="lnkPet" class=""><i class="fa fa-paw"></i></a></li>
                        <li><a href="@Url.Action("Index", "Contact", new { })" data-select="lnkContact"><i class="fa fa-phone-square"></i></a></li>
                        <li><a href="@Url.Action("Index", "Calender", new { })" data-select="lnkCalender"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="@Url.Action("Index", "Message", new { })" data-select="lnkMessage"><i class="fa fa-envelope"></i></a></li>
                        <li><a href="#" data-select="lnkLink"><i class="fa fa-search"></i></a></li>
                    </ul>
                    <ul class="leftMenu pull-left menuActive">

                        @if (Roles.IsUserInRole(UserTypeEnum.OwnerAdmin.ToString()))
                        {
                            <li class="fadeleft">
                                <a href="@Url.Action("Index", "Pet", new { })" data-select="lnkPet" class="">
                                    <div class="arrow-left"></div>@Resources.Shared_Layout_Pets</a>
                            </li>
                            <li class="fadeleft">
                                <a href="@Url.Action("Index", "Contact", new { })" data-select="lnkContact">
                                    <div class="arrow-left"></div>
                                    @Resources.Shared_Layout_EmergencyContacts</a>
                            </li>
                        }
                        else if (Roles.IsUserInRole(UserTypeEnum.Admin.ToString()) || Roles.IsUserInRole(UserTypeEnum.VeterinarianAdo.ToString()) || Roles.IsUserInRole(UserTypeEnum.VeterinarianExpert.ToString()))
                        {
                            <li class="fadeleft">
                                <a href="@Url.Action("Index", "Pet", new { })" data-select="lnkPet">
                                    <div class="arrow-left"></div>@Resources.Shared_Layout_AdminPets</a>
                            </li>
                            <li class="fadeleft">
                                <a href="@Url.Action("Index", "Profile", new { })" data-select="lnkContact">
                                    <div class="arrow-left"></div>
                                    @Resources.Shared_Layout_AdminUsers</a>
                            </li>
                        }
                        <li class="fadeleft" id="demo2">
                            <a href="@Url.Action("Index", "Calender", new { })" data-select="lnkCalender">
                                <div class="arrow-left"></div>@Resources.Shared_Layout_Calendar</a>
                        </li>
                        <li class="fadeleft">
                            <a href="@Url.Action("Index", "Message", new { })" data-select="lnkMessage">
                                <div class="arrow-left"></div>
                                @Resources.Shared_Layout_Messages</a>
                        </li>
                        <li class="fadeleft">
                            <a href="javascript:void(0);" class="open-submenu" data-select="lnkLink">
                                <div class="arrow-left"></div>
                                @Resources.Shared_Layout_sLinks</a>
                            <ul class="submenu">

                                @if (User.IsHsbcUser())
                                {
                                    if (!User.IsHsbcUserTrial())
                                    {
                                    <li>
                                        <a href="@Url.Action("VeterinariansLinks", "Link", new { })" data-select="lnkVet">@Resources.Shared_Layout_lVeterinarians</a>
                                    </li>
                                    }

                                    <li><a href="@Url.Action("GroomersLink", "Link", new { })" data-select="lnkGroomer">@Resources.Shared_Layout_lGroomers</a></li>
                               
                                    if (!User.IsHsbcUserTrial())
                                    {
                                    <li><a href="@Url.Action("BreedersLink", "Link", new { })" data-select="lnkBreeder">@Resources.Shared_Layout_lBreeders</a></li>
                                    }
                                    <li><a href="@Url.Action("BoardersLink", "Link", new { })" data-select="lnkBoarder">@Resources.Shared_Layout_lBoarders</a></li>
                                    <li><a href="@Url.Action("PetSittersLink", "Link", new { })" data-select="lnkPetSitter">@Resources.Shared_Layout_lPetSitters</a></li>
                              
                                    if (!User.IsHsbcUserTrial())
                                    {
                                    <li><a href="@Url.Action("TrainersLink", "Link", new { })" data-select="lnkTrainer">@Resources.Shared_Layout_lTrainers</a></li>
                                    }
                                    <li><a href="@Url.Action("OtherLink", "Link", new { })" data-select="lnkOther">@Resources.Shared_Layout_lOther</a></li>}
                                else
                                {    <li>
                                    <a href="@Url.Action("VeterinariansLinks", "Link", new { })" data-select="lnkVet">@Resources.Shared_Layout_lVeterinarians</a>
                                </li>
                                    <li><a href="@Url.Action("GroomersLink", "Link", new { })" data-select="lnkGroomer">@Resources.Shared_Layout_lGroomers</a></li>
                                    <li><a href="@Url.Action("BreedersLink", "Link", new { })" data-select="lnkBreeder">@Resources.Shared_Layout_lBreeders</a></li>
                                    <li><a href="@Url.Action("BoardersLink", "Link", new { })" data-select="lnkBoarder">@Resources.Shared_Layout_lBoarders</a></li>
                                    <li><a href="@Url.Action("PetSittersLink", "Link", new { })" data-select="lnkPetSitter">@Resources.Shared_Layout_lPetSitters</a></li>
                                    <li><a href="@Url.Action("TrainersLink", "Link", new { })" data-select="lnkTrainer">@Resources.Shared_Layout_lTrainers</a></li>
                                    <li><a href="@Url.Action("OtherLink", "Link", new { })" data-select="lnkOther">@Resources.Shared_Layout_lOther</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                    <!--##########Left Menu End here##########-->
                }
                <div class="clearfix"></div>
                <div class="sidebx fadeleft" id="newsfeed">
                    <div class="title"><i class="fa fa-share-alt-square"></i>@Resources.Shared_Layout_NewsFeed</div>
                    <div class="contentBx">
                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            Html.RenderAction("NewsFeedNotification", "NewsFeed");
                        }
                    </div>
                </div>
            </div>
            <!--Left sidebar end here-->
            <div id="rightSidebar">
                <div id="hiderightsidebar4lap">
                    <img src="@Url.Content("~/Content/images/hide-img.png")" width="22" height="34" alt=""/>
                </div>

                <div id="owner-profilepic">
                    <img src="@Url.Action("GetImage", "Message", new { fromUserId = HttpContext.Current.User.GetUserId() })" class="img-responsive" />

                </div>
                <h3 id="userName">
                    <a href="@Url.Action("OwnerDetail", "Profile")">
                        @String.Format("{0}", HttpContext.Current.User.ToCustomPrincipal().CustomIdentity.FirstName)
                    </a>
                </h3>
                @if (Culture == "en-US")
                { 
                    <div id="owner-profilecontrol">
                        <a href="@Url.Action("OwnerDetail", "Profile")" id="lnkMyAccountOwner"><i class="fa fa-gear (alias)"></i>@Resources.Shared_Layout_MyAccount</a> |
                    <a href="@Url.Action("LogOut", "Account")" id="lnkLogout"><i class="fa fa-sign-out"></i>@Resources.Shared_Layout_LogOut</a>
                    </div>
                }
                else
                {
                    <div id="owner-profilecontrol">
                        <a href="@Url.Action("OwnerDetail", "Profile")" id="lnkMyAccountOwner"><i class="fa fa-gear (alias)"></i>@Resources.Shared_Layout_MyAccount</a>
                        <br />
                        <a href="@Url.Action("LogOut", "Account")" id="lnkLogout"><i class="fa fa-sign-out"></i>@Resources.Shared_Layout_LogOut</a>
                    </div>
                }
                <div class="sidebx" id="quickLinks">
                    <div class="contentBx">
                        <div class="row">
                            @if (DomainHelper.GetDomain() == DomainTypeEnum.US || DomainHelper.GetDomain() == DomainTypeEnum.French || DomainHelper.GetDomain() == DomainTypeEnum.India)
                            {
                                if (User.IsHsbcUserFirstTenDays())
                                {
                                <a href="#" data-toggle="modal" data-target="#hsbcDialog" rel="nofollow">
                                    <div class="col-md-2"><i class="fa fa-comment smo-icon"></i></div>
                                    <div class="col-md-10 ellipsisText">
                                        @Resources.Shared_Layout_SecondOpinion<br>
                                        <span>@Resources.Shared_Layout_SMOSubMessage</span>
                                    </div>
                                </a>
                                }
                                else
                                {
                                    if (DomainHelper.GetDomain() == DomainTypeEnum.US || DomainHelper.GetDomain() == DomainTypeEnum.French || DomainHelper.GetDomain() == DomainTypeEnum.India)
                                    {
                                <a href="@Url.Action("Index", "SMO", new { })" data-select="lnkSMO">
                                    <div class="col-md-2"><i class="fa fa-comment smo-icon"></i></div>
                                    <div class="col-md-10 ellipsisText">
                                        @Resources.Shared_Layout_SecondOpinion<br>
                                        <span>@Resources.Shared_Layout_SMOSubMessage</span>
                                    </div>
                                </a>
                                    }
                                    else if (DomainHelper.GetDomain() != DomainTypeEnum.French)
                                    {
                                <a href="@Url.Action("ComingSoon_SMO", "ComingSoon", new { })" data-select="lnkSMO">
                                    <div class="col-md-2"><i class="fa fa-comment smo-icon"></i></div>
                                    <div class="col-md-10 ellipsisText">
                                        @Resources.Shared_Layout_SecondOpinion<br>
                                        <span>@Resources.Shared_Layout_SMOSubMessage</span>
                                    </div>
                                </a>
                                    }
                                }  <div class="sidebx-sep1"></div>
                            }

                            <div class="clearfix"></div>
                            @if (DomainHelper.GetDomain() == DomainTypeEnum.US || DomainHelper.GetDomain() == DomainTypeEnum.French || DomainHelper.GetDomain() == DomainTypeEnum.India)
                            {
                                if (User.IsHsbcUserFirstTenDays())
                                {
                                <a href="#" data-toggle="modal" data-target="#hsbcDialog" rel="nofollow">
                                    <div class="col-md-2"><i class="fa fa-desktop"></i></div>
                                    <div class="col-md-10 ellipsisText">
                                        @Resources.Shared_Layout_EConsultation<br>
                                        <span>@Resources.Shared_Layout_EConSubMessage</span>
                                    </div>
                                </a>
                                }
                                else
                                {
                                    if (DomainHelper.GetDomain() == DomainTypeEnum.US || DomainHelper.GetDomain() == DomainTypeEnum.French || DomainHelper.GetDomain() == DomainTypeEnum.India)
                                    {
                                <a href="@Url.Action("Index", "Econsultation", new { })" data-select="lnkEconsultation">
                                    <div class="col-md-2"><i class="fa fa-desktop"></i></div>
                                    <div class="col-md-10 ellipsisText">
                                        @Resources.Shared_Layout_EConsultation<br>
                                        <span>@Resources.Shared_Layout_EConSubMessage</span>
                                    </div>
                                </a>
                                    }
                                    else if (DomainHelper.GetDomain() == DomainTypeEnum.French)
                                    {
                                <a href="@Url.Action("ComingSoon_ECON", "ComingSoon", new { })" data-select="lnkEconsultation">
                                    <div class="col-md-2"><i class="fa fa-desktop"></i></div>
                                    <div class="col-md-10 ellipsisText">
                                        @Resources.Shared_Layout_EConsultation<br>
                                        <span>@Resources.Shared_Layout_EConSubMessage</span>
                                    </div>
                                </a>
                                    }
                                }  <div class="sidebx-sep1"></div>
                            }

                            <div class="clearfix"></div>
                            <a href="@Url.Action("Index", "SharePetInfo")" data-select="lnkComingSoon">
                                @*   <a href="@Url.Action("ComingSoon_SHARE", "ComingSoon", new {  })" data-select="lnkComingSoon")">*@
                                <div class="col-md-2"><i class="fa fa-share-square sharepet-icon"></i></div>
                                <div class="col-md-10 ellipsisText">
                                    @Resources.Shared_Layout_SharePetInfo<br>
                                    <span>@Resources.Shared_Layout_SharePetInfoSubMessage</span>
                                </div>
                            </a>
                            <div class="sidebx-sep1"></div>
                            <div class="clearfix"></div>
                            <a href="@Url.Action("Invite", "Message", new { })" data-select="lnkInvite">
                                <div class="col-md-2"><i class="fa fa-users"></i></div>
                                <div class="col-md-10 ellipsisText">
                                    @Resources.Shared_Layout_Invite<br>
                                    <span>@Resources.Shared_Layout_InviteSubMessage</span>
                                </div>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="sidebx" id="reminderbx">
                    <div class="title"><i class="fa fa-calendar-o"></i>@Resources.Shared_Layout_Reminder</div>
                    <div class="contentBx" id="dvReminderData">
                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            Html.RenderAction("CalenderNotification", "Calender");
                        }
                    </div>
                </div>
                <div class="sidebx" id="msgbx">
                    <div class="title"><i class="fa fa-envelope"></i>@Resources.Shared_Layout_Messages</div>
                    <div class="contentBx">
                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            Html.RenderAction("MessageNotification", "Message");
                        }
                    </div>
                </div>
            </div>
            <!--Right sidebar end here-->
            <div class="clearfix"></div>
            <div id="content">
                <div id="MessageContainer" class="messageStyle">
                    @{ Html.RenderPartial("_Alerts"); }
                </div>

                @RenderBody()
                <div class="clearfix"></div>
            </div>

            <!--content end here-->
            <div class="clearfix"></div>
            <div id="footer">@Resources.Shared_Layout_Copyright |  <a id="termscondition" href="@Url.Action("Index", "TermAndCondition")">@Resources.Shared_Layout_TermsAndConditions</a> | <a href="@Url.Action("Index", "PrivacyAndPolicy")">@Resources.Shared_Layout_PrivacyPolicy</a></div>
        </div>
      
        <script>
            $(document).ready(function () {
                GetClock('@TimeZoneHelper.GetCurrentUserLocalTime().ToString("f")');
            });
        </script>
    }
    else
    {
        <div class="container-fluid">
            <div class="row">
                <!--  header start here-->
                <div id="header" class="col-md-12">
                    <div class="col-md-3">
                        <a href="http://www.activ4pets.com/" target="_blank">
                            <img src="@DomainHelper.GetLoginLogoPath()" width="224" height="71" class="img-responsive" />
                        </a>

                    </div>
                    <div class="col-md-9">
                        <div id="right-header">
                            <div class="dropdown" style="margin: 18px 0 0 0;">
                                <a id="dLabel" role="button" class="btn btn-primary" data-toggle="dropdown" data-target="#" href="javascript:void(0);">
                                    @if (Culture == "en-US")
                                    {      
                                        <img src="@Url.Content("~/Content/images/bg-flag-us.gif")" width="21" height="13" style="margin: -2px 5px 0 0;" alt="@Resources.Shared_Layout_US" />@Resources.Shared_Layout_English <span class="caret"></span>
                                    }
                                    else if (Culture == "fr-FR")
                                    {                                     
                                        <img src="@Url.Content("~/Content/images/bg-flag-fr.gif")" width="21" height="13" style="margin: -2px 5px 0 0;" alt="@Resources.Shared_Layout_FR" />@Resources.Shared_Layout_French <span class="caret"></span>
                                    }
                                    else if (Culture == "en-IN")
                                    {                                     
                                        <img src="@Url.Content("~/Content/images/bg-flag-in.gif")" width="21" height="13" style="margin: -2px 5px 0 0;" alt="@Resources.Shared_Layout_India" />@Resources.Shared_Layout_English_India <span class="caret"></span>
                                    }
                                    else if (DomainHelper.GetDomain() == DomainTypeEnum.US)
                                    {// Culture="pt-PT"
                                        <img src="@Url.Content("~/Content/images/bg-flag-pt.gif")" width="21" height="13" style="margin: -2px 5px 0 0;" alt="@Resources.Shared_Layout_PT" />@Resources.Shared_Layout_Portuguese <span class="caret"></span>
                                    }                                    
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="left: -50px;">
                                    <li><a href="@Url.Action("SetCulture", "Account", new { culture = "en-US" })">
                                        <img src="@Url.Content("~/Content/images/bg-flag-us.gif")" width="21" height="13" style="margin: -2px 5px 0 0;" alt="@Resources.Shared_Layout_US" />@Resources.Shared_Layout_English</a></li>
                                    <li><a href="@Url.Action("SetCulture", "Account", new { culture = "fr-FR" })">
                                        <img src="@Url.Content("~/Content/images/bg-flag-fr.gif")" width="21" height="13" style="margin: -2px 5px 0 0;" alt="@Resources.Shared_Layout_FR" />@Resources.Shared_Layout_French</a></li>
                                   @* <li><a href="@Url.Action("SetCulture", "Account", new { culture = "en-IN" })">
                                        <img src="@Url.Content("~/Content/images/bg-flag-in.gif")" width="21" height="13" style="margin: -2px 5px 0 0;" alt="@Resources.Shared_Layout_India" />@Resources.Shared_Layout_English_India</a></li>*@
                                    @if (DomainHelper.GetDomain() == DomainTypeEnum.US)
                                    { 
                                    <li><a href="@Url.Action("SetCulture", "Account", new { culture = "pt-PT" })">
                                        <img src="@Url.Content("~/Content/images/bg-flag-pt.gif")" width="21" height="13" style="margin: -2px 5px 0 0;" alt="@Resources.Shared_Layout_PT" />@Resources.Shared_Layout_Portuguese</a></li>
                                    }                                    
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            @RenderBody()
        </div>
        
        <div id="footer" style="margin-top: 25px;">@Resources.Shared_Layout_Copyright |<a href="@Url.Action("Index", "TermAndCondition")">@Resources.Shared_Layout_TermsAndConditions</a> | <a href="@Url.Action("Index", "PrivacyAndPolicy")">@Resources.Shared_Layout_PrivacyPolicy</a> </div>
    }
    <div id="PrivacyAndPolicyModal" class="modal fade" tabindex="-1" role="dialog"></div>
    <div id="divLoading" style="width: 100%; position: fixed; top: 0; left: 0; text-align: center; display: none; z-index: 9999; background: url('/Content/images/ajax_loader_blue_128.gif') center center no-repeat;"></div>

    <div class="modal fade" id="hsbcDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.Shared_Layout_HsbcDialogCloseButton</span></button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Shared_Layout_HsbcDialogTitle</h4>
                </div>
                <div class="modal-body">
                    @Resources.Shared_Layout_HsbcDialogText
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnClose">@Resources.Shared_Layout_HsbcDialogCloseButton</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function GetTranstaltion() {
            var result = {
                "Sunday": '@Resources.Shared_Layout_dSunday',
                "Monday": '@Resources.Shared_Layout_dMonday',
                "Tuesday": '@Resources.Shared_Layout_dTuesday',
                "Wednesday": '@Resources.Shared_Layout_dWednesday',
                "Thursday": '@Resources.Shared_Layout_dThursday',
                "Friday": '@Resources.Shared_Layout_dFriday',
                "Saturday": '@Resources.Shared_Layout_dSaturday',
                "January": '@Resources.Shared_Layout_mJanuary',
                "February": '@Resources.Shared_Layout_mFebruary',
                "March": '@Resources.Shared_Layout_mMarch',
                "April": '@Resources.Shared_Layout_mApril',
                "May": '@Resources.Shared_Layout_mMay',
                "June": '@Resources.Shared_Layout_mJune',
                "July": '@Resources.Shared_Layout_mJuly',
                "August": '@Resources.Shared_Layout_mAugust',
                "September": '@Resources.Shared_Layout_mSeptember',
                "October": '@Resources.Shared_Layout_mOctober',
                "November": '@Resources.Shared_Layout_mNovember',
                "December": '@Resources.Shared_Layout_mDecember'
            };
            return result;
        }

        function GetTranstaltionForDatatable(Colid) {
            var result = {
                "language": {
                    "sProcessing": '@Resources.Shared_Layout_sProcessing',
                    "sSearch": '@Resources.Shared_Layout_sSearch',
                    "sLengthMenu": '@Resources.Shared_Layout_sLengthMenu',
                    "sInfo": '@Resources.Shared_Layout_sInfo',
                    "sInfoEmpty": '@Resources.Shared_Layout_sInfoEmpty',
                    "sInfoFiltered": '@Resources.Shared_Layout_sInfoFiltered',
                    "sInfoPostFix": "",
                    "sLoadingRecords": '@Resources.Shared_Layout_sLoadingRecords',
                    "sZeroRecords": '@Resources.Shared_Layout_sZeroRecords',
                    "sEmptyTable": '@Resources.Shared_Layout_sEmptyTable',
                    "oPaginate": {
                        "sFirst": '@Resources.Shared_Layout_sFirst',
                        "sPrevious": '@Resources.Shared_Layout_sPrevious',
                        "sNext": '@Resources.Shared_Layout_sNext',
                        "sLast": '@Resources.Shared_Layout_sLast'
                    },
                    "oAria": {
                        "sSortAscending": '@Resources.Shared_Layout_sSortAscending',
                        "sSortDescending": '@Resources.Shared_Layout_sSortDescending'
                    }
                },
                "aoColumnDefs": [],
                "aaSorting": []
            };
            if (Colid != "null" || typeof Colid === 'undefined' || !Colid.length) {
                var sortColumns = [];
                $.each(Colid, function (index, value) {
                    var items = { "sType": '@Resources.Shared_Layout_sDateFormat', "aTargets": [value] };
                    sortColumns.push(items);
                });
                result.aoColumnDefs = sortColumns;
                }
            return result;
        }
    </script>
    @Scripts.Render("~/bundles/footerJS")
    <script src="@Url.Content("~/Scripts/customs/views/Shared/Layout.js")"></script>
</body>
</html>
