@using ADOPets.Web.Common.Helpers
@using Resources = ADOPets.Web.Resources.Wording
@{
    Layout = null;
}
<style>
    p {
        font-size: 12px;
    }

    p, h3 {
        font-family: Arial, Helvetica, sans-serif;
    }

    .space4pera {
        height: 5px;
        display: block;
    }

    i {
        padding-right: 10px;
    }
</style>

<link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/css/font-awesome.css")" rel="stylesheet">
<html>
<head>
    <title>@Resources.Shared_PrivacyAndPolicy_Title</title>
</head>
<body>
    <div id="header" class="col-lg-12 col-md-12">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a href="@Url.Action("Index", "Pet")">
                <img src="@DomainHelper.GetLogoPath()" width="224" height="71" class="img-responsive">
            </a>
        </div>
    </div>

    <div style="margin: 0 200px 50px 200px; font-size: 14px !important">
        @Html.Raw(Resources.Shared_PrivacyAndPolicy_PLEASEREADCAREFULLYBEFORESIGNINGENROLLMENTFORM)
        @Html.Raw(Resources.Shared_PrivacyAndPolicy_USERACCOUNTPASSWORDANDSECURITY)
        @Html.Raw(Resources.Shared_PrivacyAndPolicy_HOWTOACCESSMODIFYORDELETEYOURPERSONALINFORMATION)
        @Html.Raw(Resources.Shared_PrivacyAndPolicy_COOKIES)
        @Html.Raw(Resources.Shared_PrivacyAndPolicy_INFORMATIONAUTOMATICALLYCOLLECTEDBYOURSITE)
        @Html.Raw(Resources.Shared_PrivacyAndPolicy_PERSONALINFORMATIONSHARING)
        @Html.Raw(Resources.Shared_PrivacyAndPolicy_SECONDMEDICALOPINIONANDECONSULTATIONSERVICE)
        @Html.Raw(Resources.Shared_PrivacyAndPolicy_SECURITY)
        @Html.Raw(Resources.Shared_PrivacyAndPolicy_LINKSTOOTHERWEBSITES)
        @Html.Raw(Resources.Shared_PrivacyAndPolicy_CHANGESINTHISPRIVACYPOLICY)
        @Html.Raw(Resources.Shared_PrivacyAndPolicy_CONTACTUS)
        @Html.Raw(Resources.Shared_PrivacyAndPolicy_Email)
        
         
    </div>

</body>
</html>
