@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.Account.BillingViewModel
@using ADOPets.Web.Common.Extensions
@using Model
@{
    Layout = null;

    var plancharge = string.Format(Resources.Account_Signup_TotalSubscriptionCharge, Model.Price);
}

<div id="mainBox">
    <div class="customscroll" style="border: none;">
        <div class="signUpcontent">
            <div class="planList col-lg-10 col-lg-offset-1" style="margin-bottom: 15px;">
                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td style="width: 150px;"><span>@Model.PlanType</span><br>
                                @Model.PlanName</td>
                            <td>@Model.BasePlanDescription
                            </td>
                                 <td style="width: 100px;">
                                <label>
                                    <i class="fa fa-check-circle"></i>
                                    <br>
                                    @Resources.Account_Signup_PlanSelected</label></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-10 col-lg-offset-1">
                <div class="row">
                    <div class="space20"></div>
                    <div style="margin: 0px auto 15px auto; width: 335px;">
                        <img src="~/Content/images/mastercard.png">
                        <img src="~/Content/images/jcb.png">
                        <img src="~/Content/images/visa.png">
                        <img src="~/Content/images/discover-Network.png">
                    </div>
                    @using (Html.BeginForm("MakePayment", "Account", FormMethod.Post, new { id = "frmMakePayment" }))
                    {                          
@*@Html.HiddenFor(model => model.PlanId)*@
                        <div class="form-group col-sm-12">
                            @Html.LabelRequiredFor(model => model.CreditCardNumber, new { @class = "sr-only" })
                            @Html.TextBoxFor(model => model.CreditCardNumber, new { @class = "form-control", placeholder = Resources.Account_SignUp_CreditCardNumberMandatoryPlaceHolder })
                            @Html.ValidationMessageFor(model => model.CreditCardNumber)
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-sm-6">
                            @Html.LabelRequiredFor(model => model.ExpirationDate, new { @class = "sr-only" })
                            <div class='input-group date' id="expirationDate">
                                @Html.TextBoxFor(model => model.ExpirationDate, new { @class = "form-control datepicker datepickerMonthYear", placeholder = Resources.Account_SignUp_ExpirationDateMandatoryPlaceHolder })
                                <span class="input-group-addon" style="cursor: default;">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.ExpirationDate)
                        </div>  
                        <div class="form-group col-sm-6">
                            @Html.LabelRequiredFor(model => model.CVV, new { @class = "sr-only" })
                            @Html.TextBoxFor(model => model.CVV, new { @class = "form-control", placeholder = Resources.Account_SignUp_CVVPlaceHolder })
                            @Html.ValidationMessageFor(model => model.CVV)
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-sm-12">
                            @Html.LabelRequiredFor(model => model.BillingAddress1, new { @class = "sr-only" })
                            @Html.TextAreaFor(model => model.BillingAddress1, new { @class = "form-control", placeholder = Resources.Account_SignUp_AddressMandatoryPlaceHolder })
                            @Html.ValidationMessageFor(model => model.BillingAddress1)
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group col-sm-6">
                            @Html.LabelRequiredFor(model => model.BillingZip, new { @class = "sr-only" })
                            @Html.TextBoxFor(model => model.BillingZip, new { @class = "form-control", placeholder = Resources.Account_SignUp_ZipMandatoryPlaceholder })
                            @Html.ValidationMessageFor(model => model.BillingZip)
                        </div>
                        <div class="form-group col-sm-6">
                            @Html.LabelRequiredFor(model => model.BillingCity, new { @class = "sr-only" })
                            @Html.TextBoxFor(model => model.BillingCity, new { @class = "form-control", placeholder = Resources.Account_SignUp_CityMandatoryPlaceHolder })
                            @Html.ValidationMessageFor(model => model.BillingCity)
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-sm-6">
                            @Html.LabelRequiredFor(model => model.BillingCountry, new { @class = "sr-only" })
                            @Html.EnumDropDownListFor(m => m.BillingCountry, Resources.Account_SignUp_CountryMandatoryPlaceHolder, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BillingCountry)
                        </div>
                        if (ADOPets.Web.Common.Helpers.DomainHelper.GetDomain() != DomainTypeEnum.French)
                        { 
                        <div class="form-group col-sm-6">
                            @Html.LabelRequiredFor(model => model.BillingState, new { @class = "sr-only" })
                            @Html.DropDownListFor(m => m.BillingState, new List<SelectListItem>(), Resources.Account_SignUp_StatePlaceHolder, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BillingState)
                        </div>
                        }
                        <div class="clearfix"></div>
                        <div class="col-sm-12">
                            <div class="finalPrice">@Resources.Account_Signup_TotalSubscription <strong>@plancharge</strong></div>
                        </div>
                        <div class="clearfix"></div>

                    }
                </div>
            </div>
        </div>
    </div>
    <!----------------- /custom controll------->
</div>
<!----- /main box------------->
<div id="signUpBottom">
    <div class="form-group col-sm-5 col-sm-offset-1">
        <a href="javascript:void(0)" id="btnBackStep2" class="btn btn-default" style="width: 100%;">@Resources.Account_SignUp_PreviousStep</a>
    </div>
    <div class="form-group col-sm-5">
        <a href="javascript:void(0)" class="btn btn-primary" id="btn-next" style="width: 100%; ">@Resources.Account_SignUp_Purchase</a>
    </div>
    <div class="clearfix"></div>
</div>



<div class="modal fade" id="dvPaymentConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Account_Signup_PaymentConfirmation</h4>
            </div>
            <div class="modal-body">
                @Resources.Account_Signup_PaymentConfirmationMessage
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Link_BoarderLink_Close</button>
                <button type="button" class="btn btn-primary" id="btnConfirm">@Resources.Account_Signup_Agree</button>
            </div>
        </div>
    </div>

</div>
<div class="clearfix"></div>

<script src="@Url.Content("~/Scripts/customs/views/Account/MakePayment.js")"></script>
