@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.Account.Login

<div id="main_loginbx">
    <div class="row">
        <div class="col-md-8">
            <div style="padding: 0 7% 0 0; margin-right: 5%; text-align: right; background: url(@Url.Content("~/Content/images/login-sep.jpg")) center right no-repeat;">
                @if (Culture == "en-US")
                {
                    <img src="@Url.Content("~/Content/images/login-img.jpg")" class="img-responsive pull-right"/>
                }
                else 
                if (Culture == "en-IN")
                {
                    <img src="@Url.Content("~/Content/images/login-img.jpg")" class="img-responsive pull-right"/>
                }
                else 
                if (Culture == "fr-FR")
                {
                    <img src="@Url.Content("~/Content/images/login-img-fr.jpg")" class="img-responsive pull-right"/>
                }
                else
                {
                    <img src="@Url.Content("~/Content/images/login-img-pt.jpg")" class="img-responsive pull-right"/>
                }
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4" id="login_bx">
            <h2>@Resources.Account_Login_Login</h2>

            @Html.ValidationSummary(true)

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                <div class="form-group">
                    <label for="exampleInputEmail1">@Resources.Account_Login_EnterYourEmailID</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = Resources.Account_Login_UserNamePlaceHolder })
                    </div>
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="exampleInputPassword1">@Resources.Account_Login_EnterYourPassword</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = Resources.Account_Login_PasswordPlaceHolder })
                    </div>
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="pull-left">
                    <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i>@Resources.Account_Login_ButtonLogin</button>
                </div>
                if (Culture == "en-US" || Culture == "pt-BR" || Culture == "en-IN")
                {
                <div class="checkbox pull-right">
                    <label>
                        @Html.CheckBoxFor(model => model.RememberMe)
                        @Resources.Account_Login_RememberMe
                    </label>
                </div>
                }
                else
                {
                <div class="checkbox pull-left">
                    <label>
                        @Html.CheckBoxFor(model => model.RememberMe)
                        @Resources.Account_Login_RememberMe
                    </label>
                </div>
                }
                <div class="clearfix"></div>
            }

            <div id="login_bx_bottom">
                <a href="@Url.Action("ForgotPassword", "Account")">@Resources.Account_Login_ForgetPassword </a>
                <br>
                <a href="@Url.Action("SignUp", "Account")">@Resources.Account_Login_StrNotaMember </a>
            </div>
        </div>
    </div>
</div>


<script>
    window.sessionStorage.clear();
    localStorage.clear();
</script>
