@using ADOPets.Web.Common.Helpers
@using Model
@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.CBG.AddViewModel
@using ADOPets.Web.Common.Extensions

<div class="modal-dialog">

    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="CBGModalLabel">@Resources.CBG_Add_Title</h4>
        </div>

        @using (Ajax.BeginForm("Add", "CBG", new AjaxOptions
        {
            UpdateTargetId = "cbgList",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "CloseDialogCBG"
        }, new { @id = "addCBGForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="modal-body">

                @Html.HiddenFor(model => model.PetId)
                @Html.LabelRequiredFor(model => model.MeasureDate, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.MeasureDate, new { @class = "form-control datepicker datepickerPast datepickerAboveBirth", placeholder = Resources.CBG_Add_DatePlaceHolder, @Value = string.Empty })
                @Html.ValidationMessageFor(model => model.MeasureDate)
                <br>

               @Html.LabelRequiredFor(model =>model.LeftValue, new { @class = "control-label" })
                <div class="row">
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.LeftValue, new { @class = "form-control", placeholder = string.Format(Resources.CBG_Add_LeftValuePlaceHolder, EnumHelper.GetResourceValueForEnumValue(HealthMeasureUnitEnum.GramLiter))})
                        @Html.ValidationMessageFor(model => model.LeftValue)
                    </div>
                                 
                </div>

                <div class="clearfix"></div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">@Resources.CBG_Add_SaveChanges</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.CBG_Add_Cancel</button>
            </div>
        }

    </div>
</div>

