@using Resources = ADOPets.Web.Resources.Wording
@model IEnumerable<ADOPets.Web.ViewModels.CBG.IndexViewModel>
@using ADOPets.Web.Common.Helpers

<ol class="breadcrumb mrbreadcrumb">

    <li>@Ajax.ActionLink(Resources.CBG_Index_MedicalRecord, "MedicalRecords", "Pet", new { id = ViewBag.PetId },
                new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "medicalRecord" })
    </li>
    <li>@Resources.CBG_Index_HealthMeasureTracker </li>
    <li>@Resources.CBG_Index_CBG</li>

    <li class="pull-right hideslash">
        <div id="showHideCBGButtons">
            <a href="#" id="CBGDataCurve" class="btn btn-primary btn-sm"><i class="fa fa-bar-chart-o"></i>@Resources.CBG_Index_Curve</a>
             @if (UserHelper.CanDeletePet(ViewBag.PetId))
             {
                 if (ShareInfoHelper.IsSharedUser(ViewBag.PetId, ViewBag.UserId))
                 {
                     if (SMOHelper.CanEditPet(ViewBag.PetId))
                     {
                <a href="@Url.Action("GetDownloadHealthMeasure", "Pet", new { petid = ViewBag.PetId })"  class="btn btn-warning btn-sm pull-right" style="margin-left:10px;"><i class="fa fa-print"></i>@Resources.Pet_MedicalRecord_Print</a>    
                <a href="@Url.Action("Add", "CBG", new { petId = ViewBag.PetId })" id="addCBG" class="btn btn-primary btn-sm">
                    <i class="fa fa-plus-circle"></i>
                    <span>@Resources.CBG_Index_Add</span>
                </a>
                     }
                 }
             }
        </div>
        <a href='#CBG' id="ShowCBGTable" data-toggle="pill" style="display: none;" class="btn btn-primary btn-sm"><i class="fa fa-table"></i>@Resources.CBG_Index_DataButton</a>
    </li>
    <div class="clearfix"></div>
</ol>

@{ Html.RenderPartial("~/Views/CBG/_List.cshtml"); }


<div id="addCBGModal" class="modal fade" tabindex="-1" role="dialog"></div>
<div id="editCBGModal" class="modal fade" tabindex="-1" role="dialog"></div>
<div id="deleteCBGModal" class="modal fade" tabindex="-1" role="dialog"></div>
<script src="~/Scripts/customs/views/CBG/Index.js"></script>
