@using Resources = ADOPets.Web.Resources.Wording
@model IEnumerable<ADOPets.Web.ViewModels.Message.MessageNotificationViewModel>

@{var count = 0;}



@if (Model.Count() > 0)
{
    <div class="row">
        @foreach (var mail in Model)
        {
            count = count + 1;
            <a href="@Url.Action("MessageDetail", "Message", new { id = mail.ConversationId })">
                <div class="col-md-3">
                    <img src="@Url.Action("GetImage", "Message", new { fromUserId = mail.FromUserId })" id="ProfilePic" />
                </div>
                <div class="col-md-9 ellipsisText">
                    @mail.Subject<br>
                    <span>@mail.MessageDateText</span>
                </div>
            </a>
            if (count == 1 && Model.Count() > 1)
            {
            <div class="sidebx-sep1"></div>
            }
            <div class="clearfix"></div>
        }
    </div>
    <a href="@Url.Action("Index", "Message")" class="see-allBtn">@Resources.Message_MesssageNotification_MessageViewAll</a>
}
else
{
    <div class="row">
        <div class="col-md-9 ellipsisText">
            @Resources.Message_MesssageNotification_NoRecords<br>
        </div>
    </div>
    <a href="@Url.Action("Index", "Message")" class="see-allBtn">@Resources.Message_MesssageNotification_AddNewMessage</a>
}
