@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.Message.MessageReplyViewModel

@using (Html.BeginForm("ReplayMessage", "Message", FormMethod.Post, new { @id = "messageReplyForm" }))
{
    @Html.AntiForgeryToken()            
    @Html.HiddenFor(model => model.ConversationId)

    @Html.TextAreaFor(model => model.MessageBody, new { @class = "form-control", @rows = "5", placeholder = Resources.Message_MessageReplay_MessagePlaceHolder })
    @Html.ValidationMessageFor(model => model.MessageBody)
    <br>
    <button type="submit" class="btn btn-success"><i class="fa fa-paper-plane-o"></i>@Resources.Message_MessageReplay_Send</button>
    <a href="@Url.Action("Index", "Message")" class="btn btn-warning">@Resources.Message_MessageReplay_Cancel</a>
}

