@using ADOPets.Web.Common.Enums
@using ADOPets.Web.Common.Extensions
@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.Document.DeleteViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.CloseButton</span></button>
            <h4 class="modal-title">@Resources.Document_Delete_Message</h4>
        </div>
        @using (Ajax.BeginForm("Delete", "Document", new AjaxOptions
        {
            UpdateTargetId = MedicalRecordTypeEnum.Document.ToString(),
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "CloseDialogDocument"
        }, new { @class = "form-horizontal defaultForm", @role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.PetId)
            @Html.HiddenFor(m => m.DocumentId)
            <div class="modal-body">

                <div class="columnfull" style="width: 80%;">
                    <div class="detailrow">
                        <div>@Resources.Document_Delete_DocumentType</div>
                        <div class="colonspace">:</div>
                        <div>@Html.EnumDisplayFor(model => model.DocumentType)</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Resources.Document_Delete_DocumentSubType</div>
                        <div class="colonspace">:</div>
                        <div>@Html.EnumDisplayFor(model => model.DocumentSubType)</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Resources.Document_Delete_Name</div>
                        <div class="colonspace">:</div>
                        <div>@Model.Name</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Resources.Document_Delete_ServiceDate</div>
                        <div class="colonspace">:</div>
                        <div>@Model.ServiceDate.ToShortDateString()</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                        <div>@Resources.Document_Delete_Comment</div>
                        <div class="colonspace">:</div>
                        <div>@Html.Raw("<pre>" + Model.Comment + "</pre>")</div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning">@Resources.Document_Delete_SaveChanges</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">@Resources.Document_Delete_Cancel</button>
            </div>
        }

    </div>
</div>
