@using ADOPets.Web.Common.Extensions
@using Resources = ADOPets.Web.Resources.Wording
@model IEnumerable<ADOPets.Web.ViewModels.Document.IndexViewModel>
@using ADOPets.Web.Common.Helpers
<ol class="breadcrumb mrbreadcrumb">
    <li>@Ajax.ActionLink(Resources.Document_Index_MedicalRecord, "MedicalRecords", "Pet", new { id = ViewBag.PetId },
                new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "medicalRecord" })</li>
    <li class="active">@Resources.Document_Index_Document </li>
    <li class="active">@Resources.ResourceManager.GetString(ViewBag.DocumentType.ToString())</li>

    @if (UserHelper.CanDeletePet(ViewBag.PetId))
    {
        if (ShareInfoHelper.IsSharedUser(ViewBag.PetId, ViewBag.UserId))
        {
            if (SMOHelper.CanEditPet(ViewBag.PetId))
            {
        <a href="@Url.Action("Add", "Document", new { petId = ViewBag.PetId, documentType = ViewBag.DocumentType })" id="@("add" + ViewBag.DocumentType)" class="btn btn-primary btn-sm pull-right"><i class="fa fa-plus-circle"></i>@Resources.Document_Index_Add</a>
            }
        }
    }
    <div class="clearfix"></div>
</ol>
<div id="@(ViewBag.DocumentType + "List")">
    <table id="tbl_docs_@ViewBag.DocumentType" class="table table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th width="5%">@Resources.Document_Index_File</th>
                <th width="22%">@Resources.Document_Index_SubType</th>
                <th width="23%">@Resources.Document_Index_Title</th>
                <th width="20%">@Resources.Document_Index_ServiceDate</th>
                <th width="20%">@Resources.Document_Index_UploadDate</th>
                @if (UserHelper.CanDeletePet(ViewBag.PetId))
                {
                    if (ShareInfoHelper.IsSharedUser(ViewBag.PetId, ViewBag.UserId))
                    {
                        if (SMOHelper.CanEditPet(ViewBag.PetId))
                        {
                    <th width="15%">@Resources.Document_Index_Action</th>
                        }
                    }
                }
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td align="center">
                    <a href="@Url.Action("Details", "Document", new { documentId = item.DocumentId, petId = ViewBag.PetId })" id="@("viewDocument" + ViewBag.DocumentType)" class="file docLink" style="text-decoration: none;" data-tooltip="tooltip" data-placement="top" data-original-title="Download">
                        @Html.CreateSpanFromFileExtension(item.Path)
                    </a>
                </td>
                <td>
                    @Html.EnumDisplayFor(modelItem => item.DocumentSubType)
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.ServiceDate.ToShortDateString()
                </td>
                <td>
                    @item.UploadDate.ToShortDateString()
                </td>
                 @if (UserHelper.CanDeletePet(ViewBag.PetId))
                 {
                     if (ShareInfoHelper.IsSharedUser(ViewBag.PetId, ViewBag.UserId))
                     {
                         if (SMOHelper.CanEditPet(ViewBag.PetId))
                         {
                    <td>
                        <a href="@Url.Action("Edit", "Document", new { id = item.DocumentId })" id="@("edit" + ViewBag.DocumentType)" class="btn btn-success btn-sm " data-tooltip="tooltip" data-placement="top" data-original-title="@Resources.Document_Index_Edit"><i class="fa fa-pencil"></i></a>
                        <a href="@Url.Action("DeleteConfirm", "Document", new { documentId = item.DocumentId, petId = ViewBag.PetId })" id="@("delete" + ViewBag.DocumentType)" class="btn btn-warning btn-sm " data-tooltip="tooltip" data-placement="top" data-original-title="@Resources.Document_Index_Delete"><i class="fa fa-trash-o"></i></a>
                    </td>
                         }
                     }
                 }
            </tr>
        }
    </table>
</div>


<div id="@("addModalDialog" + ViewBag.DocumentType)" class="modal fade documentModal" tabindex="-1" role="dialog"></div>
<div id="@("editModalDialog" + ViewBag.DocumentType)" class="modal fade documentModal" tabindex="-1" role="dialog"></div>
<div id="@("deleteModalDialog" + ViewBag.DocumentType)" class="modal fade documentModal" tabindex="-1" role="dialog"></div>

<script>

    $(function () {

        $('#add' + '@(ViewBag.DocumentType)').click(function (e) {

            e.preventDefault();

            $.get(this.href, function (data) {

                $('#addModalDialog' + '@(ViewBag.DocumentType)').html(data);

                Initialize();

                $.validator.unobtrusive.parse("#addDocumentForm");

                $('#addModalDialog' + '@(ViewBag.DocumentType)').modal('show');

            });

        });

        $('[id = viewDocument' + '@(ViewBag.DocumentType)]').click(function (e) {

            e.preventDefault();

            window.open(this.href, "_blank", "toolbar=0,location=0,menubar=0,top=0,left=0");

        });

        $('[id = edit' + '@(ViewBag.DocumentType)]').click(function (e) {

            e.preventDefault();

            $.get(this.href, function (data) {

                $('#editModalDialog' + '@(ViewBag.DocumentType)').html(data);

                Initialize();

                $.validator.unobtrusive.parse("#editDocumentForm");

                $('#editModalDialog' + '@(ViewBag.DocumentType)').modal('show');

            });

        });

        $('[id = delete' + '@(ViewBag.DocumentType)]').click(function (e) {

            e.preventDefault();

            $.get(this.href, function (data) {

                $('#deleteModalDialog' + '@(ViewBag.DocumentType)').html(data);

                $('#deleteModalDialog' + '@(ViewBag.DocumentType)').modal('show');

            });

        });

        $('.documentModal').on('hidden.bs.modal', function () {
            ClearDialog();
        });
        DrawTable('#tbl_docs_@ViewBag.DocumentType', [3]);

    });

    function CloseDialogDocument() {
        $('.documentModal').modal('hide');
        ClearDialog();
        HideSuccessMsg();
    }

    function ClearDialog() {
        $(".modal-body").empty();
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    }


</script>






