@using Model
@using Resources = ADOPets.Web.Resources.Wording
@using ADOPets.Web.Common
@model ADOPets.Web.ViewModels.Pet.EditViewModel
@using ADOPets.Web.Common.Helpers

@{
    ViewBag.Title = Resources.Pet_Edit_Title;
    int userId = ViewBag.UserId;
    int petId = ViewBag.PetId;
    bool isSMOPaymentPending = true;
    string fromReq = (Session[Constants.SessionCurrentUserRequestFrom] != null ? Session[Constants.SessionCurrentUserRequestFrom].ToString() : String.Empty);
    bool isOwner = HttpContext.Current.User.IsInRole(UserTypeEnum.OwnerAdmin.ToString());
    bool isVD = HttpContext.Current.User.IsInRole(UserTypeEnum.VeterinarianAdo.ToString());
}

<input type="hidden" id="PetBirthDate" value="@Model.Card.BirthDate" />
<div id="mypetmenu" class="radius3">
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <a href="@Url.Action("Edit", "Pet", new { id = Model.Card.Id })" class="btn btn-nav active" id="lnkIDCard">
                <div id="petnavthumb">
                    @if (string.IsNullOrEmpty(Model.Card.ImagePath))
                    {
                        <img src="@Url.Content("~/Content/Images/animal-dimg.jpg")" id="imgTopPetImage" alt="@Resources.Pet_Edit_ImageAlt"/>
                    }
                    else
                    {
                        <img src="@Url.Action("Image", "Pet", new { fileName = Model.Card.ImagePath, userInfoPath = @ViewBag.UserInfoPath, ownerId = @ViewBag.OwnerId })" id="imgTopPetImage" alt="@Resources.Pet_Edit_ImageAlt"/>
                    }
                </div>
                <p id="parPetName">@Model.Card.PetName</p>
            </a>
        </div>

        <div class="btn-group">
            @if (UserHelper.CanAccessMR(ViewBag.UserId))
            {
                <a href="#" data-href="@Url.Action("MedicalRecords", "Pet", new { id = Model.Card.Id })" data-toggle="tab" class="btn btn-nav petEditMenu" id="lnkMRTab"><i class="fa fa-book"></i>
                    <p>@Resources.Pet_Edit_MedicalRecordsHeader</p>
                </a>
            }
            else
            {
                <a href="#modelUpgrade" data-toggle="modal" class="btn btn-nav" data-tooltip="tooltip" data-placement="top">
                    <i class="fa fa-book"></i>
                    <p>@Resources.Pet_Edit_MedicalRecordsHeader</p>
                </a>
            }
        </div>

        <div class="btn-group">
            <a href="#" data-href="@Url.Action("Index", "Veterinarian", new { petId = Model.Card.Id })" data-toggle="tab" class="btn btn-nav petEditMenu"><i class="fa fa-stethoscope"></i>
                <p>@Resources.Pet_Edit_VeterinarianHeader</p>
            </a>
        </div>
        <div class="btn-group">
            <a href="#" data-href="@Url.Action("Index", "PetContact", new { petId = Model.Card.Id })" data-toggle="tab" class="btn btn-nav petEditMenu"><i class="fa fa-phone-square"></i>
                <p>@Resources.Pet_Edit_ContactsHeader</p>
            </a>
        </div>
        <div class="btn-group">
            <a href="#" data-href="@Url.Action("Index", "PhotoGallery", new { petId = Model.Card.Id })" data-toggle="tab" class="btn btn-nav petEditMenu"><i class="fa fa-image (alias)"></i>
                <p>@Resources.Pet_Edit_GalleryHeader</p>
            </a>
        </div>
    </div>
</div>

@if (Roles.IsUserInRole(UserTypeEnum.Admin.ToString()))
{
    <div id="pageTitle">
        <div class="row">
            <div class="col-md-8">
                <h1>@Resources.Pet_Edit_AdminOwner : @ViewBag.OwnerName</h1>
            </div>
        </div>
    </div>
}


<div id="mainContainer">
    @if (!Roles.IsUserInRole(UserTypeEnum.VeterinarianAdo.ToString()) && !Roles.IsUserInRole(UserTypeEnum.VeterinarianLight.ToString()) && !Roles.IsUserInRole(UserTypeEnum.VeterinarianExpert.ToString()) && !Roles.IsUserInRole(UserTypeEnum.Admin.ToString()))
    {
        <div id="hiderightsidebar">
            <img src="@Url.Content("~/Content/images/hide-img.png")" width="22" height="34" alt="" />
        </div>
        <div id="showrightsidebar">
            <img src="@Url.Content("~/Content/images/show-img.png")" width="22" height="34" alt="" />
        </div>
    }

    @if (!String.IsNullOrEmpty(fromReq) && fromReq.ToLower() == "smo")
    {
        string smoId = "";
        smoId = (String.IsNullOrEmpty(Session["EditSMORequestID"].ToString())) ? ViewBag.smoId : Session["EditSMORequestID"].ToString();
        
        <div id="buble" class="dynDiv_moveDiv animated zoomInDown" style="cursor: move;">
            <div id="bubleContent">
                @String.Format("{0} - {1}", Resources.Pet_Edit_SMOID, smoId)<br>
                @String.Format("{0} - {1}", Resources.Pet_Edit_Owner, ViewBag.OwnerName)
                <br>
                @if (@Session["IncompleteMedicalRecord"] != null)
                {
                    if (Convert.ToBoolean(@Session["IncompleteMedicalRecord"]) == false)
                    { 
                    @Resources.Pet_Edit_Completepetinfo
                    }
                    else
                    { 
                    @Resources.Pet_Edit_Completedpetinfo
                    }
                }
                else
                { 
                    @Resources.Pet_Edit_Completedpetinfo
                }

                <div id="bubleBottom">
                    <a href="@Url.Action("NewMessage", "Message", new { toUserId = @ViewBag.OwnerId, requestFrom = "Pet_" + @petId })" class="NewMsgModel">@Resources.Pet_Edit_EmailtoOwner</a> | 
                    <a href="@Url.Action("Edit", "SMO", new { id = smoId })" data-tooltip="tooltip" data-placement="top" title="@Resources.Pet_Index_SMODetail">
                        <i class="fa fa-eye" style="padding-right: 0;"></i></a>| 
                        <a href="javascript:void(0)" id="minimizeBuble"><i class="fa fa-compress" style="padding-right: 0;"></i></a>
                </div>
            </div>
            <a href="javascript:void(0)" id="maximizeBuble"><i class="fa fa-expand" style="padding-right: 0;"></i></a>
        </div>
            
    }
    else if (!String.IsNullOrEmpty(fromReq) && fromReq.ToLower() == "pet")
    {
        <div id="buble" class="dynDiv_moveDiv animated zoomInDown" style="cursor: move;">
            <div id="bubleContent">
                @String.Format("{0} - {1}", Resources.Pet_Edit_OwnerId, ViewBag.OwnerId)
                <br>
                @String.Format("{0} - {1}", Resources.Pet_Edit_FirstName, ViewBag.OwnerFirstName)<br>
                @String.Format("{0} - {1}", Resources.Pet_Edit_LastName, ViewBag.OwnerLastName)<br>
                <div id="bubleBottom">
                    <a href="@Url.Action("Index", "Pet")">@Resources.Pet_Edit_BackToPets</a> | 
                    <a href="@Url.Action("OwnerProfile", "Profile", new { id = @ViewBag.OwnerId, petId = @Model.Card.Id })" 
                    data-tooltip="tooltip" data-placement="top" title="@Resources.Pet_Index_OwnerDetail"><i class="fa fa-eye" style="padding-right: 0;"></i></a>| 
                    <a href="javascript:void(0)" id="minimizeBuble"><i class="fa fa-compress" style="padding-right: 0;"></i></a>
                </div>
            </div>
            <a href="javascript:void(0)" id="maximizeBuble"><i class="fa fa-expand" style="padding-right: 0;"></i></a>
        </div>
    }
    else if (!String.IsNullOrEmpty(fromReq) && fromReq.ToLower() == "user")
    {
        <div id="buble" class="dynDiv_moveDiv animated zoomInDown" style="cursor: move;">
            <div id="bubleContent">
                @String.Format("{0} - {1}", Resources.Pet_Edit_OwnerId, ViewBag.OwnerId)
                <br>
                @String.Format("{0} - {1}", Resources.Pet_Edit_FirstName, ViewBag.OwnerFirstName)<br>
                @String.Format("{0} - {1}", Resources.Pet_Edit_LastName, ViewBag.OwnerLastName)<br>
                <div id="bubleBottom">
                    <a href="@Url.Action("Index", "Pet", new { id = ViewBag.OwnerId })">@Resources.Pet_Edit_BackToPets</a> | 
                    <a href="@Url.Action("OwnerProfile", "Profile", new { id = @ViewBag.OwnerId, petId = @Model.Card.Id })" 
                    data-tooltip="tooltip" data-placement="top" title="@Resources.Pet_Index_OwnerDetail"><i class="fa fa-eye" style="padding-right: 0;"></i></a>| 
                    <a href="javascript:void(0)" id="minimizeBuble"><i class="fa fa-compress" style="padding-right: 0;"></i></a>
                </div>
            </div>
            <a href="javascript:void(0)" id="maximizeBuble"><i class="fa fa-expand" style="padding-right: 0;"></i></a>
        </div>
    }

    <div id="dvMiddleContainer">
        <div id="dvPetImage">
            @Html.Partial("_PetImage", Model.Card)
        </div>
        <div id="profilenavbtn">
            @if (UserHelper.CanDeletePet(Model.Card.Id))
            {
                if (SMOHelper.CanEditPet(Model.Card.Id))
                {
                    isSMOPaymentPending = false;
                    if (!Roles.IsUserInRole(UserTypeEnum.VeterinarianExpert.ToString()))
                    {
                <a href="@Url.Action("Add", "Insurance", new { petId = Model.Card.Id })" id="addInsurance" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal" >
                    <i class="fa fa-plus-circle"></i>@Resources.Pet_Edit_Add</a>
            
                <a href="javascript:void(0)" data-attr="@Url.Action("BreederEdit", "Pet", new { id = Model.Card.Id })" id="breederEdit" class="btn btn-primary pull-right" title="@Resources.Pet_Edit_BreederEdit">
                    <i class="fa fa-pencil" style="padding-right: 0;"></i></a>
            
                <a href="javascript:void(0)" data-attr="@Url.Action("CardEdit", "Pet", new { id = Model.Card.Id })" id="cardEdit" class="btn btn-primary pull-right" title="@Resources.Pet_Edit_CardEdit">
                    <i class="fa fa-pencil" style="padding-right: 0;"></i></a>
                    }
                <a href="@Url.Action("GetDownload", "Pet", new { petid = Model.Card.Id })" id="aPrintReport" target="_blank" class="btn btn-warning"><span class="fa fa-print"></span></a>
                  
                }
            }


            <a href="javascript:void(0)" class="btn btn-default" id="showinsurancedetails">@Resources.Pet_Edit_Insurance</a>
            <a href="javascript:void(0)" class="btn btn-default" id="showbreederdetails">@Resources.Pet_Edit_Breeder</a>
            <a href="javascript:void(0)" class="btn btn-success" id="showpetdetails">@Resources.Pet_Edit_PetDetail</a>

            <div class="clearfix"></div>
        </div>

        <div id="dvAllData">
            <div id="petdetails">
                @Html.Partial("_CardDetail", Model.Card)
            </div>
            <div id="breederdetails">
                @Html.Partial("_BreederDetail", Model.BreederEdit)
            </div>
        </div>
        <div id="insurancedetails">
            @Html.Partial("~/Views/Insurance/_Index.cshtml", Model.Insurances)
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade in" id="UpgradeMyPlan">
        </div>
        <div class="tab-pane fade in" id="PlanBilling">
        </div>
        <div class="tab-pane fade in" id="PlanConfirmation">
        </div>
        <div class="tab-pane fade in" id="PaymentResult">
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div id="addModalInsurance" class="modal fade" tabindex="-1" role="dialog"></div>
<div id="addModalNewMessage" class="modal fade" tabindex="-1" role="dialog"></div>


<div id="modelUpgrade" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Pet_Edit_AccessRestricted</h4>
            </div>
            <form class="form-horizontal defaultForm" role="form">
                <div class="modal-body">
                    <div>
                        @Resources.Pet_Edit_Description
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="@Url.Action("PlanUpgrade", "Profile")" class="btn btn-primary">@Resources.Pet_Edit_UpgradeNow</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">@Resources.Pet_Edit_Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-tooltip="tooltip"]').tooltip();

        $("#breederdetails,#insurancedetails,#addInsurance").hide();
        $("#cardEdit").show();
        $("#profileeditbtn").show();
        $("#breederEdit").hide();
        var temp = '@isOwner';
        var temp1 = '@Session["IncompleteMedicalRecord"]';
        var vdmessage = '@isVD';
        var isSMOPaymentPending = '@isSMOPaymentPending';

        // console.log(isSMOPaymentPending);

        if (temp.toString().toLowerCase() == "false") {
            if (isSMOPaymentPending.toString().toLowerCase() == "true") {
                if (vdmessage.toString().toLocaleLowerCase() == "true" && temp1.toString().toLowerCase() == "false") {
                    ShowAjaxWarningMessage("@Resources.SMO_Index_InProgressMessage");
                }
            }
        } else {
            if (isSMOPaymentPending.toString().toLowerCase() == "true" || temp1.toString().toLowerCase() == "false") {
                ShowAjaxWarningMessage("@Resources.SMO_Index_InProgressMessage");
            }
        }
    });
</script>

<script src="@Url.Content("~/Scripts/customs/views/Pet/CardDetail.js")"></script>
@if (Roles.IsUserInRole(UserTypeEnum.OwnerAdmin.ToString()))
{  
    @Scripts.Render("~/bundles/midJS")

    <script src="@Url.Content("~/Scripts/customs/views/Pet/bootstrap-tour.petId.js")"></script>
}
<link href="@Url.Content("~/Content/css/jquery.fancybox-1.3.4.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/external/jquery.fancybox-1.3.4.js")"></script>
