@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.Height.AddViewModel
@using ADOPets.Web.Common.Extensions

<div class="modal-dialog">

    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="HeightModalLabel">@Resources.Height_Add_Title</h4>
        </div>
        
        @Html.Hidden("LeftValueRange", Resources.Height_Add_LeftValueRange)
        @Html.Hidden("RightValueRange", Resources.Height_Add_RightValueRange)
        
        @using (Ajax.BeginForm("Add", "Height", new AjaxOptions
        {
            UpdateTargetId = "HeightSection",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "CloseDialogheight"
        }, new { @id = "addHeightForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="modal-body">

                @Html.HiddenFor(model => model.PetId)
                @Html.HiddenFor(model => model.MeasureUnit)

                @Html.LabelRequiredFor(model => model.MeasureDate, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.MeasureDate, new { @class = "form-control datepicker datepickerPast", placeholder = Resources.Height_Add_DatePlaceHolder, @Value = string.Empty })
                @Html.ValidationMessageFor(model => model.MeasureDate)
                <br>

                @Html.LabelRequiredFor(model =>model.LeftValue, new { @class = "control-label" })
                <div class="row">
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.LeftValue, new { @class = "form-control" })
                        @Model.LeftValueUnit
                        @Html.ValidationMessageFor(model => model.LeftValue)
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.RightValue, new { @class = "form-control" })
                        @Model.RightValueUnit
                        @Html.ValidationMessageFor(model => model.RightValue)
                    </div>                    
                </div>

                <div class="clearfix"></div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">@Resources.Height_Add_SaveChanges</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Height_Add_Cancel</button>
            </div>
        }

    </div>
</div>

