@using Resources = ADOPets.Web.Resources.Wording
@model IEnumerable<ADOPets.Web.ViewModels.Consultation.IndexViewModel>
@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers

<div id="consultationList">

    @Html.RenderSuccessMessage("consultationSuccessMessage", TempData["SuccessMessage"])

    <table id="Table_consultation" class="table table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>@Resources.Consultation_Index_Consultation</th>
                <th>@Resources.Consultation_Index_VisitDate</th>
                <th>@Resources.Consultation_Index_Reason</th>
                @if (UserHelper.CanDeletePet(ViewBag.PetId))
                {
                    if (ShareInfoHelper.IsSharedUser(ViewBag.PetId, ViewBag.UserId))
                    {
                        if (SMOHelper.CanEditPet(ViewBag.PetId))
                        {
                    <th>@Resources.Consultation_Index_Action</th>
                        }
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.VisitDate.ToShortDateString()
                    </td>
                    <td>
                        @item.Reason
                    </td>
                    @if (UserHelper.CanDeletePet(ViewBag.PetId))
                    {
                        if (ShareInfoHelper.IsSharedUser(ViewBag.PetId, ViewBag.UserId))
                        {
                            if (SMOHelper.CanEditPet(ViewBag.PetId))
                            {
                        <td>
                            <a href="@Url.Action("Edit", "Consultation", new { consultationId = item.Id })" class="btn btn-success btn-sm editConsultation" data-tooltip="tooltip" data-placement="top" data-original-title=" @Resources.Consultation_Index_Edit"><i class="fa fa-pencil"></i></a>
                            <a href="@Url.Action("DeleteConfirm", "Consultation", new { consultationId = item.Id, petId = ViewBag.PetId })" class="btn btn-warning btn-sm deleteConsultation" data-tooltip="tooltip" data-placement="top" data-original-title="@Resources.Consultation_Index_Delete" aria-describedby="tooltip992278"><i class="fa fa-trash-o"></i></a>
                        </td>
                            }
                        }
                    }
                </tr>
            }
        </tbody>
    </table>

</div>

<script src="~/Scripts/customs/views/Consultation/List.js"></script>
