@using ADOPets.Web.Common.Helpers
@using Resources = ADOPets.Web.Resources.Wording
@model IEnumerable<ADOPets.Web.ViewModels.Medication.IndexViewModel>
@using ADOPets.Web.Common.Extensions

<div id="medicationList" class="">

    @Html.RenderSuccessMessage("medicationSuccessMessage", TempData["SuccessMessage"])

    <table id="Table_medication" class="table table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th width="25%">@Resources.Medication_Index_Medication</th>
                <th width="15%">@Resources.Medication_Index_Duration</th>
                <th width="20%">@Resources.Medication_Index_VisitDate</th>
                <th width="20%">@Resources.Medication_Index_Status</th>
                <th width="20%">@Resources.Medication_Index_Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Duration
                    </td>
                    <td>
                        @item.VisitDate.ToShortDateString()
                    </td>
                    <td class="text-success">
                        @EnumHelper.GetResourceValueForEnumValue(item.Status)
                    </td>
                    <td>
                        <div style="display: inline-block; position: relative;" class="medicationpopoverperent">
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm showmedidetails"><i class="fa fa-eye"></i></a>
                            <div class="medicationpopover animated fadeIn">
                                <div class="popover left">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <table width="100%" border="0">
                                            <tbody>
                                                <tr>
                                                    <td>@Resources.Medication_Index_HowOften</td>
                                                    <td>@item.HowOften</td>
                                                </tr>
                                                <tr>
                                                    <td>@Resources.Medication_Index_Dosage</td>
                                                    <td>@item.Dosage</td>
                                                </tr>
                                                <tr>
                                                    <td>@Resources.Medication_Index_Veterinarian</td>
                                                    <td>@item.Veterinarian</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        @if (UserHelper.CanDeletePet(ViewBag.PetId))
                        {
                            if (ShareInfoHelper.IsSharedUser(ViewBag.PetId, ViewBag.UserId))
                            {
                                if (SMOHelper.CanEditPet(ViewBag.PetId))
                                {
                            <a href="@Url.Action("Edit", "Medication", new { medicationId = item.Id })" class="btn btn-success btn-sm editMedication" data-tooltip="tooltip" data-placement="top" data-original-title="@Resources.Medication_Index_Edit"><i class="fa fa-pencil"></i></a>
                            <a href="@Url.Action("DeleteConfirm", "Medication", new { medicationId = item.Id, petId = ViewBag.PetId })" class="btn btn-warning btn-sm deleteMedication" data-tooltip="tooltip" data-placement="top" data-original-title="@Resources.Medication_Index_Delete" aria-describedby="tooltip992278"><i class="fa fa-trash-o"></i></a>
                                }
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/customs/views/Medication/List.js"></script>


<script>
    //for Medication Pop over
    $(".showmedidetails").mouseover(function (e) {
        $(this).next(".medicationpopover").show();
    });
    $(".medicationpopoverperent").mouseleave(function (e) {
        $(".medicationpopover").hide();
    });
</script>
