@using Model
@using Resources = ADOPets.Web.Resources.Wording
@model IEnumerable<ADOPets.Web.ViewModels.Weight.IndexViewModel>
@using ADOPets.Web.Common.Helpers

<div id="WeightSection" class="vitalMain">
    <div class="show-rightButtons">
        <div id="showHideWeightButtons">
            @Ajax.ActionLink(Resources.Weight_Index_Kgg, "SwithMeasureUnit", "Weight", new { petId = ViewBag.PetId, unit = HealthMeasureUnitEnum.Kilogram },
                    new AjaxOptions { UpdateTargetId = "WeightSection", InsertionMode = InsertionMode.Replace }, new { style = "margin-right: 10px;" })
            @Ajax.ActionLink(Resources.Weight_Index_LbOz, "SwithMeasureUnit", "Weight", new { petId = ViewBag.PetId, unit = HealthMeasureUnitEnum.Pounds },
                    new AjaxOptions { UpdateTargetId = "WeightSection", InsertionMode = InsertionMode.Replace }, new { style = "margin-right: 10px;" })

            <a href="#" id="WeightDataCurve" data-toggle="pill" class="btn btn-primary btn-sm"><i class="fa fa-bar-chart-o"></i>@Resources.Weight_Index_Curve</a>
            @if (UserHelper.CanDeletePet(ViewBag.PetId))
            {
                if (ShareInfoHelper.IsSharedUser(ViewBag.PetId, ViewBag.UserId))
                {
                    if (SMOHelper.CanEditPet(ViewBag.PetId))
                    {
                <a href="@Url.Action("GetDownloadHealthMeasure", "Pet", new { petid = ViewBag.PetId })"  class="btn btn-warning btn-sm pull-right" style="margin-left:10px;"><i class="fa fa-print"></i>@Resources.Pet_MedicalRecord_Print</a>
                    
                <a href="@Url.Action("Add", "Weight", new { petId = ViewBag.PetId, unit = ViewBag.MeasureUnit })" id="addWeight" class="btn btn-primary btn-sm">
                    <i class="fa fa-plus-circle"></i><span>@Resources.Weight_Index_Add</span>
                </a>
                    }
                }
            }
        </div>
        <div id="showHideWeightButtons-back" style="display: none;">
            @Ajax.ActionLink(Resources.Weight_Index_Kgg, "SwithMeasureUnit", "Weight", new { petId = ViewBag.PetId, unit = HealthMeasureUnitEnum.Kilogram },
                    new AjaxOptions { UpdateTargetId = "WeightSection", OnSuccess = "ShowWeightCurve", InsertionMode = InsertionMode.Replace }, new { style = "margin-right: 10px;" })
            @Ajax.ActionLink(Resources.Weight_Index_LbOz, "SwithMeasureUnit", "Weight", new { petId = ViewBag.PetId, unit = HealthMeasureUnitEnum.Pounds },
                    new AjaxOptions { UpdateTargetId = "WeightSection", OnSuccess = "ShowWeightCurve", InsertionMode = InsertionMode.Replace }, new { style = "margin-right: 10px;" })
            <a href='#Weight' id="ShowWeightTable" data-toggle="pill" class="btn btn-primary btn-sm"><i class="fa fa-table"></i>@Resources.Weight_Index_DataButton</a>
        </div>
    </div>
    <div class="clearfix"></div>


    @{ Html.RenderPartial("~/Views/Weight/_List.cshtml"); }


    <div id="addWeightModal" class="modal fade" tabindex="-1" role="dialog"></div>
    <div id="editWeightModal" class="modal fade" tabindex="-1" role="dialog"></div>
    <div id="deleteWeightModal" class="modal fade" tabindex="-1" role="dialog"></div>

    <script src="~/Scripts/customs/views/Weight/Index.js"></script>

</div>
