@using Resources = ADOPets.Web.Resources.Wording
@using ADOPets.Web.Common.Helpers
@model IEnumerable<ADOPets.Web.ViewModels.PlansAndPromo.IndexViewModel>

<div class="clearfix"></div>
<div id="pageTitle">
    <div class="row">
        <div class="col-md-6">
            <h1>@Resources.PlansAndPrmo_Index_Title</h1>
        </div>
        <div class="col-md-6">
            <a href="@Url.Action("AddPlan", "PlansAndPromo")" class="btn btn-success pull-right"><i class="fa fa-plus-circle"></i>@Resources.PlansAndPrmo_Index_Add</a>
        </div>

    </div>
</div>

<div id="mainContainer">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">@Resources.PlansAndPrmo_Index_SearchPlan</h3>
        </div>
        <div class="form-horizontal defaultForm bv-form">
            <div class="panel-body">
                <div class="row" id="userSearchBx">
                    <div class="col-md-4" id="promoCode">
                        @Html.DropDownList("Promocode", ViewBag.Promocode as IEnumerable<SelectListItem>, Resources.Users_Index_SearchbyPromocode, new { @class = "form-control" })
                    </div>

                    <div class="col-md-4" id="planFilter">
                        @Html.DropDownList("Plan", ViewBag.Plans as IEnumerable<SelectListItem>, Resources.Users_Index_SearchbyPlan, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4" style="height: 34px;">
                        <label class="radio-inline"><strong>@Resources.PlansAndPrmo_Index_Trial</strong></label>
                        <label class="radio-inline">
                            <input type="checkbox" id="isTrialYes" name="isTrial" value="@Resources.PlansAndPrmo_Index_Trial_Yes">
                            @Resources.PlansAndPrmo_Index_Trial_Yes
                        </label>
                        <label class="radio-inline">
                            <input type="checkbox" id="isTrialNo" name="isTrial" value="@Resources.PlansAndPrmo_Index_Trial_No">
                            @Resources.PlansAndPrmo_Index_Trial_No
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h4 class="text-primary">@Resources.PlansAndPrmo_Index_AllPlans</h4>
    <table id="PlansandPromo" class="table table-bordered">
        <thead>
            <tr>
                <th width="10%">@Resources.PlansAndPrmo_Index_PlanID</th>
                <th width="22%">@Resources.PlansAndPrmo_Index_PlanName</th>
                <th width="10%">@Resources.PlansAndPrmo_Index_PromoCode</th>
                <th width="22%">@Resources.PlansAndPrmo_Index_Plan_at_Renewal</th>
                <th width="16%">@Resources.PlansAndPrmo_Index_Group_Company</th>
                <th width="5%">@Resources.PlansAndPrmo_Index_IsVisible</th>
                <th width="5%">@Resources.PlansAndPrmo_Index_IsTrial </th>
                <th>@Resources.PlansAndPrmo_Index_Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    var className = "";
                    if (item.PlanID == 1)
                    {
                        className = "bg-warning text-warning";
                    }
                    else
                    {
                        className = "";
                    }
                <tr class="@className">
                    <td>A4PC @Html.DisplayFor(modelItem => item.PlanID)</td>
                    <td>@Html.DisplayFor(modelItem => item.PlanName)</td>
                    <td>@Html.DisplayFor(modelItem => item.PromoCode)</td>
                    <td>@Html.DisplayFor(modelItem => item.PlanatRenewal)</td>
                    <td>@Html.DisplayFor(modelItem => item.GroupOrCompany)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsVisibleToOwner)</td>
                    <td class="trialplan">
                        @if (item.IsTrial)
                        {  @Resources.PlansAndPrmo_Index_Trial_Yes}
                        else
                        {  @Resources.PlansAndPrmo_Index_Trial_No}
                    </td>
                    <td>
                        @if (item.PlanID != 1)
                        {
                            <a href="@Url.Action("EditPlan", "PlansAndPromo", new { planId = item.PlanID })" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="@Resources.PlansAndPrmo_Index_Edit"><i class="fa fa-pencil"></i></a>
                            <a href="javascript:void(0)" data-href="@Url.Action("DeleteConfirm", "PlansAndPromo", new { planId = item.PlanID })" class="btn btn-warning btn-sm opendelete" data-toggle="tooltip" data-placement="top" title="" data-original-title="@Resources.PlansAndPrmo_Index_Remove" id="lnkDeletePlanPromocode"><i class="fa fa-close"></i></a>
                        }
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
    <div class="clearfix"></div>
</div>
<!--content end here-->

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog"></div>


<script>
    function GetTranstaltionPlanPromo() {
        var result = {
            "AddPromoPlanValidation": '@Resources.PlansAndPromo_AddPromo_PlanValidation',
            "DeletePlanValidation": '@Resources.PlansAndPromo_Delete_PlanValidation'
        };
        return result;
    }
</script>

<script src="~/Scripts/customs/views/PlansAndPromo/Index.js"></script>
