@using Resources = ADOPets.Web.Resources.Wording
@using Model
@model IEnumerable<ADOPets.Web.ViewModels.Calender.IndexViewModel>

@{
    ViewBag.Title = Resources.Calendar_Index_Title;
}
<div id="pageTitle">
    <div class="row">
        <div class="col-md-4">
            <h1>@Resources.Calendar_Index_Title</h1>
        </div>
        <div class="col-md-8">
            <button class="btn btn-primary pull-right" onclick='addReminder("Calendar")'><i class="fa fa-plus-circle"></i>@Resources.Calendar_Index_AddReminder</button>
            <a href="@Url.Action("Details", "Calender")" class="btn btn-success pull-right" style="margin-right: 10px;"><i class="fa fa-list"></i>@Resources.Calendar_Index_ViewListButton</a>
        </div>
    </div>
</div>
<div id="mainContainer">
    @if (!Roles.IsUserInRole(UserTypeEnum.VeterinarianAdo.ToString()) && !Roles.IsUserInRole(UserTypeEnum.VeterinarianLight.ToString()) && !Roles.IsUserInRole(UserTypeEnum.VeterinarianExpert.ToString()) && !Roles.IsUserInRole(UserTypeEnum.Admin.ToString()))
    {
        <div id="hiderightsidebar">
            <img src="@Url.Content("~/Content/images/hide-img.png")" width="22" height="34" alt=""/>
        </div>
        <div id="showrightsidebar">
            <img src="@Url.Content("~/Content/images/show-img.png")" width="22" height="34" alt="" />
        </div>
    }
    @{ Html.RenderPartial("~/Views/Calender/_Calendar.cshtml"); }

    <div class="clearfix"></div>
</div>


<div id="addModalReminder" class="modal fade" tabindex="-1" role="dialog"></div>
<div id="editModalReminder" class="modal fade" tabindex="-1" role="dialog"></div>


@*<script src="@Url.Content("~/Scripts/external/bootstrap-timepicker.js")"></script>*@
<link href="@Url.Content("~/Content/css/fullcalendar.min.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/external/fullcalendar.min.js")"></script>
<script src="@Url.Content("~/Scripts/external/lang-all.js")"></script>

<script src="~/Scripts/customs/views/Calender/Index.js"></script>
