@using ADOPets.Web.Common.Extensions
@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.Profile.ChangePasswordViewModel

<div class="messageStyle">
    @{ Html.RenderPartial("_Alerts"); }
</div>

<div class="columnfull first">
    <div class="form-group">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            @Html.ValidationSummary(true)
        </div>
    </div>


    @using (Ajax.BeginForm("ChangePassword", "Profile", new AjaxOptions
        {
            UpdateTargetId = "changePasswordDiv",
            HttpMethod = "POST",
            OnSuccess = "HideSuccessMsg",
            InsertionMode = InsertionMode.Replace
        }, new { @id = "ChangePasswordForm", @class = "form-horizontal" }))
    {
            
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelRequiredFor(model => model.OldPassword, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", placeholder = Resources.Profile_ChangePassword_OldPasswordPlaceHolder })
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelRequiredFor(model => model.NewPassword, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", placeholder = Resources.Profile_ChangePassword_NewPasswordPlaceHolder })
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelRequiredFor(model => model.ConfirmPassword, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = Resources.Profile_ChangePassword_ConfirmPasswordPlaceHolder })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                <p style="padding: 5px 0 0 0; margin: 0; font-size: 13px; text-align: justify;" class="text-info">
                    @Resources.Profile_ChangePassword_PasswordPolicyHeading
                </p>
            </div>
        </div>               
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-success">@Resources.Profile_ChangePassword_Submit</button>
            </div>
        </div>
    }
</div>
