@using ADOPets.Web.Common.Extensions
@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.Profile.ForceToChangePasswordViewModel
@using Model


<div id="pageTitle">
    <div class="row">
        <div class="col-md-6">
            <h1>@Resources.Profile_ForceToChangePassword_ChangePass</h1>
        </div>

        <div class="col-md-6">
        </div>
    </div>
</div>
<div id="mainContainer">
    @if (!Roles.IsUserInRole(UserTypeEnum.VeterinarianAdo.ToString()) && !Roles.IsUserInRole(UserTypeEnum.VeterinarianExpert.ToString()))
{
    <div id="hiderightsidebar">
        <img src="@Url.Content("~/Content/images/hide-img.png")" width="22" height="34" alt=""/>
    </div>
    <div id="showrightsidebar">
        <img src="@Url.Content("~/Content/images/show-img.png")" width="22" height="34" alt="" />
    </div>
    }
    <div class="well well-sm">
    <div class="columnfull first">
        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                @Html.ValidationSummary(true)
            </div>
        </div>
        @using (Html.BeginForm("ForceToChangePassword", "Profile",FormMethod.Post,new{ @class = "form-horizontal defaultForm", @role = "form" }))
        {
            
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelRequiredFor(model => model.OldPassword, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", placeholder = Resources.Profile_ForceToChangePassword_OldPasswordPlaceHolder })
                    @Html.ValidationMessageFor(model => model.OldPassword)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelRequiredFor(model => model.NewPassword, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", placeholder = Resources.Profile_ForceToChangePassword_NewPasswordPlaceHolder })
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelRequiredFor(model => model.ConfirmPassword, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = Resources.Profile_ForceToChangePassword_ConfirmPasswordPlaceHolder })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    <p style="padding: 5px 0 0 0; margin: 0; font-size: 13px; text-align: justify;" class="text-info">
                        @Resources.Profile_ForceToChangePassword_PasswordPolicyHeading
                    </p>
                </div>
            </div>               
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-success">@Resources.Profile_ForceToChangePassword_Submit</button>
                </div>
            </div>
        }
    </div>
    </div>
</div>
