@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers
@using ADOPets.Web.ViewModels.Profile
@using Resources = ADOPets.Web.Resources.Wording
@using ADOPets.Web.Common.Authentication
@using Model

@model ADOPets.Web.ViewModels.Profile.OwnerDetailViewModel

<div class="messageStyle">
    @{ Html.RenderPartial("_Alerts"); }
</div>
<div id="pageTitle">
    <div class="row">
        <div class="col-md-6">
            <h1>@Resources.Profile_OwnerDetail_MyAccount</h1>
        </div>
        <div class="col-sm-6 text-right">
            @if (!Model.IsFreeUser)
            {
                if (!Model.isPlanRenewed)
                {
                <a href="@Url.Action("PlanRenewal", "Profile")" class="btn btn-success">@Resources.Profile_PlanDetail_RenewalPlan</a>
                }
            }
            @if (Model.MyPlan.isTrial)
            {
                if (!Model.MyPlan.isRenewed)
                {
                    if (Model.MyPlan.PlanType == PlanTypeEnum.BasicFree || Model.MyPlan.PlanType == PlanTypeEnum.Premium)
                    {
                <a href="@Url.Action("PlanUpgrade", "Profile")" class="btn btn-primary">@Resources.Profile_PlanUpgrade_Title</a>
                    }
                }
            }
            else
            {
                if (Model.IsFreeUser)
                {
                    if (Model.MyPlan.PlanType == PlanTypeEnum.BasicFree || Model.MyPlan.PlanType == PlanTypeEnum.Premium)
                    {
                <a href="@Url.Action("PlanUpgrade", "Profile")" class="btn btn-primary">@Resources.Profile_PlanUpgrade_Title</a>
                    }
                }
                else
                {
@* if (Model.NumberOfPets < 10 && !System.Web.HttpContext.Current.User.HasPlanExpired() && Model.Promocode != ADOPets.Web.Common.Constants.FreeUserPromoCode)
                    {   
                    <a class="btn btn-success editBtn" href="#MyPlanAddPets" data-toggle="tab" style="float: right;"><i class="fa fa-pencil"></i>@Resources.Profile_PlanDetail_AdditionalPets</a>
                    }
                    if (!Model.MyPlan.isRenewed && Model.MyPlan.Promocode != ADOPets.Web.Common.Constants.FreeUserPromoCode)
                    {                    
                    <a class="btn btn-success" href="#RenewaltMyPlan" data-toggle="tab" style="float: right; margin-right: 10px"><i class="fa fa-pencil"></i>@Resources.Profile_PlanDetail_RenewalPlan</a>
                    }*@
                }
            }
        </div>
    </div>
</div>

<div id="mainContainer">
    <div id="hiderightsidebar">
        <img src="../Content/images/hide-img.png" width="22" height="34" alt="" />
    </div>
    <div id="showrightsidebar">
        <img src="../Content/images/show-img.png" width="22" height="34" alt="" />
    </div>

    <div id="myAccount">
        <a href="#MyAccount" data-toggle="tab" class="active"><i class="fa fa-gear (alias)"></i>@Resources.Profile_OwnerDetail_Profile</a>
        <a href="#MyPlan" data-toggle="tab"><i class="fa fa-file-text"></i>@Resources.Profile_OwnerDetail_MyPlan</a>
        <a href="#ChangePass" data-toggle="tab"><i class="fa fa-key"></i>@Resources.Profile_OwnerDetail_ChangePass</a>
        <div class="clearfix"></div>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="MyAccount">
            <div id="ownerdetails" class="well well-sm">
                <a href="@Url.Action("OwnerEdit", "Profile")" class="btn btn-success editBtn" id="Editprofile" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-pencil"></i>@Resources.Profile_OwnerDetail_EditProfile</a>

                <div class="column " style="margin-top: 40px !important;">
                    <div class="detailrow">
                        <div>
                            <label>@Resources.Profile_OwnerEdit_UserId</label>
                        </div>
                        <div class="colonspace">:</div>
                        <div>@Model.OwnerId</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Html.LabelFor(m => m.FirstName)</div>
                        <div class="colonspace">:</div>
                        <div>@Model.FirstName</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Html.LabelFor(m => m.MiddleName)</div>
                        <div class="colonspace">:</div>
                        <div>@Model.MiddleName</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Html.LabelFor(m => m.LastName)</div>
                        <div class="colonspace">:</div>
                        <div>@Model.LastName</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Html.LabelFor(m => m.BirthDate)</div>
                        <div class="colonspace">:</div>
                        <div>@Model.BirthDate</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Html.LabelFor(m => m.Gender)</div>
                        <div class="colonspace">:</div>
                        <div>@Html.EnumDisplayFor(m => m.Gender)</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Html.LabelFor(m => m.TimeZone)</div>
                        <div class="colonspace">:</div>
                        <div>@EnumHelper.GetResourceValueForEnumValue(Model.TimeZone)</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Html.LabelFor(m => m.IsSearchable)</div>
                        <div class="colonspace">:</div>
                        <div>
                            @if (Model.IsSearchable == true)
                            {<text>@Resources.Profile_OwnerDetail_isSearchableYes</text>}
                            else
                            { <text>@Resources.Profile_OwnerDetail_isSearchableNo</text>}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div style="width: 100%; font-weight: 400;">@Html.LabelFor(m => m.Email) : @Model.Email</div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="column" style="margin-top: 40px !important;">
                    <div class="detailrow">
                        <div>@Html.LabelFor(m => m.Address1)</div>
                        <div class="colonspace">:</div>
                        <div>@Model.Address1</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Html.LabelFor(m => m.Address2)</div>
                        <div class="colonspace">:</div>
                        <div>@Model.Address2</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Html.LabelFor(m => m.City)</div>
                        <div class="colonspace">:</div>
                        <div>@Model.City</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Html.LabelFor(m => m.Country)</div>
                        <div class="colonspace">:</div>
                        <div>@Html.EnumDisplayFor(m => m.Country)</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Html.LabelFor(m => m.State)</div>
                        <div class="colonspace">:</div>
                        <div>@Html.EnumDisplayFor(m => m.State)</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Html.LabelFor(m => m.Zip)</div>
                        <div class="colonspace">:</div>
                        <div>@Model.Zip</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Html.LabelFor(m => m.PrimaryPhone)</div>
                        <div class="colonspace">:</div>
                        <div>@Model.PrimaryPhone</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Html.LabelFor(m => m.SecondaryPhone)</div>
                        <div class="colonspace">:</div>
                        <div>@Model.SecondaryPhone</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div>@Html.LabelFor(m => m.CreationDate)</div>
                        <div class="colonspace">:</div>
                        <div>@(Model.CreationDate == null ? "" : @Model.CreationDate.Value.ToShortDateString())</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="tab-pane fade in" id="ChangePass">
            <div id="changePasswordDiv" class="well well-sm">
                @{ Html.RenderPartial("~/Views/Profile/ChangePassword.cshtml", new ChangePasswordViewModel()); }
            </div>
        </div>

        <div class="tab-pane fade in" id="MyPlan">
            @if (Model.MyPlan.isRenewed)
            {
                <div class="alert alert-info alert-dismissible fade in alert2" role="alert" style="text-align: center;">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.CloseButton</span></button>
                    <strong>@Resources.Profile_PlanDetail_RenewUpgradeTitle</strong><a href="@Url.Action("GetRenewalInfo", "Profile")" id="GetPlanRenewalDetails">@Resources.Profile_PlanDetail_ClickToseeDetails</a>
                </div>
            }

            @if (System.Web.HttpContext.Current.User.HasPlanExpired())
            {
                <div class="alert alert-info alert-dismissible fade in alert2" role="alert" style="text-align: center;">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.CloseButton</span></button>
                    <strong>@Resources.Profile_PlanDetail_PlanExpired</strong>
                </div>
            }

            <div id="MyPlainDiv" class="well well-sm">
                @{ Html.RenderPartial("~/Views/Profile/PlanDetail.cshtml", Model.MyPlan); }
            </div>
        </div>

        @if (Model.MyPlan.isTrial)
        {
            <div class="tab-pane fade in" id="UpgradeMyPlan">
                @if (!Roles.IsUserInRole(UserTypeEnum.OwnerAdmin.ToString()))
                { 
                    <div class="well well-sm">

                        @{ Html.RenderPartial("~/Views/Profile/PlanUpgrade.cshtml", Model.UpgradePlan); }

                    </div>
                }
                else
                {
                    //{ Html.RenderPartial("~/Views/Profile/PlanUpgrade1.cshtml", Model.UpgradePlan); }
                }
            </div>
        }
        else
        {
            if (Model.IsFreeUser)
            {
            <div class="tab-pane fade in" id="UpgradeMyPlan">
                @if (!Roles.IsUserInRole(UserTypeEnum.OwnerAdmin.ToString()))
                { 
                    <div class="well well-sm">

                        @{ Html.RenderPartial("~/Views/Profile/PlanUpgrade.cshtml", Model.UpgradePlan); }

                    </div>
                }
                else
                {

                    { Html.RenderPartial("~/Views/Profile/PlanUpgrade.cshtml", Model.UpgradePlan); }

                }
            </div>
            }
            else
            {
@*<div class="tab-pane fade in" id="MyPlanAddPets">
                <div id="EditPlainDiv" class="well well-sm">
                    @{ Html.RenderPartial("~/Views/Profile/PlanAddPets.cshtml", Model.PlanAddPets); }
                </div>
            </div>*@            
            <div class="tab-pane fade in" id="RenewaltMyPlan">
                <div class="well well-sm">
                    @* @{ Html.RenderPartial("~/Views/Profile/PlanRenewal.cshtml", Model.RenewalPlan); }*@

                </div>
            </div>
            }
        }

        <div class="tab-pane fade in" id="PlanBilling">
        </div>

        <div class="tab-pane fade in" id="PlanConfirmation">
        </div>

        <div class="tab-pane fade in" id="PaymentResult">
        </div>

    </div>
</div>
<div id="EditprofileModel" class="modal fade" tabindex="-1" role="dialog"></div>
<script src="/Scripts/customs/views/Profile/OwnerDetail.js"></script>
<script>
    $(document).ready(function () {
        if ('@System.Web.HttpContext.Current.User.HasPlanExpired()' == 'True') {
            $('#myAccount').hide();
            $('#MyAccount').hide();
            $('#MyPlan').removeClass('tab-pane fade').addClass('tab-pane fade in active');
        }
        var selectedItem = parseInt($('#NumberOfPets').val());
        if (selectedItem == 0) {
            $("#ddlViewBy  option:contains('@Resources.Profile_PlanRenewal_AdditionalPetOptionalLabel')").prop("selected", "selected");
        }
    });
</script>
