@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.Profile.PlanConfirmationViewModel
@using ADOPets.Web.Common.Helpers;
@using Model

<div class="well well-sm">
    <div class="columnfull first">
        <h3 style="text-align: center">@Resources.Profile_PlanConfirmation_Title</h3>
        <hr />
        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
            </div>
        </div>

        @using (Ajax.BeginForm("PlanConfirmation", "Profile", new AjaxOptions
        {
            UpdateTargetId = "PaymentResult",
            HttpMethod = "POST",
            OnBegin = "onBegin",
            OnComplete = "onComplete",
            InsertionMode = InsertionMode.Replace
        }, new { @id = "PaymentResultForm", @class = "form-horizontal" }))
        {
            
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-12">
                    <div class="detailrow">
                        <div style="color: #428bca; width: 35%;">@Resources.Profile_PlanDetail_YourPlan</div>
                        <div class="colonspace text-primary">:</div>
                        <div class="text-primary">@Model.PlanName</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                        <div style="color: #428bca; width: 35%;">@Resources.Profile_PlanDetail_YourCharge</div>
                        <div class="colonspace text-primary">:</div>
                        <div class="text-primary">@DomainHelper.GetCurrency()@Model.Price</div>
                        <div class="clearfix"></div>
                    </div>

                    <h4 style="text-align: center; color: #63a00e;">@Resources.Profile_PlanEdit_PlanInformation</h4>
                    <div class="clearfix"></div>
                    <div class="detailrow">
                        <div style="width: 35%;">@Resources.Profile_PlanEdit_Promocode</div>
                        <div class="colonspace">:</div>
                        <div>@Model.Promocode</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                        <div style="width: 35%;">@Resources.Profile_PlanEdit_PlanName</div>
                        <div class="colonspace">:</div>
                        <div>@Model.BasicPlanName</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                        <div style="width: 35%;">@Resources.Profile_PlanEdit_Description</div>
                        <div class="colonspace">:</div>
                        <div>@Model.Description</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                        <div style="width: 35%;">@Resources.Profile_PlanEdit_AdditionalInfo</div>
                        <div class="colonspace">:</div>
                        <div>@Model.AdditionalInfo</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                        <div style="width: 35%;">@Resources.Profile_PlanEdit_AdditionalPets</div>
                        <div class="colonspace">:</div>
                        <div>@Model.AdditionalPets</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detailrow">
                        <div style="width: 35%;">@Resources.Profile_PlanEdit_StartDate</div>
                        <div class="colonspace">:</div>
                        <div>@Model.StartDate.ToShortDateString()</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                        <div style="width: 35%;">@Resources.Profile_PlanEdit_ExpirationDate</div>
                        <div class="colonspace">:</div>
                        <div>@Model.EndDate.ToShortDateString()</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                        <div style="width: 35%;">@Resources.Profile_PlanEdit_Duration</div>
                        <div class="colonspace">:</div>
                        <div>@string.Format(Resources.Profile_PlanEdit_Days, Model.Duration)</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                        <div style="width: 35%;">@Resources.Profile_PlanEdit_RemainingDays</div>
                        <div class="colonspace">:</div>
                        <div>@string.Format(Resources.Profile_PlanEdit_Days, Model.RemainingDays)</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                    <h4 style="text-align: center; color: #63a00e;">@Resources.Profile_PlanEdit_BillingInformation</h4>
                    <div class="clearfix"></div>
                    @if (ADOPets.Web.Common.Helpers.DomainHelper.GetDomain() == DomainTypeEnum.US)
                    {
                        <div class="detailrow">
                            <div style="width: 35%;">@Resources.Profile_PlanEdit_CreditCardType</div>
                            <div class="colonspace">:</div>
                            <div>@Model.CreditCardType</div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="detailrow">
                            <div style="width: 35%;">@Resources.Profile_PlanEdit_CreditCardNumber</div>
                            <div class="colonspace">:</div>
                            <div>@Model.CreditCardNumber</div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="detailrow">
                            <div style="width: 35%;">@Resources.Profile_PlanEdit_ExpirationDate</div>
                            <div class="colonspace">:</div>
                            <div>@Model.BillingExpirationDate</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="detailrow">
                            <div style="width: 35%;">@Resources.Profile_PlanEdit_CVV</div>
                            <div class="colonspace">:</div>
                            <div>@Model.CVV</div>
                            <div class="clearfix"></div>
                        </div>
                    }
                    <div class="detailrow">
                        <div style="width: 35%;">@Resources.Profile_PlanEdit_Address1</div>
                        <div class="colonspace">:</div>
                        <div>@Model.BillingAddress1</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                        <div style="width: 35%;">@Resources.Profile_PlanEdit_Address2</div>
                        <div class="colonspace">:</div>
                        <div>@Model.BillingAddress2</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                        <div style="width: 35%;">@Resources.Profile_PlanEdit_City</div>
                        <div class="colonspace">:</div>
                        <div>@Model.BillingCity</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                        <div style="width: 35%;">@Resources.Profile_PlanEdit_State</div>
                        <div class="colonspace">:</div>
                        <div>@Model.BillingState</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                        <div style="width: 35%;">@Resources.Profile_PlanEdit_Country</div>
                        <div class="colonspace">:</div>
                        <div>@Model.BillingCountry</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                        <div style="width: 35%;">@Resources.Profile_PlanEdit_Zip</div>
                        <div class="colonspace">:</div>
                        <div>@Model.BillingZip</div>
                        <div class="clearfix"></div>
                    </div>
                    @if (ADOPets.Web.Common.Helpers.DomainHelper.GetDomain() == DomainTypeEnum.US)
                    {
                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-8">
                                <button type="button" class="btn btn-success" id="backToBilling">@Resources.Profile_PlanEdit_Back</button>
                                <button type="submit" class="btn btn-success">@Resources.Profile_PlanEdit_Purchase</button>
                            </div>
                        </div>
                    }
                </div>


            </div>
        }
    </div>
</div>

@if (ADOPets.Web.Common.Helpers.DomainHelper.GetDomain() == DomainTypeEnum.French)
{
    HttpContext.Current.Session["reference"] = "ref" + DateTime.Now.ToString("HHmmss");
    <form action="@WebConfigHelper.CmcicServeur" method="post" id="PaymentRequest">
        @Html.Hidden("montant", Model.Price.ToString(System.Globalization.CultureInfo.CurrentCulture) + "EUR")
        @Html.Hidden("TPE", WebConfigHelper.CmcicTpe)
        @Html.Hidden("version", WebConfigHelper.CmcicVersion)
        @Html.Hidden("MAC", "")
        @Html.Hidden("reference", HttpContext.Current.Session["reference"])
        @Html.Hidden("societe", WebConfigHelper.CmcicCodeSociete)
        @Html.Hidden("date", DateTime.Now.ToString("dd/MM/yyyy:HH:mm:ss"))
        @Html.Hidden("url_retour", WebConfigHelper.CmcicUrlOk + "Profile/CmcicPlanConfirmation")
        @Html.Hidden("url_retour_ok", WebConfigHelper.CmcicUrlOk + "Profile/CmcicPlanConfirmation")
        @Html.Hidden("url_retour_err", WebConfigHelper.CmcicUrlKo + "Profile/CmcicPlanError")
        @Html.Hidden("mail", Model.Email)
        @Html.Hidden("texte-libre", "This is a test")
        @Html.Hidden("lgue", "FR")
          @Html.Hidden("SendingSite", WebConfigHelper.CmcicSite)

        <p class="text-center">
            <a href="@Url.Action("SignUp", "Account")" class="btn btn-primary btn-outline-rounded ">@Resources.Account_SignUp_Cancel <i class="fa fa-eraser"></i></a>
            <button type="submit" class="btn btn-success btn-outline-rounded" id="frPaymentProceed">@Resources.Account_SignUp_Purchase <i class="fa fa-shopping-cart"></i></button>
        </p>
    </form>
}

<script src="/Scripts/customs/views/Profile/PlanConfirmation.js"></script>
