@using Resources = ADOPets.Web.Resources.Wording
@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers
@using Model
@model ADOPets.Web.ViewModels.Users.EditOwnerViewModel
@{
    ViewBag.Title = Resources.Users_EditUser_EditOwner;
}

<div id="pageTitle">
    <div class="row">
        <div class="col-md-6">
            <h1>@Resources.Users_EditUser_EditOwner</h1>
        </div>
        <div class="col-md-6">
            <a href="@Url.Action("ViewUser", "Users", new { id = Model.Id })" class="btn btn-primary pull-right"><i class="fa fa-angle-left"></i>@Resources.Users_AddUser_Back</a>
        </div>
    </div>
</div>
<div id="mainContainer">
    @using (Html.BeginForm("EditOwner", "Users", FormMethod.Post, new { enctype = "multipart/form-data", @id = "AddUserForm", @class = "form-horizontal defaultForm bv-form", @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@Resources.Users_AddUser_BasicInformation</h3>
            </div>
            <div class="panel-body">
                @Html.HiddenFor(model => model.Id)
                <div class="column">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Usertype, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.EnumDisplayFor(m => m.Usertype).ToString()
                            @Html.HiddenFor(model => model.UserTypeId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelRequiredFor(model => model.FirstName, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = Resources.Users_AddUser_FirstNamePlaceHolder })
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelRequiredFor(model => model.LastName, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = Resources.Users_AddUser_LastNamePlaceHolder })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BirthDate, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control datepicker datepickerForUserBirthday", placeholder = Resources.Users_AddUser_DateOfBirthPlaceHolder, @style = "z-index:0 !important;" })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.EnumDropDownListFor(m => m.Gender, "Select One", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelRequiredFor(model => model.Email, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = Resources.Users_AddUser_EmailPlaceHolder })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelRequiredFor(model => model.TimeZone, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.EnumDropDownListFor(m => m.TimeZone, Resources.Users_AddUser_TimeZonePlaceHolder, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TimeZone)
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="lblphotoupload" class="col-sm-4 control-label">@Resources.Users_AddUser_UploadPhoto</label>
                        <div class="col-sm-8">
                            <img src="@Url.Action("GetImageById", "Profile", new { Id = Model.Id })" style="width: 140px; height: 140px; float: left;" id="imgNewUserProfilePic">
                            <div style="margin: 7px 0 0 20px; float: left; width: 100px;">
                                <a href='#' id="lnkUploadUserPhoto" onclick="document.getElementById('imgNewUserPhoto').click(); return false;"><b>@Resources.Users_AddUser_UploadPhoto</b></a>
                                @if (Model.Image != null)
                                {
                                    <a href="#modelDeleteConfirmation" data-toggle="modal" style="font-weight: bold" id="lnkDeleteProfPhoto"><b>@Resources.Profile_OwnerEdit_DeletePhoto</b></a>
                                }
                                <input type="file" name="imgNewUserPhoto" id="imgNewUserPhoto" style="opacity: 0; height: 0; width: 0;" accept="image/*" />
                            </div>
                            <div class="clearfix"></div>
                            @Html.HiddenFor(m => m.DeleteImg)
                        </div>
                    </div>

                </div>
                <div class="column">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Address1, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Address1, new { @class = "form-control", placeholder = Resources.Users_AddUser_Address1PlaceHolder })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Address2, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Address2, new { @class = "form-control", placeholder = Resources.Users_AddUser_Address2PlaceHolder })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.City, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.City, new { @class = "form-control", placeholder = Resources.Users_AddUser_CityPlaceHolder })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Country, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.EnumDropDownListFor(m => m.Country, Resources.Users_AddUser_CountryPlaceHolder, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.State, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.EnumDropDownListFor(m => m.State, Resources.Users_AddUser_StatePlaceHolder, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Zip, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Zip, new { @class = "form-control", placeholder = Resources.Users_AddUser_ZipPlaceHolder })
                            @Html.ValidationMessageFor(model => model.Zip)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PrimaryPhone, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.PrimaryPhone, new { @class = "form-control", placeholder = Resources.Users_AddUser_PrimaryPhonePlaceHolder })
                            @Html.ValidationMessageFor(model => model.PrimaryPhone)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SecondaryPhone, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.SecondaryPhone, new { @class = "form-control", placeholder = Resources.Users_AddUser_SecondaryPhonePlaceHolder })
                            @Html.ValidationMessageFor(model => model.SecondaryPhone)
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
             
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@Resources.Users_AddUser_LoginDetails</h3>
            </div>
            <div class="panel-body">
                <div class="column">
                    <div class="form-group">
                        @Html.LabelRequiredFor(model => model.Username, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = Resources.Users_AddUser_UserNamePlaceHolder })
                            @Html.ValidationMessageFor(model => model.Username)
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        @Html.LabelRequiredFor(model => model.Password, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Password, new { id = "Password", @class = "form-control", @Type = "Password", placeholder = Resources.Users_AddUser_PasswordPlaceHolder })
                            @Html.ValidationMessageFor(model => model.Password)
                            <p id="passStrength"></p>
                            <p style="padding: 5px 0 0 0; margin: 0; font-size: 13px; text-align: justify;" class="text-info">
                                @Resources.Users_AddUser_PasswordPolicyDetails
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <!--login details end here-->
        <div class="form-group">
            <div class="col-md-6">
                <a href="@Url.Action("ViewUser", "Users", new { id = Model.Id })"  class="btn btn-warning btn-lg pull-right">@Resources.Users_AddUser_Cancel</a>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success btn-lg">@Resources.Users_AddUser_Submit</button>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="modelDeleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 50%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Profile_OwnerEdit_StatusConfirmationTitle</h4>
            </div>
            <form class="form-horizontal defaultForm" role="form">
                <div class="modal-body">
                    <label for="Subject" class="col-sm-9 control-label">@Resources.Profile_OwnerEdit_StatusConfirmationMessage</label>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="DeleteImage">@Resources.Profile_OwnerEdit_StatusConfirmationOkLabel</button>
                    <button type="button" class="btn btn-default" onclick="$('#lnkDeleteProfPhoto').click();">@Resources.Profile_OwnerEdit_StatusConfirmationCancelLabel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/Scripts/customs/views/Users/EditOwner.js"></script>
