@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers
@using Model
@using Resources = ADOPets.Web.Resources.Wording
@model IEnumerable<ADOPets.Web.ViewModels.Users.IndexViewModel>

@if (Roles.IsUserInRole(UserTypeEnum.Admin.ToString()))
{    
    <link href="~/Content/css/adminportal.css" rel="stylesheet" />
}

<div class="messageStyle">
    @{ Html.RenderPartial("_Alerts"); }
</div>
<div class="clearfix"></div>
<div id="pageTitle">
    <div class="row">
        <div class="col-md-6">
            <h1>@Resources.Shared_Layout_AdminUsers</h1>
        </div>
        <div class="col-md-6">
            @if (!Roles.IsUserInRole(UserTypeEnum.VeterinarianExpert.ToString()))
            {
                <a href="@Url.Action("AddUser", "Users")" class="btn btn-success pull-right"><i class="fa fa-plus-circle"></i>@Resources.Users_Index_AddUser</a>
            }
        </div>
    </div>
</div>
<div id="mainContainer">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">@Resources.Users_Index_SearchUsers</h3>
        </div>
        <div class="form-horizontal defaultForm bv-form">
            <div class="panel-body">
                <div class="row" id="userSearchBx">
                    <div class="col-md-4">
                        @if (Roles.IsUserInRole(UserTypeEnum.VeterinarianAdo.ToString()) || Roles.IsUserInRole(UserTypeEnum.VeterinarianLight.ToString()))
                        {
                            @Html.EnumDropDownList(typeof(UserTypeEnum), "UserType", ViewBag.ExcludedItemList as List<string>, ViewBag.UserType as UserTypeEnum?, ViewBag.UsertypeText as string, new { @class = "form-control" })
                        }
                        else
                        {              
                            @Html.EnumDropDownList(typeof(UserTypeEnum), "UserType", ViewBag.ExcludedItemList as List<string>, ViewBag.UserType as UserTypeEnum?, Resources.Users_Index_UserTypePlaceHolder, new { @class = "form-control" })
                        }
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="UFirstName" placeholder="@Resources.Users_Index_SearchbyFname">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ULastName" placeholder="@Resources.Users_Index_SearchbyLname">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="UserID" placeholder="@Resources.Users_Index_SearchbyUserID">
                    </div>
                    <div class="col-md-4" id="centerIDField">
                        <input type="text" class="form-control" id="UCenterID" placeholder="@Resources.Users_Index_SearchbyCenterID">
                    </div>
                    <div class="col-md-4" id="spacialityField">
                        @Html.EnumDropDownList(typeof(VetSpecialityEnum), "Specility", ViewBag.vetSpeciality as VetSpecialityEnum?, Resources.Users_Index_SpecialityPlaceHolder, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4" id="promoCode">
                        @Html.DropDownList("Promocode", ViewBag.Promocode as IEnumerable<SelectListItem>, Resources.Users_Index_SearchbyPromocode, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4" id="planFilter">
                        @Html.DropDownList("Plan", ViewBag.Plans as IEnumerable<SelectListItem>, Resources.Users_Index_SearchbyPlan, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4" id="emailIDFilter">
                        <input type="email" id="UEmail" class="form-control" placeholder="@Resources.Users_Index_SearchbyEmail">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="text-primary">@Resources.User_Index_AllUser</h4>

    <table id="TblUsers" class="table table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th width="12%">@Resources.User_Index_Role</th>
                <th width="10%">@Resources.User_Index_CenterID</th>
                <th width="10%">@Resources.User_Index_userID</th>
                <th width="15%">@Resources.User_Index_FirstName</th>
                <th width="15%">@Resources.User_Index_LastName</th>
                <th width="15%">@Resources.User_Index_Speciality</th>
                <th style="display: none; height: 0; width: 0;"></th>
                <th style="display: none; height: 0; width: 0;"></th>
                <th style="display: none; height: 0; width: 0;"></th>
                <th>
                    <div style="width: 100px !important;">@Resources.Smo_Index_Status</div>
                </th>
                <th>
                    <div style="width: 185px !important;">@Resources.User_Index_Action</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>@EnumHelper.GetResourceValueForEnumValue(item.Usertype)</td>
                    <td>@Html.DisplayFor(modelItem => item.PromoCode)</td>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.EnumDisplayFor(modelItem => item.Speciality)</td>
                    <td style="display: none; height: 0; width: 0;">@Html.DisplayFor(modelItem => item.Email)</td>
                    <td style="display: none; height: 0; width: 0;">@Html.DisplayFor(modelItem => item.PlanName)</td>
                    <td style="display: none; height: 0; width: 0;">@Html.DisplayFor(modelItem => item.CenterId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>
                        @if (item.Status == Resources.User_Index_InActiveStatus)
                        {
                            <a href="@Url.Action("ViewUser", "Users", new { id = item.Id })" data-href="javascript:void(0)" data-tooltip="tooltip" data-placement="top" data-original-title="@Resources.Users_Index_ViewProfileTooltip" class="btn btn-default btn-sm active" ><i class="fa fa-eye"></i></a>
                            if (item.Usertype == UserTypeEnum.OwnerAdmin)
                            {
                                if (item.IsPetExist)
                                {
                            <a href="@Url.Action("Index", "Pet", new { id = item.Id })" data-href="javascript:void(0);" data-tooltip="tooltip" data-placement="top" data-original-title="@Resources.Users_Index_ViewPetsTooltip" class="btn btn-default btn-sm active"><i class="fa fa-paw"></i></a>
                                }
                            }
                        }
                        else
                        {
                            <a href="@Url.Action("ViewUser", "Users", new { id = item.Id })" data-href="javascript:void(0)" data-tooltip="tooltip" data-placement="top" data-original-title="@Resources.Users_Index_ViewProfileTooltip" class="btn btn-primary btn-sm" ><i class="fa fa-eye"></i></a>
                            
                            if (item.Usertype == UserTypeEnum.OwnerAdmin)
                            {
                                if (item.IsPetExist)
                                {
                            <a href="@Url.Action("Index", "Pet", new { id = item.Id })" data-href="javascript:void(0);" data-tooltip="tooltip" data-placement="top" data-original-title="@Resources.Users_Index_ManagePetsTooltip" class="btn btn-success btn-sm"><i class="fa fa-paw"></i></a>
                                }
                                else
                                {
                                    if (!Roles.IsUserInRole(UserTypeEnum.VeterinarianExpert.ToString()))
                                    {
                            <a href="@Url.Action("Add", "Pet", new { id = item.Id })" data-href="javascript:void(0);" class="btn btn-success btn-sm" data-tooltip="tooltip" data-placement="top" title="" data-original-title="@Resources.Pet_Index_AddAnimal"><i class="fa fa-plus-circle"></i></a>
                                    }
                                }
                                if (!Roles.IsUserInRole(UserTypeEnum.VeterinarianExpert.ToString()))
                                {
                                    if (item.Status == Resources.User_Index_PaymentPendingStatus)
                                    {
                            <a href="@Url.Action("MarkPaymentDone", "Users", new { id = item.Id, isPaymentDone = true })" data-href="javascript:void(0)" data-tooltip="tooltip" data-placement="left" data-original-title="@Resources.Users_Index_MarkPaymentNotDone" class="btn btn-default btn-sm" ><i class="fa fa-square-o"></i></a>
                                    }
                                    else
                                    {
                                        if (!item.IsFreeUser)
                                        {
                            <a href="@Url.Action("MarkPaymentDone", "Users", new { id = item.Id, isPaymentDone = false })" data-href="javascript:void(0)" data-tooltip="tooltip" data-placement="left" data-original-title="@Resources.Users_Index_MarkPaymentDone" class="btn btn-default btn-sm" ><i class="fa fa-check-square-o"></i></a>
                                        }
                                    }
                                }
                            }
                            if (!Roles.IsUserInRole(UserTypeEnum.VeterinarianExpert.ToString()))
                            {
                                if (!item.IsTemporalPassword)
                                {                    
                            <a href="@Url.Action("SendEmailToOwner", "Users", new { userId = item.Id })" data-href="javascript:void(0)" data-tooltip="tooltip" data-placement="left" 
                                    data-original-title="@Resources.Users_Index_SendEmailTooltip" class="btn btn-primary btn-sm" ><i class="fa fa-envelope"></i></a>
                                }
                            }

                            if (!Roles.IsUserInRole(UserTypeEnum.VeterinarianExpert.ToString()))
                            {
                            <a href="javascript:void(0);" data-href="@Url.Action("RemoveUser", "Users", new { id = item.Id })" data-tooltip="tooltip" data-toggle="confirmation" data-original-title="@Resources.Users_Index_RemoveUserTooltip" class="btn btn-warning btn-sm" ><i class="fa fa-close"></i></a>
                            }
                        }
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="clearfix"></div>


<script src="@Url.Content("~/Scripts/external/bootstrap-confirmation.js")"></script>
<script src="~/Scripts/customs/views/Users/Index.js"></script>

<script>
    $(document).ready(function () {
        showData();
    });

    function deleteConfirmation() {
        $('[data-toggle="confirmation"]').confirmation({
            title: "@Html.Raw(Resources.Users_Index_StatusConfirmationTitle)",
            btnOkLabel: "@Html.Raw(Resources.Users_Index_StatusConfirmationOkLabel)",
            btnCancelLabel: "@Html.Raw(Resources.Users_Index_StatusConfirmationCancelLabel)"
        });
    }
</script>
