@using ADOPets.Web.Common.Helpers
@using Model
@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.Hemogram.EditViewModel
@using ADOPets.Web.Common.Extensions

<div class="modal-dialog">

    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="HemogramModalLabel">@Resources.Hemogram_Edit_Title</h4>
        </div>

        @using (Ajax.BeginForm("Edit", "Hemogram", new AjaxOptions
        {
            UpdateTargetId = "hemogramList",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "CloseDialogHemogram"
        }, new { @id = "editHemogramForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="modal-body">

                @Html.HiddenFor(model => model.PetId)
                @Html.HiddenFor(model => model.Id)

                @Html.LabelRequiredFor(model => model.MeasureDate, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.MeasureDate, new { @class = "form-control datepicker datepickerPast", placeholder = Resources.Hemogram_Edit_DatePlaceHolder, @Value = Model.MeasureDate.ToString("d") })
                @Html.ValidationMessageFor(model => model.MeasureDate)
                <br>

                @Html.LabelRequiredFor(model=>model.LeftValue, new { @class = "control-label" })
                <div class="row">
                     <div class="col-md-12">
                        @Html.TextBoxFor(model => model.LeftValue, new { @class = "form-control", placeholder = string.Format(Resources.Hemogram_Edit_LeftValuePlaceHolder, EnumHelper.GetResourceValueForEnumValue(HealthMeasureUnitEnum.GramLiter)) })
                        @Html.ValidationMessageFor(model => model.LeftValue)
                    </div>
                                     
                </div>

                <div class="clearfix"></div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">@Resources.Hemogram_Edit_SaveChanges</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Hemogram_Edit_Cancel</button>
            </div>
        }

    </div>
</div>

