@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers
@using Resources = ADOPets.Web.Resources.Wording;
@using Model

@model ADOPets.Web.ViewModels.Econsultation.AddViewModel
@{
    ViewBag.Title = Resources.Econsultation_Add_Title;
    int userId = ViewBag.UserId;
}

<div class="clearfix"></div>
<div id="pageTitle">
    <div class="row">
        <div class="col-md-8">
            <h1>@Resources.Econsultation_Add_Title</h1>
        </div>
        <div class="col-md-4"><a href="@Url.Action("Index", "Econsultation")" class="btn btn-primary pull-right"><i class="fa fa-angle-left"></i>@Resources.Smo_Add_BackButton</a> </div>
    </div>
</div>
<div id="mainContainer">
    @if (Roles.IsUserInRole(UserTypeEnum.OwnerAdmin.ToString()))
    {
        <div id="hiderightsidebar">
            <img src="@Url.Content("~/Content/images/hide-img.png")" width="22" height="34" alt=""/>
        </div>
        <div id="showrightsidebar">
            <img src="@Url.Content("~/Content/images/show-img.png")" width="22" height="34" alt=""/>
        </div>
    }

    <div id="divStep">
        @Html.Partial("_SetupVD", Model.objSetup)
    </div>

</div>
<div class="clearfix"></div>

<script src="@Url.Content("~/Scripts/customs/views/Econsultation/Add.js")"></script>
