@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers
@using Model
@using Resources = ADOPets.Web.Resources.Wording;
@model IEnumerable<ADOPets.Web.ViewModels.Econsultation.ExpertView>
@{
    ViewBag.Title = Resources.Econsultation_Index_Title;
    DateTime CurrentUserTime = TimeZoneHelper.GetCurrentUserLocalTime();

    int UserId = Convert.ToInt16(ViewBag.UserId);
}

<link href="@Url.Content("~/Content/css/expertportal.css")" rel="stylesheet">

<div id="pageTitle">
    <div class="row">
        <div class="col-md-4">
            <h1>@Resources.Econsultation_Index_Title</h1>
        </div>
        <div class="col-md-3">
            <span class="usericon">
                @Html.EnumDropDownList(typeof(EConsultationStatusEnum), "StatusFilter", ViewBag.EconsulRequestStatus as EConsultationStatusEnum?, Resources.Econsultation_Index_SearchByStatusPlaceHolder, new { @class = "form-control" })
            </span>
        </div>
        <div class="col-md-3">
            <span class="usericon">
                @Html.TextBox("ECONIDFilter", string.Empty, new { placeholder = Resources.Econsultation_View_SearchECID, @class = "form-control usericon" })
            </span>
        </div>
        @if (!Roles.IsUserInRole(UserTypeEnum.VeterinarianExpert.ToString()))
        {
            <div class="col-md-2">
                <a href="@Url.Action("CreateEC", "Econsultation")" class="btn btn-success pull-right"><i class="fa fa-plus-circle"></i>@Resources.Econsultation_Index_NewEconsultation</a>
            </div>
        }
    </div>
</div>
<div id="mainContainer">

    <div id="dvHdnTotalRecords" style="display: none;">
    </div>

    <table id="EconsultationList" class="table table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th width="10%">@Resources.Econsultation_Index_PetName</th>
                <th width="11%">@Resources.Econsultation_View_ECID</th>
                <th width="17%">@Resources.Econsultation_View_OwnerName</th>
                <th width="20%">@Resources.Econsultation_View_Title</th>
                <th width="18%">@Resources.Econsultation_View_DateTime</th>
                <th width="8%">@Resources.Econsultation_Add_Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {

                foreach (var item in Model)
                {
                <tr>
                    <td>
                         @if (!item.IsPetDeleted)
                        {
                        <a href="@Url.Action("Edit", "Pet", new { id = item.PetId })">@item.Name</a>
                         }
                        else{
                                                 <a href="#modelPetDeleted" data-toggle="modal">@item.Name</a>
                         }
                    </td>
                    <td>EC-@item.Id</td>
                    <td>@item.PetOwner</td>
                    <td>@item.Condition</td>
                    <td>@item.date.ToShortDateString() & @item.time.ToShortTimeString()</td>
                    <td><span id="spnRequestStatus" class="label label-primary" data-myitemid="@(item.Status)">@(item.Status)</span></td>
                    <td>
                        @* CurrentUserTime - item.ECTime.AddHours(item.time.Hour)).Minutes < 30) || (CurrentUserTime - item.ECTime.AddHours(item.time.Hour)).Minutes > 30  *@
                        @if (!item.IsPetDeleted)
                        {
                            if (item.Status.ToString() != @ADOPets.Web.Resources.Enums.EConsultationStatusEnum_PaymentPending.ToString())
                            {
                                if (Roles.IsUserInRole(UserTypeEnum.Admin.ToString()))
                                {
                            <a href="@Url.Action("ViewDetails", "Econsultation", new { EconsultID = item.Id })" class="btn btn-primary btn-sm" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Details">
                                <i class="fa fa-eye"></i></a>
                                    if ((item.Status.ToString() == EConsultationStatusEnum.Closed.ToString()))
                                    {                                
                            <a href="@Url.Action("GetReport", "Econsultation", new { EcId = item.Id })" target="_blank" class="btn btn-success btn-sm" data-tooltip="tooltip" data-placement="top" title="Report"><i class="fa fa-download"></i></a>
                                    }
                                }
                                if (Roles.IsUserInRole(UserTypeEnum.VeterinarianAdo.ToString()))
                                {
                                    if (item.CreatedBy == UserId && item.VetId != UserId)
                                    {
                            <a href="@Url.Action("ViewDetails", "Econsultation", new { EconsultID = item.Id })" class="btn btn-primary btn-sm" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Details">
                                <i class="fa fa-eye"></i></a>
                                    }
                                    else
                                    {
                            <a href="@Url.Action("ExpertViewDetails", "Econsultation", new { EconsultID = item.Id })" class="btn btn-primary btn-sm" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Details">
                                <i class="fa fa-eye"></i></a>
                            
                                        if ((item.Status.ToString() == EConsultationStatusEnum.Scheduled.ToString() && ((item.Duration >= 0 && item.Duration <= 30) && (item.ECTime.Date.Equals(CurrentUserTime.Date)))) || item.Status.ToString() == EConsultationStatusEnum.InProgress.ToString())
                                        {
                                            if (!Roles.IsUserInRole(UserTypeEnum.Admin.ToString()) && !Roles.IsUserInRole(UserTypeEnum.VeterinarianLight.ToString()) && item.VetId == UserId)
                                            {
                            <a href="@Url.Action("StartEConsultation", "Econsultation", new { ecId = item.Id, userId = UserId })" class="btn btn-danger btn-sm" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Start">
                                <i class="fa fa-play fa-spin"></i></a>
                                            }

                                        }

                                    }
                                    if ((item.Status.ToString() == EConsultationStatusEnum.Closed.ToString()))
                                    {                                
                            <a href="@Url.Action("GetReport", "Econsultation", new { EcId = item.Id })" target="_blank" class="btn btn-success btn-sm" data-tooltip="tooltip" data-placement="top" title="Report"><i class="fa fa-download"></i></a>
                                    }
                                }
                                if (Roles.IsUserInRole(UserTypeEnum.VeterinarianLight.ToString()))
                                {
                                    if (item.CreatedBy == UserId)
                                    {
                            <a href="@Url.Action("ViewDetails", "Econsultation", new { EconsultID = item.Id })" class="btn btn-primary btn-sm" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Details">
                                <i class="fa fa-eye"></i></a>
                                    }
                                }

                                if (Roles.IsUserInRole(UserTypeEnum.VeterinarianExpert.ToString()))
                                {
                            <a href="@Url.Action("ExpertViewDetails", "Econsultation", new { EconsultID = item.Id })" class="btn btn-primary btn-sm" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Details">
                                <i class="fa fa-eye"></i></a>
                           
                                    if ((item.Status.ToString() == EConsultationStatusEnum.Scheduled.ToString() && ((item.Duration >= 0 && item.Duration <= 30) && (item.ECTime.Date.Equals(CurrentUserTime.Date)))) || item.Status.ToString() == EConsultationStatusEnum.InProgress.ToString())
                                    {
                                    
                            <a href="@Url.Action("StartEConsultation", "Econsultation", new { ecId = item.Id, userId = UserId })" class="btn btn-danger btn-sm" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Start">
                                <i class="fa fa-play fa-spin"></i></a>
                                  
                                    }

                                    if ((item.Status.ToString() == EConsultationStatusEnum.Closed.ToString()))
                                    {                                
                            <a href="@Url.Action("GetReport", "Econsultation", new { EcId = item.Id })" target="_blank" class="btn btn-success btn-sm" data-tooltip="tooltip" data-placement="top" title="Report"><i class="fa fa-download"></i></a>
                                    }
                                }

                            }
                            else
                            {
                            <a href="@Url.Action("ViewDetails", "Econsultation", new { EconsultID = item.Id })" class="btn btn-primary btn-sm" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Details">
                                <i class="fa fa-eye"></i></a>
                            }
                        }
                        else
                        {
                            <a href="#modelPetDeleted" data-toggle="modal" class="btn btn-primary btn-sm" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Details">
                                <i class="fa fa-eye"></i></a>
                        }
                    </td>
                </tr>                     
                }
            }
        </tbody>
    </table>
    <div class="clearfix"></div>
</div>

<div id="modelPetDeleted" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">@Resources.EC_View_PetNotFoundTitle</h4>
            </div>
            <form class="form-horizontal defaultForm" role="form">
                <div class="modal-body">
                    <label for="Subject" class="col-sm-12">@Resources.EC_View_PetNotFound</label>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnOk">@Resources.Pet_Edit_StatusConfirmationOkLabel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/customs/views/Econsultation/ExpertView.js")"></script>
