@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.Econsultation.ExpertViewDetials
@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers
@using Model

@{
    int EStatusId = Convert.ToInt16(TempData["EconsultStatusId"]);
    var ContactValue = "";
}

<link href="@Url.Content("~/Content/css/expertportal.css")" rel="stylesheet">

<div class="clearfix"></div>
<div id="content">
    <div id="pageTitle">
        <div class="row">
            <div class="col-md-8">
                <h1>EC ID - @Model.Id<span class="label label-info">@Model.Status</span></h1>
            </div>
            <div class="col-md-4"><a href="@Url.Action("Index", "Econsultation")" class="btn btn-primary pull-right"><i class="fa fa-angle-left"></i>@Resources.Econsultation_Add_Back</a> </div>
        </div>
    </div>
    <div id="mainContainer">
        
        <div id="cover4econsult" style="background:url(@Url.Content("~/Content/images/smo-cover.jpg")) center left repeat; padding:2% 20%;">
            <div id="Step1" onclick="toggle_visibility1();" class="consultSteptab radius3 active" style="width: 40%;">
                <a href="#" class="zoomin hidden-ani visible-ani animated zoomIn">@Resources.Econsultation_Add_Step1<br>
                    <span>@Resources.Econsultation_View_ECDetails</span><i class="fa fa-arrow-right"></i></a>
            </div>
            <div id="Step2" onclick="toggle_visibility2();" class="consultSteptab radius3" style="width: 40%;">
                <a href="#" class="zoomin hidden-ani visible-ani animated zoomIn">@Resources.Econsultation_Add_Step2<br>
                    @if (TempData["UserType"] == "1" && EStatusId == 6)
                    {
                        <span>@Resources.Econsultation_View_ViewReport</span> 
                    }
                    else
                    {              
                        <span>@Resources.Econsultation_View_ViewSubmit</span> 
                    }
                </a>
            </div>

            <div class="clearfix"></div>
        </div>
        <div id="econsultConfirm">
            <h4>
                <span class="pull-left">@Resources.Econsultation_View_ViewTitle</span>
                
                @if (TempData["UserType"] == "1" && EStatusId <= 3 && Model.StatusId != EConsultationStatusEnum.InProgress)
                {
                    <a href="@Url.Action("EditDetails", "Econsultation", new { ecId = @Model.Id })" class="pull-right text-primary" id="editEconsultation" data-toggle="modal" data-placement="" title="" data-original-title=" @Resources.Econsultation_Add_Edit">
                    <i class="fa fa-pencil"></i>@Resources.Econsultation_Index_Schedule</a>
                }
                
                <div class="clearfix"></div>
            </h4>
            <div id="EconsultDetails">
                <div class="columnfull">
                    <div class="detailrow">
                        <div>@Resources.Econsultation_Add_PetName</div>
                        <div class="colonspace">:</div>
                        <div>@Model.Name</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                        <div>@Resources.Econsultation_View_ECID</div>
                        <div class="colonspace">:</div>
                        <div>EC-@Model.Id</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                        <div>@Resources.Econsultation_Add_CountryOfEconsultation</div>
                        <div class="colonspace">:</div>
                        <div>@Html.EnumDisplay(Model.Country)</div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detailrow">
                    <div>@Resources.Econsultation_Add_TimeZoneOfEconsultation</div>
                    <div class="colonspace">:</div>
                    <div>@Html.EnumDisplay(Model.TimeZone)</div>
                    <div class="clearfix"></div>
                </div>

                <div class="detailrow">
                    <div>@Resources.Econsultation_Add_DayOfEconsultation</div>
                    <div class="colonspace">:</div>
                    <div>@Model.date.ToShortDateString()</div>
                    <div class="clearfix"></div>
                </div>

                <div class="detailrow">
                    <div>@Resources.Econsultation_Add_TimeOfEconsultation</div>
                    <div class="colonspace">:</div>
                    <div>@Model.time.ToShortTimeString()
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="detailrow">
                    <div>@Resources.Econsultation_Add_Status</div>
                    <div class="colonspace">:</div>
                    <div>@Html.EnumDisplay(Model.Status)</div>
                    <div class="clearfix"></div>
                </div>

                <div class="detailrow">
                    <div>@Resources.Econsultation_Add_ContactType</div>
                    <div class="colonspace">:</div>
                    <div>
                        @if(Model.ContactType.HasValue)
                        {
                            ContactValue = Model.ContactType + "-" + Model.ContactValue;
                        }
                        @ContactValue
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="detailrow">
                    <div>@Resources.Econsultation_Add_PetCondition</div>
                    <div class="colonspace">:</div>
                    <div>@Model.Condition</div>
                    <div class="clearfix"></div>
                </div>

                <div class="detailrow">
                    <div>@Resources.Econsultation_Add_SymptomsOfPet</div>
                    <div class="colonspace">:</div>
                    <div>1- @Model.Symtom1<br>
                        2- @Model.Symtom2<br>
                        3- @Model.Symtom3</div>
                        <div class="clearfix"></div>

                        <div class="clearfix"></div>
                    </div>

                </div>

            </div>

        </div>

        <div id="ExpertResponseSubmit" style="display: none">
            @if (TempData["UserType"] == "1" && (Model.Status.ToString() == EConsultationStatusEnum.Complete.ToString() || Model.Status.ToString() == EConsultationStatusEnum.InProgress.ToString()))
            {
                @Html.Action("SubmitReport", "Econsultation", new { EconsultID = Model.Id })                                          
            }
            @if (Model.Status.ToString() == EConsultationStatusEnum.Closed.ToString())
            {
                @Html.Action("ExpertViewReport", "Econsultation", new { EconsultID = Model.Id })                                          
            } 
        </div>

        <div id="ExpertResponseView" style="display: none">
        </div>
        <div id="editModalEconsultation" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" role="dialog" aria-hidden="true"></div>
    </div>
    <div class="clearfix"></div>
</div>
 <script src="@Url.Content("~/Scripts/customs/views/Econsultation/ExpertViewDetails.js")"></script>
