@using Resources = ADOPets.Web.Resources.Econsultation.Add
@model ADOPets.Web.ViewModels.Econsultation.JoinEConsultationModel
@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers
@using Model

@{
    int EStatusId = Convert.ToInt16(TempData["EconsultStatusId"]);
    int EStatusFlag = Convert.ToInt16(TempData["StatusModified"]);
    ViewBag.Title = "JoinEConsultation";
}

<div class="clearfix"></div>
<div id="content">
    <div id="pageTitle">
        <div class="row">
            <div class="col-md-8">
                <h1>EC @Model.Id</h1>
            </div>
            <div class="col-md-4"><a href="@Url.Action("Index", "Econsultation")" class="btn btn-primary pull-right"><i class="fa fa-angle-left"></i>@Resources.Back</a> </div>
        </div>
    </div>
    <div id="mainContainer">
        <div id="hiderightsidebar">
            <img src="@Url.Content("~/Content/images/hide-img.png")" width="22" height="34" alt="" />
        </div>
        <div id="showrightsidebar">
            <img src="@Url.Content("~/Content/images/show-img.png")" width="22" height="34" alt="" />
        </div>
        <div id="cover4econsult">
            <center>
            <div id="econsultdetailtab" class="radius3">
                <h3>@Model.date.Date.ToLongDateString() | @Model.time.ToShortTimeString()</h3>
                <span>@Resources.PetName - @Model.Name | 
                    Condition - @Model.Condition | 
                    Status - @Model.Status 
                </span>
            </div>
        </center>
            <div class="clearfix"></div>
        </div>
        <div id="econsultConfirm">
            <h4>
                <span class="pull-left">@Resources.SetupInformation</span>
                <div class="clearfix"></div>
            </h4>
            <div class="columnfull">
                <div class="detailrow">
                    <div>@Resources.PetName</div>
                    <div class="colonspace">:</div>
                    <div>@Model.Name</div>
                    <div class="clearfix"></div>
                </div>

                <div class="detailrow">
                    <div>E-Consultation ID</div>
                    <div class="colonspace">:</div>
                    <div>EC-@Model.Id</div>
                    <div class="clearfix"></div>
                </div>

                <div class="detailrow">
                    <div>@Resources.CountryOfEconsultation</div>
                    <div class="colonspace">:</div>
                    <div>United State</div>
                    <div class="clearfix"></div>
                </div>

                <div class="detailrow">
                    <div>What time zone you will be in during this consultation?</div>
                    <div class="colonspace">:</div>
                    <div>@Model.TimeZone.ToString()</div>
                    <div class="clearfix"></div>
                </div>

                <div class="detailrow">
                    <div>What day would you like to have your consult?</div>
                    <div class="colonspace">:</div>
                    <div>@Model.date.ToShortDateString()</div>
                    <div class="clearfix"></div>
                </div>

                <div class="detailrow">
                    <div>What time would you like to have your consult?</div>
                    <div class="colonspace">:</div>
                    <div>@Model.time.ToShortTimeString()
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="detailrow">
                    <div>Status</div>
                    <div class="colonspace">:</div>
                    <div>@Model.Status

                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="detailrow">
                    <div>What is the best way to contact you?</div>
                    <div class="colonspace">:</div>
                    <div>@Model.ContactType - @Model.ContactValue</div>
                    <div class="clearfix"></div>
                </div>

                <div class="detailrow">
                    <div>What is the Pet condition?</div>
                    <div class="colonspace">:</div>
                    <div>@Model.Condition</div>
                    <div class="clearfix"></div>
                </div>

                <div class="detailrow">
                    <div>Describe 3 key symptoms the Pet is experiencing</div>
                    <div class="colonspace">:</div>
                    <div>
                        1- @Model.Symtom1<br>
                        2- @Model.Symtom2<br>
                        3- @Model.Symtom3
                    </div>
                    <div class="clearfix"></div>

                    <div class="clearfix"></div>
                </div>

            </div>

            <h4>
                <span class="pull-left">@Resources.AssignVet</span>
                <div class="clearfix"></div>
            </h4>

            <div class="listing">
                <div class="row">
                    <div class="col-md-10">
                        <img src="@Url.Action("GetImage", "Message", new { fromUserId = Model.VetId })" class="img-responsive" />
                        <p>
                            <strong>First Name</strong> : <span>@Model.VetFirstName</span><br>
                            <strong>Last Name</strong> : <span>@Model.VetLastName</span><br>
                            <strong>Email</strong> : <span>@Model.VetEmail</span><br>
                            <strong>Specialty</strong> : <span>@Model.VetSpecility</span>
                        </p>
                    </div>
                    <div class="col-md-2 listing-control">
                        <a href="#" class="btn btn-primary" data-tooltip="tooltip" data-placement="top" data-original-title="Details"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>

        <div id="editModalEconsultation" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" role="dialog" aria-hidden="true"></div>
        <div id="popupblockModel" class="modal fade" tabindex="-1" aria-labelledby="popupblockModalLabel" role="dialog" aria-hidden="true"></div>

    </div>
    <div class="clearfix"></div>

</div>

<script type="text/javascript">
    var popupBlockerChecker = {
        check: function (popup_window) {
            var _scope = this;
            if (popup_window) {
                if (/chrome/.test(navigator.userAgent.toLowerCase())) {
                    setTimeout(function () {
                        _scope._is_popup_blocked(_scope, popup_window);
                    }, 200);
                } else {
                    popup_window.onload = function () {
                        _scope._is_popup_blocked(_scope, popup_window);
                    };
                }
            } else {
                _scope._displayError();
            }
        },
        _is_popup_blocked: function (scope, popup_window) {
            if ((popup_window.innerHeight > 0) == false) { scope._displayError(); }
        },
        _displayError: function () {
            //alert("Popup Blocker is enabled! Please add this site to your exception list.");
            $.get("/Account/Index/", function (data) {
                $('#popupblockModel').html(data);
                $('#popupblockModel').modal('show');
            });

        }
    };

    function func1() {
        //var url = "http://115.115.92.218/activ/index.html?userID=" + @Model.OwnerId +"&Econsultation_ID=" + @Model.Id +"&Room_ID=" + @Model.RoomId +"&userRole=1&Lang=1";
        var url = "/Econsultation/VideoConference?EcId=" + @Model.Id +"&UserType=1";
        var name = "Start Econsultation";
    }

    function open_on_entrance(url, name) {
        popupWin = window.open(url, "_blank");
        popupBlockerChecker.check(popupWin);
    }

    function addLoadEvent(func) {
        var oldonload = window.onload;
        //var url = "http://115.115.92.218/activ/index.html?userID=" + @Model.OwnerId +"&Econsultation_ID=" + @Model.Id +"&Room_ID=" + @Model.RoomId +"&userRole=1&Lang=1";
        var url = "/Econsultation/VideoConference?EcId=" + @Model.Id +"&UserType=1";
        var name = "Start Econsultation";
        if (typeof window.onload != 'function') {
            window.onload = open_on_entrance(url, "_blank");
        } else {
            window.onload = function () {
                if (oldonload) {
                    oldonload();
                }
                func();
            }
        }
    }

    addLoadEvent(func1);




</script>
