@using Resources = ADOPets.Web.Resources.Wording
@model ADOPets.Web.ViewModels.Veterinarian.AddViewModel
@using ADOPets.Web.Common.Extensions
@using Model


<div class="modal-dialog modal-lg">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.CloseButton</span></button>
            @*            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@

            <h4 class="modal-title" id="myModalLabel">@Resources.Veterinarian_Add_Title</h4>
        </div>
        @using (Ajax.BeginForm("Add", "Veterinarian", new AjaxOptions
                                                   {
                                                       UpdateTargetId = "veterinarianList",
                                                       HttpMethod = "POST",
                                                       InsertionMode = InsertionMode.Replace,
                                                       OnSuccess = "CloseDialogVeterinarian"
                                                   }, new { @id = "addVeterinarianForm", @class = "form-horizontal defaultForm", @role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div class="customscroll" style="height: 425px;">
                    @Html.HiddenFor(model => model.PetId)
                    <div class="form-group">
                        @Html.LabelRequiredFor(model => model.FirstName, new { @class = "col-sm-3 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = Resources.Veterinarian_Add_FirstNamePlaceHolder })
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                        @Html.LabelRequiredFor(model => model.LastName, new { @class = "col-sm-3 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = Resources.Veterinarian_Add_LastNamePlaceHolder })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.IsEmergencyContact, new { @class = "col-sm-3 control-label" })
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.IsEmergencyContact, Resources.Veterinarian_Add_IsEmergencyContactYes, new { style = "padding-left:24px;" })
                            @Html.RadioButtonFor(model => model.IsEmergencyContact, true, new { id = "IsEmergencyContact" })
                            @Html.Label("IsEmergencyContact_NO", Resources.Veterinarian_Add_IsEmergencyContactNo, new { style = "padding-left:23px;" })
                            @Html.RadioButtonFor(model => model.IsEmergencyContact, false, new { id = "IsEmergencyContact_NO" })
                        </div>
                        @Html.LabelFor(model => model.IsCurrentVeterinarian, new { @class = "col-sm-3 control-label" })
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.IsCurrentVeterinarian, Resources.Veterinarian_Add_IsCurrentVeterinarianYes, new { style = "padding-left:19px;" })
                            @Html.RadioButtonFor(model => model.IsCurrentVeterinarian, true, new { id = "IsCurrentVeterinarian" })
                            @Html.Label("IsCurrentVeterinarian_No", Resources.Veterinarian_Add_IsCurrentVeterinarianNo, new { style = "padding-left:19px;" })
                            @Html.RadioButtonFor(model => model.IsCurrentVeterinarian, false, new { id = "IsCurrentVeterinarian_No" })
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, new { @class = "col-sm-3 control-label" })
                        <div class="col-md-3">
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control datepicker datepickerCustomValidation", placeholder = Resources.Veterinarian_Add_StartDatePlaceHolder })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.StartDate)
                        </div>
                        @Html.LabelFor(model => model.EndDate, new { @class = "col-sm-3 control-label" })
                        <div class="col-md-3">
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control datepicker datepickerCustomValidation", placeholder = Resources.Veterinarian_Add_EndDatePlaceHolder })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.EndDate)
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NPI, new { @class = "col-sm-3 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.NPI, new { @class = "form-control", placeholder = Resources.Veterinarian_Add_NPIPlaceHolder })
                            @Html.ValidationMessageFor(model => model.NPI)
                        </div>
                        @Html.LabelFor(model => model.HospitalName, new { @class = "col-sm-3 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.HospitalName, new { @class = "form-control", placeholder = Resources.Veterinarian_Add_HospitalNamePlaceHolder })
                        </div>
                        <div class="clearfix"></div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Address1, new { @class = "col-sm-3 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Address1, new { @class = "form-control", placeholder = Resources.Veterinarian_Add_Address1PlaceHolder })
                        </div>
                        @Html.LabelFor(model => model.Address2, new { @class = "col-sm-3 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Address2, new { @class = "form-control", @rows = "3", placeholder = Resources.Veterinarian_Add_Address2PlaceHolder })
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    @*hide some fields for fr domain *@
                    @if (ADOPets.Web.Common.Helpers.DomainHelper.GetDomain() == DomainTypeEnum.French)
                    {   
                        <div class="form-group">
                            @Html.LabelFor(model => model.Country, new { @class = "col-sm-3 control-label" })
                            <div class="col-md-3">
                                @Html.EnumDropDownListFor(model => model.Country, Resources.Veterinarian_Add_CountryPlaceHolder, new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(model => model.City, new { @class = "col-sm-3 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.City, new { @class = "form-control", placeholder = Resources.Veterinarian_Add_CityPlaceHolder })
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Zip, new { @class = "col-sm-3 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.Zip, new { @class = "form-control", placeholder = Resources.Veterinarian_Add_ZipPlaceHolder })
                                @Html.ValidationMessageFor(model => model.Zip)
                            </div>
                            @Html.LabelFor(model => model.Home, new { @class = "col-sm-3 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.Home, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Home)
                            </div>
                            <div class="clearfix"></div>
                        </div>                    
                        <div class="form-group">
                            @Html.LabelFor(model => model.Cell, new { @class = "col-sm-3 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.Cell, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Cell)
                            </div>
                            @Html.LabelFor(model => model.Fax, new { @class = "col-sm-3 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.Fax, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Fax)
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "col-sm-3 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = Resources.Veterinarian_Add_EmailPlaceHolder })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            @Html.LabelFor(model => model.VetSpeciality, new { @class = "col-sm-3 control-label" })
                            <div class="col-md-3">
                                @Html.EnumDropDownListFor(model => model.VetSpeciality, Resources.Veterinarian_Add_SpecialityPlaceHolder, new { @class = "form-control" })

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="Comments" class="col-sm-3 control-label">Comments</label>
                            <div class="col-md-3">
                                @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", placeholder = Resources.Veterinarian_Add_CommentsPlaceHolder })
                            </div>
                        </div>
                    }
                    else
                    {                    
                        <div class="form-group">
                            @Html.LabelFor(model => model.Country, new { @class = "col-sm-3 control-label" })
                            <div class="col-md-3">
                                @Html.EnumDropDownListFor(model => model.Country, Resources.Veterinarian_Add_CountryPlaceHolder, new { @class = "form-control" })
                            </div>
                            <label for="State" class="col-sm-3 control-label">State</label>
                            <div class="col-md-3">
                                @Html.EnumDropDownListFor(model => model.State, Resources.Veterinarian_Add_StatePlaceHolder, new { @class = "form-control" })
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.City, new { @class = "col-sm-3 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.City, new { @class = "form-control", placeholder = Resources.Veterinarian_Add_CityPlaceHolder })
                            </div>
                            @Html.LabelFor(model => model.Zip, new { @class = "col-sm-3 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.Zip, new { @class = "form-control", placeholder = Resources.Veterinarian_Add_ZipPlaceHolder })
                                @Html.ValidationMessageFor(model => model.Zip)
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Home, new { @class = "col-sm-3 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.Home, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Home)
                            </div>
                            @Html.LabelFor(model => model.Office, new { @class = "col-sm-3 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.Office, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Office)
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Cell, new { @class = "col-sm-3 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.Cell, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Cell)
                            </div>
                            @Html.LabelFor(model => model.Fax, new { @class = "col-sm-3 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.Fax, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Fax)
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "col-sm-3 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = Resources.Veterinarian_Add_EmailPlaceHolder })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            <label for="Comments" class="col-sm-3 control-label">Comments</label>
                            <div class="col-md-3">
                                @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", placeholder = Resources.Veterinarian_Add_CommentsPlaceHolder })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.VetSpeciality, new { @class = "col-sm-3 control-label" })
                            <div class="col-md-3">
                                @Html.EnumDropDownListFor(model => model.VetSpeciality, Resources.Veterinarian_Add_SpecialityPlaceHolder, new { @class = "form-control" })

                            </div>
                        </div>  
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">@Resources.Veterinarian_Add_SaveChanges</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Veterinarian_Add_Cancel</button>
            </div>
        }
    </div>
</div>

<script src="@Url.Content("~/Scripts/customs/views/Veterinarian/Form.js")"></script>



