@using Resources = ADOPets.Web.Resources.Wording
@model IEnumerable<ADOPets.Web.ViewModels.Veterinarian.IndexViewModel>
@using ADOPets.Web.Common.Extensions
@using ADOPets.Web.Common.Helpers

<div class="messageStyle">
    @{ Html.RenderPartial("_Alerts"); }
</div>

<div id="veterinarianList" class="table-responsive">

    @Html.RenderSuccessMessage("veterinarianSuccessMessage", TempData["SuccessMessage"])

    <table id="Table_veterinarian" class="table table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="text-primary">
                <th width="5%">&nbsp;</th>
                <th width="5%">&nbsp;</th>
                <th>@Resources.Veterinarian_Index_FirstName</th>
                <th>@Resources.Veterinarian_Index_LastName</th>
                <th>@Resources.Veterinarian_Index_PhoneHome</th>
                @if (UserHelper.CanDeletePet(ViewBag.PetId))
                {
                    if (ShareInfoHelper.IsSharedUser(ViewBag.PetId, ViewBag.UserId))
                    {
                        if (SMOHelper.CanEditPet(ViewBag.PetId))
                        {
                    <th>@Resources.Veterinarian_Index_Action</th>
                        }
                    }
                }
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.IsEmergencyContact == true)
                    {              <span class="label label-default" data-tooltip="tooltip" style="font-weight:400;" data-placement="top" title="@Resources.Veterinarian_Index_IsEmergencyContact">@Resources.Veterinarian_Index_EMR</span><br> }
                    else
                    { <span>&nbsp; </span>}
                </td>
                <td>
                    @if (item.IsCurrentVeterinarian == true)
                    {              <span class="label label-default" data-tooltip="tooltip" style="font-weight:400;" data-placement="top" title="@Resources.Veterinarian_Index_IsCurrentVeterinarian">@Resources.Veterinarian_Index_Current</span><br> }
                    else
                    { <span>&nbsp; </span>}
                </td>

                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.PhoneHome))
                    { <text>@item.PhoneHome</text> }
                    else if (!string.IsNullOrEmpty(item.PhoneOffice))
                    { <text>@item.PhoneOffice</text> }
                    else if (!string.IsNullOrEmpty(item.PhoneCell))
                    { <text>@item.PhoneCell</text> }
                </td>
                @if (UserHelper.CanDeletePet(ViewBag.PetId))
                {
                    if (ShareInfoHelper.IsSharedUser(ViewBag.PetId, ViewBag.UserId))
                    {
                        if (SMOHelper.CanEditPet(ViewBag.PetId))
                        {
                    <td>

                        <a href="@Url.Action("Edit", "Veterinarian", new { veterinarianId = item.Id })" class="btn btn-success btn-sm editVeterinarian" data-tooltip="tooltip" data-placement="top" title="@Resources.Veterinarian_Index_Edit"><i class="fa fa-pencil"></i></a>
                        <a href="@Url.Action("DeleteConfirm", "Veterinarian", new { veterinarianId = item.Id, petId = ViewBag.PetId })" class="btn btn-warning btn-sm deleteVeterinarian" data-tooltip="tooltip" data-placement="top" data-original-title="@Resources.Veterinarian_Index_Delete" aria-describedby="tooltip739263"><i class="fa fa-trash-o"></i></a>

                    </td>
                        }
                    }
                }
            </tr>
        }
    </table>
</div>

<script src="~/Scripts/customs/views/Veterinarian/List.js"></script>
